{% extends 'base.html.twig' %}

{% block title %}Connexion à Scrilab
{% endblock %}
{% block metatags %}
	<meta name="turbo-visit-control" content="reload">
{% endblock %}
{% block body %}
	<section class="col-span-12 w-full md:col-start-4 mx-auto">
		<div class="modal__container sm:h-auto sm:w-auto  shadow-xl w-screen items-center flex md:flex-none  justify-center" role="dialog" aria-modal="true" aria-labelledby="popup-register-title">
			<div class="px-6 lg:px-8 relative" style="width:100%">
				<h3 class="modal-header">
					<i class="fa-duotone fa-right-to-bracket"></i>
					Connexion sur Scrilab
				</h3>
				<hr class="mb-5 mt-5">
				<a href="{{path("connect_google")}}" class="bg-[#DB4437] opacity-90 rounded  hover:opacity-100 text-white font-bold py-2 px-4 flex flex-row items-center justify-center mx-auto gap-x-4">
					<i class="fa-brands fa-google"></i>
					<span>Me connecter avec Google</span>
				</a>
				<div class="inline-flex items-center justify-center w-full mt-4">
					<hr class="w-full h-1 my-8 bg-gray-200 border-[1px] rounded dark:bg-gray-700">
					<div class="absolute px-4 -translate-x-1/2 -mt-4 font-normal bg-white left-1/2 italic dark:bg-gray-900">
						Ou avec mon email
					</div>
				</div>

				<turbo-frame id="loginframe" class="w-full">
					<form method="post" action="{{ path("app_login") }}" class="w-full -mt-5">
						{% if error is defined %}
							{% if error %}
								<div class="flex justify-center items-center font-bold mt-10">
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								</div>
							{% endif %}
						{% endif %}
						<div>
							<label tabindex="1" for="email" class="block text-sm text-left font-semibold text-slate-900 dark:text-white">Mon adresse email</label>
							<div class="relative mb-6">
								<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
									<i class="fa-regular fa-envelope dark:text-slate-200"></i>
								</div>
								<input type="email" value="{% if last_username is defined %}{{ last_username }}{% endif %}" name="email" id="inputEmail" autofocus>
							</div>
						</div>
						<div>
							<label tabindex="3" for="password" class="block text-left text-sm font-semibold text-slate-900 dark:text-white">Mon mot de passe
								<button tabindex="4" type="button" onclick='MicroModal.show("popup-forgotpw");document.getElementById("popup-login").classList.add("animate__animated","animate__fadeOut");MicroModal.close("popup-login");document.getElementById("popup-login").classList.remove("animate__animated","animate__fadeOut")' class="text-sm font-medium text-blue-600  dark:text-sky-400 float-right">
									<i class="fa-sharp fa-regular fa-key-skeleton"></i>
									&nbsp;&nbsp;<span class="hover:underline text-blue-600  dark:text-sky-400">oublié ?</span>
								</button>
							</label>
							<div class="relative mb-6">
								<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
									<i class="fa-regular fa-lock-keyhole dark:text-slate-200"></i>
								</div>
								<input type="password" name="password" id="inputPassword">
							</div>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="flex justify-between ">
							<div class="flex items-start">
								<div class="flex items-center h-5">
									<input type="checkbox" id="remember" name="_remember_me">
								</div>
								<label for="remember" class="ml-2 text-sm font-semibold text-slate-900 dark:text-slate-300">Rester connecté(e)</label>
							</div>
						</div>

						<button type="submit" class="button-classic w-full flex justify-center button-slate -mt-10">
							<i class="fa-duotone fa-right-to-bracket"></i>
							Connexion</button>
					</form>
					<hr class="mb-0">
					<div class="flex flex-row justify-center items-center gap-x-2 text-s text-sm  text-slate-600 dark:text-slate-200">
						<a href="{{path("app_register_full")}}" target="_top" class="modal-register-login-button w-full" tabindex="0">
							Je n'ai pas encore de compte Scrilab&nbsp;&nbsp;&nbsp;<i class="fa-duotone fa-chevrons-right"></i>
						</a>
					</div>
				</turbo-frame>
			</p>
		</div>
	</div>
</section>{% endblock %}
