{% extends 'base.html.twig' %}

{% block title %}Scrilab | Atelier d'écriture en ligne
{% endblock %}
{% block stylesheets %}
	<link rel="canonical" href="https://scrilab.com{{ canonicalUrl }}"/>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
	<div class="bg-home dark:hidden opacity-50 -z-50 left-0 fixed h-screen w-full bg-repeat"></div>
	<ul class=" shadow dark:shadow-xl rounded-lg flex md:hidden flex-row justify-between items-center  mb-8 xl:mb-0 space-x-5 z-50 text-slate-900 dark:text-indigo-300">
		<li class="navbar-home-item">
			<a href="{{path("app_publication_show_all_category")}}">
				<i class="fa-duotone fa-book-open-reader text-purple-500  "></i>
				<span>Lire</span>
			</a>
		</li>
		<li class="navbar-home-item" {% if not app.user %} data-micromodal-trigger="popup-register" {% endif %}>
			{% if app.user %}
				<a href="{{path("app_publication_add")}}">
					<i class="fa-duotone  fa-pen-to-square text-blue-400"></i>
					<span>Écrire</span>
				</a>
			{% else %}
				<button>
					<i class="fa-duotone  fa-pen-to-square text-blue-400"></i>
					<span>Écrire</span>
				</button>
			{% endif %}
		</li>
		<li class="navbar-home-item">
			<a href="{{path("app_challenge")}}">
				<i class="fa-duotone fa-hand-holding-seedling sexercer" style="--fa-primary-color: #18cd58; --fa-secondary-color: #1e3150; --fa-secondary-opacity: 0.7;"></i>
				<span>S'exercer</span>
			</a>
		</li>
		<li class="navbar-home-item">
			<a href="{{path("app_forum")}}">
				<i class="fa-duotone fa-comments text-rose-500"></i>
				<span>Discuter</span>
			</a>
		</li>
	</ul>
	<div class="flex flex-col md:gap-y-20 gap-y-10">
		<section class=" z-50 order-4">
			<div class="my-special-hr">
				<hr>
				<h1>
					Dernières réactions chimiques
					<i class="fa-duotone fa-fire-flame-curved  text-rose-500"></i>
				</h1>
				<hr>
			</div>
			<div class="h-[34rem] -mt-20 md:-mt-5  overflow-hidden">
				<div class="opacity-80 grayscale-[30%] w-full">
					{{  component('feed_component')}}
				</div>
				<div class="fadeout"></div>
			</div>
			<div class="text-right mt-10">
				<a href="{{ path("app_social_feed")}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
					<span class="text-base">
						<i class="fa-duotone fa-stars"></i>
						Voir toute l'actualités
					</span>
				</a>
			</div>
		</section>
		<section class="md:order-first order-3">
			<div class="my-special-hr mt-12">
				<hr>
				<h1>
					Pourquoi nous rejoindressss ?
					<i class="fa-duotone fa-question-circle text-blue-500"></i>
				</h1>
				<hr>
			</div>
			<div class=" glide-top glide md:mt-0 -mt-10  left-0 z-0 h-auto cursor-default" id="glide">
				<div class="flex flex-col">
					<div class="glide-market glide -mt-10 md:-mb-2 left-0">
						<div data-glide-el="track" class="glide__track mx-16">
							<div class="glide__slides mx-auto">
								<div class="glide__slide  w-full  mt-10 lg:mt-0 p-0 lg:p-10  mx-auto flex justify-center rounded-lg ">
									<div class="grid flex-col mx-auto lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center ">
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-people-line"></i><br>
												Communauté littéraire
											</h5>
											<p>
												Rejoignez un cercle d'écrivains passionnés et développez votre talent avec notre communauté.
												{% if app.user %}
													<a href="{{path("app_publication_add")}}" class="font-bold hover:underline ">Publiez</a>
												{% else %}


													<span data-micromodal-trigger="popup-register" class="font-bold hover:underline cursor-pointer">Publiez</span>

												{% endif %}
												, échangez sur nos
												<a href="{{path("app_forum")}}" class="font-bold hover:underline">forums de discussion</a>
												et améliorez-vous grâce à notre module de révision participatif.
											</p>
										</div>
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-hand-holding-seedling"></i><br>
												Ateliers d'écriture
											</h5>
											<p>
												Exercez-vous avec des
												<a href="{{path("app_challenge")}}" class="font-bold hover:underline ">ateliers d'écriture</a>
												proposés par la communauté, afin de vous perfectionner et de développer votre créativité !
											</p>
										</div>
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-pen-swirl"></i><br>
												Éditeur de texte avancé
											</h5>
											<p>
												Libérez votre créativité  grâce à notre éditeur de texte avancé. Sauvegarde automatique, système de révision, création illimitée.
											</p>
										</div>
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-up-down-left-right"></i><br>
												Organisation flexible
											</h5>
											<p>
												Organisez efficacement le contenu de vos histoires pour une lecture fluide et agréable, grâce à nos outils de structuration et de mise en page.
											</p>
										</div>
									</div>
								</div>
								<div class="glide__slide w-full  mb-10 mt-10 lg:mt-0 p-0 lg:p-10  rounded-lg ">
									<h1 class="hidden">Confort de lecture</h1>
									<div class="grid flex-col lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center mx-auto">
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-lightbulb-on"></i><br>
												Des textes mis en valeur
											</h5>
											<p class="">
												Notre interface épurée met en valeur les histoires et offre à nos lecteurs une expérience de lecture immersive.
											</p>
										</div>
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-couch"></i><br>
												Confort de lecture
											</h5>
											<p>
												Nos lecteurs jouissent d'une expérience de lecture optimale grâce à notre mode sombre, qui réduit la fatigue oculaire et offre un confort de lecture accru.
											</p>
										</div>
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-folder-bookmark"></i><br>
												Collection de textes
											</h5>
											<p>
												Nos outils de citation, de surlignage, d'annotation, de commentaire et de partage vous permettent de consigner tout ce que vous lisez.
											</p>
										</div>
										<div class="slide-card">
											<h5>
												<i class="fa-duotone fa-bell"></i><br>
												Suivi et notifications
											</h5>
											<p>
												Abonnez-vous à un auteur ou à n'importe quel récit pour êtes notifié de la publication d'un nouveau récit ou d'un nouveau chapitre.
											</p>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="glide__arrows text-xl" data-glide-el="controls">
							<button class="glide__arrow glide__arrow--left mr-10" aria-label="Passer à la diapositive précédente" data-glide-dir="&lt;">
								<i class="fa-regular fa-arrow-left"></i>
							</button>
							<button class="glide__arrow glide__arrow--right" aria-label="Passer à la diapositive suivante" data-glide-dir="&gt;">
								<i class="fa-regular fa-arrow-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="z-50 md:order-3 order-first md:-mt-20">
			<div class="my-special-hr">
				<hr class="">
				<h1>
					Sortis du chaudron
					<i class="fa-duotone fa-cauldron fa-bounce text-slate-600" style="--fa-secondary-color: #17d998; --fa-secondary-opacity: 1;"></i>
				</h1>
				<hr>
			</div>
			<div class="display_publications big showHome">
				{% for item in pub_last %}

					{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'published', 'querySortby':'published', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}

				{% endfor %}
			</div>
			<div class="text-right">
				<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"published", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto md:mt-5 mt-0" style="font-weight:600">
					<span class="text-base">
						<i class="fa-duotone fa-stars"></i>
						Voir toutes les nouveautés
					</span>
				</a>
			</div>
		</section>
		<section class="z-50  order-4">
			<div class="my-special-hr">
				<hr>
				<h1>
					Derniers chapitres publiés !
					<i class="fa-duotone fa-file-waveform text-orange-500"></i>
				</h1>
				<hr class="mb-20">
			</div>
			<div class="display_publications">
				{% for item in pub_updated %}
					{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'sheet', 'querySortby':'sheet', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
				{% endfor %}
			</div>

			<div class="mt-10 text-right">
				<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"sheet", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
					<span class="text-base">
						<i class="fa-duotone fa-stars"></i>
						Voir tous les derniers chapitres !
					</span>
				</a>
			</div>
		</section>
		<section class="z-50 order-6">
			<div class="my-special-hr">
				<hr>
				<h1>
					Récits populaires
					<i class="fa-duotone fa-fire text-red-500"></i>
				</h1>
				<hr class="mb-20">
			</div>
			<div class="display_publications">
				{% for item in pub_pop %}
					{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'pop', 'querySortby':'pop', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
				{% endfor %}
			</div>
			<div class="mt-10 text-right">
				<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"pop", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
					<span class="text-base">
						<i class="fa-duotone fa-stars"></i>
						Voir tous les récits populaires !
					</span>
				</a>
			</div>
		</section>
		{% if pub_challenge|length > 0 %}
			<section class="z-50 order-5">
				<div class="my-special-hr">
					<hr class="">
					<h1>
						Dernières réponses aux exercices
						<i class="fa-duotone fa-hand-holding-seedling text-emerald-500"></i>
					</h1>
					<hr class="mb-20">
				</div>
				<div class="display_publications">
					{% for item in pub_challenge %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'pop', 'querySortby':'pop', 'queryOrder':'desc','queryKeystring':null,type:"challenges", 'querySlug':item.slug} %}
					{% endfor %}
				</div>
				<div class="mt-10 text-right">
					<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"challenge", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
						<span class="text-base">
							<i class="fa-duotone fa-stars"></i>
							Voir toutes les réponses aux exercices !
						</span>
					</a>
				</div>
			</section>
		{% endif %}
	</div>
{% endblock %}
