{% extends 'base.html.twig' %}

{% block title %}Scrilab | Web-éditeur
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
	<div class="bg-home dark:hidden opacity-50 -z-50 left-0 fixed h-screen w-full bg-repeat"></div>
	<section class="col-span-12">
		<ul class="text-base shadow dark:shadow-xl rounded-lg flex flex-row justify-between items-start -mt-8 lg:-mt-4 mb-8 lg:mb-0 space-x-5 z-50 text-slate-900 dark:text-indigo-300">
			<li class="rounded-r-0 navbar-button navbar-button-home ">
				{% if app.user %}
					<i class="fa-duotone fa-book text-blue-400  text-3xl md:text-xl"></i>
					<a href="{{path("app_publication_add")}}">
						Publiez votre roman
					</a>
				{% else %}
					<i class="fa-duotone fa-book text-blue-400 text-3xl md:text-xl"></i>
					<button data-micromodal-trigger="popup-register">
						Publiez votre roman
					</button>
				{% endif %}
			</li>
			<li class="navbar-button navbar-button-home">
				{% if app.user %}
					<i class="fa-duotone fa-square-rss text-emerald-500  text-3xl md:text-xl"></i>
					<a href="{{path("app_publication_add")}}">
						Créez votre blog</a>
				{% else %}
					<i class="fa-duotone fa-square-rss text-emerald-500  text-3xl md:text-xl"></i>
					<button data-micromodal-trigger="popup-register">
						Créez votre blog
					</button>
				{% endif %}
			</li>
			<li class="navbar-button navbar-button-home">
				<i class="fa-duotone fa-comment-music text-purple-500  text-3xl md:text-xl"></i>
				{% if app.user %}
					<a href="{{path("app_publication_add")}}">
						Déclamez votre poésie
					</a>
				{% else %}
					<button data-micromodal-trigger="popup-register">
						Déclamez votre poésie
					</button>
				{% endif %}
			</li>
			<li class="navbar-button navbar-button-home">
				<i class="fa-duotone fa-book-open-reader text-teal-500  text-3xl md:text-xl"></i>
				<a class="text-center" href="{{path("app_publication_show_all_category")}}">
					Lisez des tas de récits
				</a>
			</li>
		</ul>
		<div class="glide-top glide mt-5  left-0 z-50">
			<div data-glide-el="track" class="glide__track rounded-lg ring-0 dark:ring-slate-600">
				<div class="glide__slides min-h-[40vh] relative">
					{% for item in publications %}
						{% if item.cover %}
							{% set cover = item.cover|replace({'/upload/': '/upload/e_vectorize:colors:3,'}) %}
						{% endif %}
						<a href="{{path("app_publication_show_one", {id:item.id, slug:item.slug})}}" class="bg-cover bg-center grayscale-[30%] dark:grayscale-[80%] {{ not item.cover ? " bg-slate-50 dark:bg-slate-900"}}" {% if item.cover %} style="background-image:url('{{cover}};')" {% endif %} {{ item.cover ? "backdrop-blur-md" : "" }}>
							<div class="glide__slide p-10">
								<div class=" flex flex-col items-center justify-center {{item.cover ? " text-white" : " dark:text-slate-100 text-slate-900"}}" {% if item.cover %} style="text-shadow: 1px 1px 0px #000" {% endif %}>
									<h1 class=" text-center pt-20 {{item.cover ? " text-white" : " text-slate-900"}}">{{ item.title }}</h1>
									<h2 class="-mt-5 text-base font-bold ">par
										{{item.user.nickname}}
									</h2>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="glide__bullets" data-glide-el="controls[nav]">
				{% set n = 0 %}
				{% for item in publications %}
					<button class="glide__bullet" data-glide-dir="={{n}}"></button>
					{% set n = n + 1 %}
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="col-span-12 z-10">
		<div class="glide-market glide -mt-10 left-0">
			<div data-glide-el="track" class="glide__track mx-16">
				<div class="glide__slides">
					<div class="glide__slide  w-full mb-10 mt-10 lg:mt-0 p-0 lg:p-10  rounded-lg ">
						<h1 class="hidden">Confort d'écriture</h1>
						<div class="grid flex-col lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center mx-auto">
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-pen-swirl"></i><br>
									Éditeur de texte avancé
								</h5>
								<p>
									Libérez votre créativité  grâce à notre éditeur de texte avancé. Sauvegarde automatique, système de révision, création illimitée.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-badge-check"></i><br>
									Textes protégés
								</h5>
								<p>
									Vos textes sont votre propriété intellectuelle et sont systématiquement protégés grâce à des certifications inviolables.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-up-down-left-right"></i><br>
									Organisation flexible
								</h5>
								<p>
									Organisez efficacement le contenu de vos histoires pour une lecture fluide et agréable, grâce à nos outils de structuration et de mise en page.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-fire"></i><br>
									Mesure de popularité
								</h5>
								<p>
									Mesurez l'impact de vos textes grâce à nos outils statistiques qui vous permettent de suivre leur popularité.
								</p>
							</a>
						</div>
					</div>
					<div class="glide__slide w-full  mb-10 mt-10 lg:mt-0 p-0 lg:p-10  rounded-lg ">
						<h1 class="hidden">Confort de lecture</h1>
						<div class="grid flex-col lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center mx-auto">
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-lightbulb-on"></i><br>
									Des textes mis en valeur
								</h5>
								<p>
									Notre interface épurée met en valeur les histoires et offre à nos lecteurs une expérience de lecture immersive.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-couch"></i><br>
									Confort de lecture
								</h5>
								<p>
									Nos lecteurs jouissent d'une expérience de lecture optimale grâce à notre mode sombre, qui réduit la fatigue oculaire et offre un confort de lecture accru.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-folder-bookmark"></i><br>
									Collection de textes
								</h5>
								<p>
									Nos outils de citation, de surlignage, d'annotation, de commentaire et de partage vous permettent de consigner tout ce que vous lisez.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-bell"></i><br>
									Suivi et notifications
								</h5>
								<p>
									Abonnez-vous à un auteur, un blog ou à n'importe quel récit pour êtes notifié de la publication d'un nouveau billet ou d'un nouveau chapitre.
								</p>
							</a>
						</div>
					</div>
					<div class="glide__slide  mb-10 mt-10 lg:mt-0 p-0 lg:p-10  rounded-lg ">
						<h1 class="hidden">Confort de lecture</h1>
						<div class="grid flex-col lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center mx-auto">
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-chart-network"></i><br>
									Un grand réseau de distribution
								</h5>
								<p>
									Scrilab garantit la diffusion de vos récits sur tous les media à sa disposition, ce qui vous permet de toucher un public plus large et diversifié.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-store"></i><br>
									Percer en librairie
								</h5>
								<p>
									Attirez l'attention des maisons d'édition traditionnelles. Vous avez ainsi l'opportunité de saisir des connexions précieuses et de voir vos œuvres publiées en librairie.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-brands fa-google"></i><br>
									Un référencement optimisé
								</h5>
								<p>
									Nous optimisons votre contenu pour les moteurs de recherche, pour vous permettre d'atteindre un public plus large et mieux ciblé.
								</p>
							</a>
							<a href="#" class="slide-card">
								<h5>
									<i class="fa-duotone fa-viruses"></i><br>
									Une viralité maximale
								</h5>
								<p>
									Nos outils de partage et de recommandation de contenus favorisent la propagation rapide de vos histoires sur les réseaux sociaux.
								</p>
							</a>
						</div>
					</div>
				</div>
				{# MD 1 by 1 #}

			</div>
			<div class="glide__arrows" data-glide-el="controls">
				<button class="glide__arrow glide__arrow--left mr-10" data-glide-dir="&lt;">
					<span class="material-icons-outlined">
						arrow_back_ios
					</span>
				</button>
				<button class="glide__arrow glide__arrow--right" data-glide-dir="&gt;">
					<span class="material-icons-outlined">
						arrow_forward_ios
					</span>
				</button>
			</div>
			<div class="glide__bullets hidden" data-glide-el="controls[nav]">
				<button class="glide__bullet" data-glide-dir="=0"></button>
				<button class="glide__bullet" data-glide-dir="=1"></button>
				<button class="glide__bullet" data-glide-dir="=2"></button>
				<button class="glide__bullet" data-glide-dir="=3"></button>
				<button class="glide__bullet" data-glide-dir="=4"></button>
				<button class="glide__bullet" data-glide-dir="=5"></button>
				<button class="glide__bullet" data-glide-dir="=6"></button>
				<button class="glide__bullet" data-glide-dir="=7"></button>
			</div>
		</div>
	</section>
	<div class="col-span-12 -mt-20">
		<hr>

		{# <h1 class="text-center">Publiez des romans, de la poésie ; créez des blogs</h1> #}
	</div>
{% endblock %}
