{% extends 'base.html.twig' %}

{% block title %}Scrilab | Communauté littéraire
{% endblock %}
{% block stylesheets %}
	<link rel="canonical" href="https://scrilab.com{{ canonicalUrl }}"/>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
	<div class="bg-home dark:hidden opacity-50 -z-50 left-0 fixed h-screen w-full bg-repeat"></div>
	<ul class=" shadow dark:shadow-xl rounded-lg flex md:hidden flex-row justify-between items-center  mb-8 xl:mb-0 space-x-5 z-50 text-slate-900 dark:text-indigo-300">

		<li class="navbar-home-item">
			<a href="{{path("app_publication_show_all_category")}}">
				<i class="fa-duotone fa-book-open-reader text-purple-500  "></i>
				<span>Lire</span>
			</a>
		</li>

		<li class="navbar-home-item" {% if not app.user %} data-micromodal-trigger="popup-register" {% endif %}>
			{% if app.user %}
				<a href="{{path("app_publication_add")}}">
					<i class="fa-duotone fa-book text-blue-400"></i>
					<span>Publier</span>
				</a>
			{% else %}
				<button>
					<i class="fa-duotone fa-book text-blue-400"></i>
					<span>Publier</span>
				</button>
			{% endif %}
		</li>
		<li class="navbar-home-item">

			<a href="{{path("app_forum")}}">
				<i class="fa-duotone fa-people-arrows text-emerald-500"></i>
				<span>Discuter</span>
			</a>

		</li>

	</ul>
	<div class="glide-top glide mt-10  left-0 z-0 h-auto cursor-default" id="glide">
		<div class="flex flex-col">
			<section class="order-3 md:order-3 mt-10 md:mt-20">
				<div class="my-special-hr mt-12">
					<hr>
					<h1>
						Pourquoi écrire ici ?
						<i class="fa-duotone fa-question-circle text-blue-500"></i>
					</h1>
					<hr>
				</div>
				<div class="glide-market glide -mt-10 md:-mb-2 mb-12 left-0">
					<div data-glide-el="track" class="glide__track mx-16">
						<div class="glide__slides mx-auto">
							<div class="glide__slide  w-full  mt-10 lg:mt-0 p-0 lg:p-10 mx-auto flex justify-center rounded-lg ">
								<div class="grid flex-col mx-auto lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center ">
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-people-line"></i><br>
											Communauté littéraire
										</h5>
										<p>
											Rejoignez un cercle d'écrivains passionnés et développez votre talent avec notre communauté. Partagez vos œuvres, recevez des conseils précieux.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-pen-swirl"></i><br>
											Éditeur de texte avancé
										</h5>
										<p>
											Libérez votre créativité  grâce à notre éditeur de texte avancé. Sauvegarde automatique, système de révision, création illimitée.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-badge-check"></i><br>
											Textes protégés
										</h5>
										<p>
											Vos textes sont votre propriété intellectuelle et sont systématiquement protégés grâce à des certifications inviolables.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-up-down-left-right"></i><br>
											Organisation flexible
										</h5>
										<p>
											Organisez efficacement le contenu de vos histoires pour une lecture fluide et agréable, grâce à nos outils de structuration et de mise en page.
										</p>
									</div>
								</div>
							</div>
							<div class="glide__slide w-full  mb-10 mt-10 lg:mt-0 p-0 lg:p-10  rounded-lg ">
								<h1 class="hidden">Confort de lecture</h1>
								<div class="grid flex-col lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center mx-auto">
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-lightbulb-on"></i><br>
											Des textes mis en valeur
										</h5>
										<p>
											Notre interface épurée met en valeur les histoires et offre à nos lecteurs une expérience de lecture immersive.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-couch"></i><br>
											Confort de lecture
										</h5>
										<p>
											Nos lecteurs jouissent d'une expérience de lecture optimale grâce à notre mode sombre, qui réduit la fatigue oculaire et offre un confort de lecture accru.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-folder-bookmark"></i><br>
											Collection de textes
										</h5>
										<p>
											Nos outils de citation, de surlignage, d'annotation, de commentaire et de partage vous permettent de consigner tout ce que vous lisez.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-bell"></i><br>
											Suivi et notifications
										</h5>
										<p>
											Abonnez-vous à un auteur, un blog ou à n'importe quel récit pour êtes notifié de la publication d'un nouveau billet ou d'un nouveau chapitre.
										</p>
									</div>
								</div>
							</div>
							<div class="glide__slide  mb-10 mt-10 lg:mt-0 p-0 lg:p-10  rounded-lg ">
								<h1 class="hidden">Confort de lecture</h1>
								<div class="grid flex-col lg:flex-row grid-cols-1 lg:grid-cols-4 gap-y-5 lg:gap-y-0 gap-x-0 lg:gap-x-5 justify-center mx-auto">
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-chart-network"></i><br>
											Un grand réseau de distribution
										</h5>
										<p>
											Scrilab garantit la diffusion de vos récits sur tous les media à sa disposition, ce qui vous permet de toucher un public plus large et diversifié.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-store"></i><br>
											Percer en librairie
										</h5>
										<p>
											Attirez l'attention des maisons d'édition traditionnelles. Vous avez ainsi l'opportunité de saisir des connexions précieuses et de voir vos œuvres publiées en librairie.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-brands fa-google"></i><br>
											Un référencement optimisé
										</h5>
										<p>
											Nous optimisons votre contenu pour les moteurs de recherche, pour vous permettre d'atteindre un public plus large et mieux ciblé.
										</p>
									</div>
									<div class="slide-card">
										<h5>
											<i class="fa-duotone fa-viruses"></i><br>
											Une viralité maximale
										</h5>
										<p>
											Nos outils de partage et de recommandation de contenus favorisent la propagation rapide de vos histoires sur les réseaux sociaux.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="glide__arrows text-xl" data-glide-el="controls">
						<button class="glide__arrow glide__arrow--left mr-10" aria-label="Passer à la diapositive précédente" data-glide-dir="&lt;">
							<i class="fa-regular fa-arrow-left"></i>
						</button>
						<button class="glide__arrow glide__arrow--right" aria-label="Passer à la diapositive suivante" data-glide-dir="&gt;">
							<i class="fa-regular fa-arrow-right"></i>
						</button>
					</div>
				</div>
			</section>
			<section class=" -mt-0 md:-mt-10 z-50 order-1 md:order-1">
				<div class="my-special-hr">
					<hr>
					<h1>

						Derniers récits
						<i class="fa-duotone fa-stars text-yellow-500"></i>
					</h1>
					<hr>
				</div>
				<div class="display_publications big showHome">
					{% for item in pub_last %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'published', 'querySortby':'published', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
					{% endfor %}
				</div>
				<div class="mt-20 text-right">
					<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"published", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
						<span class="text-base">
							<i class="fa-duotone fa-stars"></i>
							Voir plus de récits !
						</span>
					</a>
				</div>
			</section>
			<section class="md:mt-12 mt-10 z-50 order-2 md:order-2">
				<div class="my-special-hr">
					<hr>
					<h1>
						Dernières feuilles publiées !
						<i class="fa-duotone fa-newspaper text-green-500"></i>
					</h1>
					<hr class="mb-20">
				</div>
				<div class="display_publications">
					{% for item in pub_updated %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'sheet', 'querySortby':'sheet', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
					{% endfor %}
				</div>

				<div class="mt-20 text-right">
					<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"sheet", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
						<span class="text-base">
							<i class="fa-duotone fa-stars"></i>
							Voir plus de récits !
						</span>
					</a>
				</div>
			</section>
			<section class="w-full md:mt-0 mt-0 z-50  order-4 md:order-4 flex flex-col md:flex-row gap-x-12 mb-0 md:mb-0">
				<div class="w-full md:w-3/6 mb-0 md:mb-8">
					<div class="my-special-hr">
						<hr>
						<h1>
							Derniers sujets
							<i class="fa-duotone fa-comments text-slate-500"></i>
						</h1>
						<hr>
					</div>
					<div class="flex flex-col gap-y-6 -mt-14 md:-mt-0">
						{% for item in topics_last %}
							<div class="flex flex-row  items-start gap-x-3 rounded  p-3 bg-slate-50 dark:bg-slate-700">
								<div class="flex flex-col w-full">
									<p class=" font-semibold text-sm md:text-base flex catColorText-{{item.category.color}} flex-row gap-x-3 items-baseline  lg:text-left text-center">
										<i class="fa-duotone {{item.category.icon}} rounded-full p-1.5 dark:bg-slate-900 bg-slate-200"></i>
										<a href="{{path("app_forum_topic_read", {slug:item.category.slug, slugTopic:item.slug, id:item.id})}}" class="hover:underline">
											{{item.title}}
										</a>
									</p>
									<div class="flex  text-[0.75rem] flex-col lg:flex-row items-center  text-slate-500  border-[1px] border-l-0 border-r-0 dark:border-slate-600 border-slate-200 justify-between gap-x-1 gap-y-1 mt-2 px-2 py-2 w-full ">
										<div class="flex flex-row gap-x-5 justify-between  lg:order-2 order-2">
											<div class="flex flex-row items-center gap-x-1">
												{% if item.user.profilPicture %}
													<div class="max-w-[1rem]">
														<a href="{{path('app_user', {username:item.user.username})}}">
															<img class="object-cover rounded w-full h-full" src="{{item.user.profilPicture}}"/>
														</a>
													</div>
												{% endif %}
												<a href="{{path('app_user', {username:item.user.username})}}" class="hover:underline text-slate-900 dark:text-slate-200">{{item.user.nickname}}</a>
											</div>
											<span class="flex flex-row items-center gap-x-1 {{item.forumMessages|length > 0 ? " dark:text-slate-300 text-slate-800" : " text-slate-400 dark:text-slate-500"}}">
												<i class="fa-duotone fa-comment-alt"></i>
												{{item.forumMessages|length == 0 ? "Aucune réponse" : item.forumMessages|length }}
											</span>
											{% if app.user and unreadMessageCounts[item.id] > 0 %}
												<span class=" text-emerald-500">
													<i class="fa-duotone fa-comment-dots" data-tippy-content="Nouveaux messages depuis votre dernière visite"></i>
													{{unreadMessageCounts[item.id]}}
												</span>
											{% endif %}
											<span>
												<i class="fa-regular fa-clock"></i>
												{{item.createdAt|since}}
											</span>
										</div>
										<p class="text-xs font-semibold lg:order-1 order-1  flex flex-row gap-x-2 items-center">
											<a href="{{path('app_forum_topic', {slug:item.category.slug})}}" class=" hover:underline">
												{{item.category.name}}
											</a>
										</p>
									</div>
									<div class="flex flex-col gap-x-2 items-baseline  w-full">
										<p class="text-sm px-4 text-slate-500 dark:text-slate-400 line-clamp-3  mt-2 w-full">
											{{item.content}}...
										</p>

									</div>
								</div>
							</div>
						{% endfor %}
						<p class="text-center mt-5 flex flex-row gap-x-3 font-semibold items-center justify-center">
							<i class="fa-duotone fa-list text-slate-500"></i>
							<a href="{{path("app_forum")}}" class="hover:underline dark:text-slate-300">Voir tous les sujets</a>
						</p>
					</div>
				</div>
				<div class="w-full md:w-3/6 mt-10 md:mt-0">
					<div class="my-special-hr">
						<hr>
						<h1>
							Derniers commentaires
							<i class="fa-duotone fa-comment-lines text-indigo-500"></i>
						</h1>
						<hr>
					</div>
					<div class="flex flex-col gap-y-6 -mt-14 md:-mt-0">
						{% for item in comments_last %}
							<div class="flex flex-row  items-start gap-x-3 rounded  p-3 bg-slate-50 dark:bg-slate-700">
								<div class="flex flex-col w-full gap-y-2">
									<div class="flex  text-sm flex-row items-center  text-slate-500 dark:border-slate-600 border-slate-200 justify-between gap-x-1 px-2 w-full ">
										<div class=" flex flex-row w-full gap-x-5 justify-between lg:order-1 order-2">
											<div class="flex flex-row items-center gap-x-1">
												{% if item.user.profilPicture %}
													<div class="max-w-[1rem]">
														<a href="{{path('app_user', {username:item.user.username})}}">
															<img class="object-cover rounded-full w-full h-full" src="{{item.user.profilPicture}}"/>
														</a>
													</div>
												{% endif %}
												<a href="{{path('app_user', {username:item.user.username})}}" class="hover:underline text-slate-900  dark:text-slate-200">{{item.user.nickname}}</a>
											</div>
											<span class="text-xs">
												<i class="fa-regular fa-clock"></i>
												il y a
												{{item.publishedAt|since}}
											</span>
										</div>
									</div>
									<hr class="mb-0 mt-0 dark:border-slate-600">

									<div class="flex flex-col gap-x-2 gap-y-2 items-baseline text-slate-900 dark:text-slate-300  w-full my-3">
										<p class="text-base  line-clamp-3  px-4 w-full italic">
											<sup class="mr-2 text-blue-500">
												<i class="fa-regular fa-comment-quote fa-flip-horizontal"></i>
											</sup>
											{{item.content}}...
										</p>
										{% if item.quote %}
											<blockquote class="mt-1 border-l-4 w-full border-blue-200 pl-4 italic  " id="insightQuote">
												<p class="font-serif  quoteComment   text-[0.85rem]">{{item.quote}}</p>
											</blockquote>
										{% endif %}
									</div>
									<hr class="mb-0 mt-0 dark:border-slate-600">
									<div class=" text-sm flex flex-row items-center gap-x-2 md:text-base dark:text-slate-400 text-slate-500">
										{% if item.publication.cover %}
											<div class="w-6">
												<img src="{{item.publication.cover}}" class="w-6 h-9  rounded" alt="">
											</div>
										{% endif %}
										<div class="flex flex-col ">
											{% if item.chapter %}
												<span class="text-sm">
													<a href="{{ path("app_chapter_show", {slugPub:item.publication.slug, user:item.publication.user.username, idChap:item.chapter.id, slug:item.chapter.slug}) }}#comment-{{item.id}}" class="hover:underline">{{item.chapter.title}}</a>
												</span>
												<span class=" font-normal items-center flex flex-row gap-x-2 text-xs">
													<i class="fa-regular fa-book"></i>
													<a href="{{ path("app_publication_show_one", {id:item.publication.id, slug:item.publication.slug}) }}" class="hover:underline">{{item.publication.title}}</a>
												</span>
											{% else %}
												<span class=" font-normal items-center flex flex-row gap-x-2 text-xs">
													<i class="fa-regular fa-book"></i>
													<a href="{{ path("app_publication_show_one", {id:item.publication.id, slug:item.publication.slug}) }}">{{item.publication.title}}</a>
												</span>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>

			<section class="md:mt-22 mt-24 z-50 order-5 md:order-5">
				<div class="my-special-hr">
					<hr>
					<h1>
						Récits populaires
						<i class="fa-duotone fa-fire text-red-500"></i>
					</h1>
					<hr class="mb-20">
				</div>
				<div class="display_publications">
					{% for item in pub_pop %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':'pop', 'querySortby':'pop', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
					{% endfor %}
				</div>
				<div class="mt-20 text-right">
					<a href="{{ path("app_publication_show_all_category", {slug:"all", sortby:"pop", order:"desc", page:1})}}" class="button-classic button-gray w-full md:w-2/6 mx-auto" style="font-weight:600">
						<span class="text-base">
							<i class="fa-duotone fa-stars"></i>
							Voir plus de récits !
						</span>
					</a>
				</div>
			</section>
		</div>
	{% endblock %}
