{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

	<section class="col-span-12 content-evently">
		{{ form_start(form, {attr:{"data-turbo-frame":"comment-section"}}) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary" id="sendComment">Create</button>
		{{ form_end(form) }}
		{{nbrCom}}
		<turbo-frame id="comment-section">
			{% set n = 0 %}
			{% for item in pCom|sort((a, b) => a.publishedAt > b.publishedAt ? -1 : 1) %}
				{% include "publication/_partials/_comment.html.twig" with { item:item, n:n, pcom:nbrCom} %}
				{% set n = n + 1  %}
			{% endfor %}
			{% if nbrShowCom < nbrCom %}
				<a href="{{path("app_test", app.request.query.all|merge({nbrShowCom:nbrShowCom + 10}))}}">Afficher plus de commentaires</a>
			{% endif %}
		</turbo-frame>
	</section>
</section>{% endblock %}
