<div
	class="sticky top-0 z-100" class="z-index:9999999" style="z-index:9000">
	{# !! lire, écrire, corriger #}
	<nav class="z-index:9999999">
		<div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto text-center z-100">
			<a href="{{ path("app_home")}}" target="_self" class="flex items-center  md:order-1 ">
				<span id="logo" class="self-center text-3xl  whitespace-nowrap dark:text-white">
					Scr<span class="relative">;</span>lab
				</span>
			</a>
			<button data-collapse-toggle="navbar-default" type="button" class=" dark:opacity-90 inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
				</svg>
			</button>
			<div id="navbar-default" class="items-center justify-between hidden w-full text-sm md:flex md:w-auto md:order-1">
				<ul class="flex flex-col mt-4 font-medium md:flex-row  gap-y-5 md:mt-0  ">
					<li>
						<button id="mega-menu-icons-dropdown-button" data-dropdown-toggle="mega-menu-icons-dropdown" type="button" class="text-slate-800 dark:text-slate-50 hover:bg-slate-50 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-slate-700 focus:outline-none dark:focus:ring-slate-800">
							<span class="material-icons-outlined">
								auto_stories
							</span>
							&nbsp;Lire
						</button>
					</li>
					{% if app.user %}
						<li>
							<a href="{{ path("app_publication_add")}}" type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="text-slate-800 dark:text-slate-50 hover:bg-slate-50 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-slate-700 focus:outline-none dark:focus:ring-slate-800">
								<span class="material-icons-outlined">
									draw
								</span>
								Écrire
							</a>
						</li>
					{% else %}
						<li>
							<button data-micromodal-trigger="popup-register" target="_self" class="text-slate-800 dark:text-slate-50 hover:bg-slate-50 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-slate-700 focus:outline-none dark:focus:ring-slate-800">
								<span class="material-icons-outlined">
									draw
								</span>
								Écrire
							</button>
						</li>
					{% endif %}
					<li>
						<button id="mega-menu-full-services-button" data-dropdown-toggle="mega-menu-full-services" type="button" class="text-slate-800 dark:text-slate-50 hover:bg-slate-50 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-slate-700 focus:outline-none dark:focus:ring-slate-800">
							<span class="material-icons-outlined">
								handyman
							</span>
							&nbsp;Services éditoriaux
						</button>
					</li>

					{% if app.user %}
						<li class="flex justify-center md:flex-none md:justify-self-auto">
							<button type="button" id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 flex gap-x-2 ">
								{% if app.user.profilPicture %}
									<img id="profil_picture_navbar" class="h-5 w-5 rounded-full" src="{{app.user.profilPicture}}" alt="Photo de profil">
								{% else %}
									<span class="material-icons-outlined">
										account_circle
									</span>
								{% endif %}
								<span id="username_login">
									{{ app.user.username|length > 10 ? app.user.username|slice(0, 10) ~ '...' : app.user.username }}
								</span>
							</button>
						</li>
						<li>
							<button id="notification-menu-button" data-dropdown-toggle="notification-menu" type="button" class="text-gray-800 relative dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2  md:py-2.5 mr-1 md:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
								<span class="material-icons-outlined">
									notifications
								</span>
								{% if notificationRepository.findBy({"user":app.user.id,"ReadAt":null})|length > 0 %}
									<div id="nbr-notification" class="absolute inline-flex items-center justify-center w-4 h-4 text-[0.5rem] text-white bg-red-500 border-2 border-white rounded-full top-2 right-2 dark:border-gray-900">
										{{ notificationRepository.findBy({"user":app.user.id,"ReadAt":null})|length }}
									</div>
								{% endif %}
							</button>
							<button id="darkButton" class="text-gray-800 relative dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2  md:py-2.5 mr-1 md:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
								<span class="material-icons-outlined" id="darkMode">
									{{app.user.userParameters ? app.user.userParameters.darkmode == true ? "wb_sunny" : "dark_mode" }}
								</span>
							</button>
						</li>
					</ul>
					<!-- Dropdown menu -->
					<div id="dropdownInformation" class="z-20 border-t-2 border-t-purple-400 hidden bg-white divide-y divide-gray-100  shadow-lg w-52 dark:bg-slate-700 dark:divide-gray-600">
						<ul class="text-sm text-gray-700 dark:text-gray-200 text-left font-base" aria-labelledby="dropdownInformationButton">
							<li>
								<a href="{{ path("app_user", { username : app.user.username}) }}" class=" hover:bg-gray-100 text-gray-900 dark:text-slate-200 dark:hover:bg-slate-600 block px-4 py-3 text-sm">
									<span class="material-icons-outlined">
										face
									</span>
									&nbsp;Mon profil</a>
							</li>
							<li>
								<a href="{{ path("app_user_collection")}}" class=" hover:bg-gray-100 text-gray-900 dark:text-slate-200 dark:hover:bg-slate-600 block px-4 py-3 text-sm">
									<span class="material-icons-outlined">
										collections_bookmark
									</span>
									&nbsp;Ma collection</a>
							</li>
							<li>
								<a href="{{ path("app_user_show_publications") }}" class=" hover:bg-gray-100 text-gray-900 dark:text-slate-200 dark:hover:bg-slate-600 block px-4 py-3 text-sm">
									<span class="material-icons-outlined">
										auto_stories
									</span>
									&nbsp;Mes récits</a>
							</li>
						</ul>
						<div class="text-left">
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path("app_admin") }}" class=" py-3 hover:bg-gray-100 text-gray-900 dark:text-slate-200 dark:hover:bg-slate-600 block px-4 text-sm">
									<span class="material-icons-outlined">
										admin_panel_settings
									</span>
									&nbsp;Admin</a>
							{% endif %}
							<a href="{{ path("app_user_account") }}" class=" py-3 hover:bg-gray-100 text-gray-900 dark:text-slate-200 dark:hover:bg-slate-600 block px-4 text-sm">
								<span class="material-icons-outlined">
									manage_accounts
								</span>
								Mon compte
							</a>
						</div>
						<div class="text-left">
							<a href="{{ path("app_logout")}}" class=" hover:bg-gray-100 text-gray-900 dark:text-slate-200 py-3 dark:hover:bg-slate-600 block px-4  text-sm">
								<span class="material-icons-outlined">
									logout
								</span>
								&nbsp;Déconnexion</a>
						</div>
					</div>
				{% else %}
					<button data-micromodal-trigger="popup-login" class="text-slate-800 dark:text-slate-50 hover:bg-slate-50 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-slate-700 focus:outline-none dark:focus:ring-slate-800">
						<span class="material-icons-outlined">
							login
						</span>
						Connexion
					</button>
					<button data-micromodal-trigger="popup-register" class="button-classic button-slate">
						<span class="material-icons-outlined">
							person_add
						</span>
						Inscription
					</button>
					<button id="darkButtonSession" class="ml-5 text-slate-800 dark:text-slate-50 hover:bg-slate-50 focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-slate-700 focus:outline-none dark:focus:ring-slate-800">
						<span class="material-icons-outlined" id="darkModeSession">
							{{ app.session.get('darkmode') and app.session.get('darkmode') == true ? "wb_sunny" : "dark_mode"}}
						</span>
					</button>
				{% endif %}

				<div id="tooltip-dm" role="tooltip" class=" absolute z-10 invisible px-3 py-2 text-xs font-normal text-white bg-slate-700 rounded-lg opacity-0 tooltip dark:bg-gray-700">
					Passer en mode
					<span id="darkMode"></span>
					<div class="tooltip-arrow" data-popper-arrow></div>
				</div>
			</div>
			{% if app.user %}
				<div id="notification-menu" class="absolute z-10 top-2 hidden text-sm bg-white border  border-t-2 border-t-blue-400 shadow-md max-h-[25rem] overflow-y-auto dark:border-t-sky-700 dark:border-slate-700 md:grid-cols-3 dark:bg-slate-700 w-96">
					<div class="pt-0 pb-0 text-gray-900 md:pb-4 dark:text-white divide-y divide-gray-100">
						<ul class="space-y-3 px-3 gap-x-2 flex flex-col pt-3" aria-labelledby="notification-menu-button">
							{% if notificationRepository.findBy({"user":app.user.id})|length == 0 %}
								<p class="p-3 pt-5">
									<span class="material-icons-outlined">
										notifications_paused
									</span>
									Aucune notification</p>
							{% endif %}
							{% set n = 1 %}
							{% for item in notificationRepository.findBy({"user":app.user.id})|sort((a, b) => a.id > b.id ? -1 : 1) %}
								<li class="notification-one {{item.readAt is null ? " opacity-100" : " opacity-60 grayscale"}}">
									{% include "partials/_notification-system.html.twig" with {item:item} %}
								</li>
								{% if notificationRepository.findBy({"user":app.user.id})|length > n %}
									<hr class="dark:border-slate-500">
								{% endif %}
								{% set n = n + 1 %}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
			<div id="mega-menu-icons-dropdown" class="absolute z-10 hidden w-auto text-sm  bg-white  border-slate-100 border-t-2  border-t-green-400 shadow-md dark:border-b-none dark:border-l-none dark:border-r-none dark:border-t-blue-500  md:grid-cols-3 dark:bg-slate-700 dark:shadow-2xl">
				<div class=" pt-0 pb-0 text-slate-900 md:pb-4 dark:text-white divide-y divide-slate-100 dark:divide-slate-600">
					<div aria-labelledby="mega-menu-icons-dropdown-button" class="w-full hover:bg-slate-50 border-b-[1px] border-b-slate-200 dark:border-b-slate-900 ">
						<a class=" opacity-100 block px-4 py-4 text-sm text-slate-900    dark:bg-slate-700 dark:hover:bg-slate-600 dark:text-gray-200 dark:hover:text-white  font-medium" href="{{ path("app_publication_show_all_category", {slug:null, page:null})}}">
							Afficher tous les récits
						</a>
					</div>
					<ul class="gap-y-5 px-6 flex-col grid-rows-6 grid-flow-col gap-x-5 grid justify-items-start items-baseline py-3" aria-labelledby="mega-menu-icons-dropdown-button">
						{% for item in publicationCategoryRepository.findAll()|sort((a, b) => a.slug < b.slug ? -1 : 1) %}
							<li class="flex justify-center justify-items-center">
								<a href="{{ path("app_publication_show_all_category", {slug:item.slug, page:null})}}" class=" text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500 group">
									<span class="sr-only">{{ item.name }}</span>
									{# <span class="flex w-3 h-3 catColor-{{item.color}} rounded-full"></span> #}
									<span class="rounded py-1 px-2 font-normal catColor-{{item.color}}">{{ item.name }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div id="mega-menu-full-services" class="mt-10 border-t-2 border-t-sky-400 bg-white hidden absolute w-full shadow-lg  dark:bg-slate-700 dark:border-gray-600">
			<div class="grid grid-cols-1 col-span-5  grid-rows-1 lg:grid-cols-2  gap-x-5 justify-center max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:px-6 ">
				<ul aria-labelledby="mega-menu-full-services-button" class="flex-col h-full items-start  space-y-2">
					<li class="flex gap-x-2 items-center">
						<span class="material-icons-outlined">
							draw
						</span>
						<a href="{{path("app_service_copywriting")}}" class="block p-3 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-300 dark:hover:bg-opacity-20">
							<div class="font-semibold">Rédaction de contenu</div>
							<span class="text-sm font-light text-slate-500 dark:text-slate-300">Améliorez votre visibilité en ligne et attirez un trafic qualifié sur votre site web grâce à notre service de rédaction de contenu optimisé pour vos besoins.</span>
						</a>
					</li>
					<li class="flex gap-x-2 items-center">
						<span class="material-icons-outlined">
							spellcheck
						</span>
						<a href="#" class="block p-3 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-300 dark:hover:bg-opacity-20">
							<div class="font-semibold">Correction</div>
							<span class="text-sm font-light text-slate-500 dark:text-slate-300">Ne laissez pas des erreurs de grammaire et d'orthographe ternir votre image. Notre service de correction professionnel vous garantit des textes impeccables.</span>
						</a>
					</li>
				</ul>
				<ul aria-labelledby="mega-menu-full-services-button" class="flex-col h-full items-start  space-y-2">
					<li class="flex gap-x-2 items-center">
						<span class="material-icons-outlined">
							translate
						</span>
						<a href="#" class="block p-3 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-300 dark:hover:bg-opacity-20">
							<div class="font-semibold">Traduction</div>
							<span class="text-sm font-light text-slate-500 dark:text-slate-300">Augmentez votre portée mondiale en toute confiance grâce à notre service de traduction.</span>
						</a>
					</li>
					<li class="flex gap-x-2 items-center">
						<span class="material-icons-outlined">
							local_library
						</span>
						<a href="#" class="block p-3 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-300 dark:hover:bg-opacity-20">
							<div class="font-semibold">Relecture et retours</div>
							<span class="text-sm font-light text-slate-500 dark:text-slate-300">Obtenez des retours personnalisés pour améliorer la qualité de vos écrits. Nos professionnels vous conseillent sur la structure, le style et la clarté de votre texte.</span>
						</a>
					</li>
				</ul>
			</div>
			<ul class="p-5 bg-slate-100 dark:bg-slate-900 shadow-2xl ">
				<li class="text-center">
					<span class="text-slate-500 dark:text-slate-300 text-xs">Vous souhaitez proposer l'un de ces services ?</span><br>
					<a href="" class="font-medium hover:underline text-slate-900 dark:text-slate-100">
						Rejoignez notre équipe en deux clics !</a>
					<span class="material-icons-outlined  dark:text-slate-100">
						handshake
					</span>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div class="absolute z-[99999999]">
	{% include "partials/_register-modal.html.twig" with {"modal" : "reset"} %}
	{% include "partials/_reset_password-modal.html.twig" %}
	{% include "partials/_login-modal.html.twig" with {"modal" : "reset"} %}
	{% include "partials/_cgu-modal.html.twig" with {"modal" : "reset"} %}</div>
