{# Nouveau commentaire sur l'une de vos publications #}
<div class="one-notification  p-3 text-sm text-left flex flex-row items-baseline gap-3">
	{% if item.type == 1 %}
		<i class="fa-regular fa-comment"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de rédiger un commentaire sur votre publication
			<a href="{{path("app_publication_show_one", {id:item.comment.publication.id, slug:item.comment.publication.slug})}}">
				{{item.comment.publication.title}}
			</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouveau commentaire sur l'un de vos chapitres #}
	{% if item.type == 2 %}
		<i class="fa-regular fa-comment"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de rédiger un commentaire sur la feuille
			<a href="{{path("app_chapter_show", {slugPub:item.comment.publication.slug,user:item.user.username,idChap:item.comment.chapter.id,slug:item.comment.chapter.slug})}}">
				{{item.comment.chapter.title}}
			</a>
			de votre récit
			<a href="{{path("app_publication_show_one", {id:item.comment.publication.id, slug:item.comment.publication.slug})}}">{{item.comment.publication.title}}</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouveau like sur l'un de vos commentaires #}
	{% if item.type == 3 %}
		<i class="fa-regular fa-comment-heart"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient d'aimer votre commentaire
			{# la publication #}
			{% if item.likeComment.comment.chapter %}
				sur la feuille
				<a href="{{path("app_chapter_show", {slugPub:item.likeComment.comment.chapter.slug,user:item.user.username,idChap:item.likeComment.comment.chapter.id,slug:item.likeComment.comment.chapter.slug})}}">{{item.likeComment.comment.chapter.title}}</a>
				du récit
				<a href="{{path("app_publication_show_one", {id:item.likeComment.comment.publication.id, slug:item.likeComment.comment.publication.slug})}}">{{item.likeComment.comment.publication.title}}</a>
			{% else %}
				sur le récit
				<a href="{{path("app_publication_show_one", {id:item.likeComment.comment.publication.id, slug:item.likeComment.comment.publication.slug})}}">{{item.likeComment.comment.publication.title}}</a>
			{% endif %}
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouveau bookmark s #}
	{% if item.type == 4 %}
		{# Si le bookmark concerne une publication propre #}
		{% if item.publicationBookmark.chapter != null %}
			<i class="fa-regular fa-bookmark"></i>
			<span>
				<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
				vient d'ajouter à sa collection la feuille
				<a href="{{path("app_chapter_show", {slugPub:item.publicationBookmark.chapter.publication.slug,user:item.user.username,idChap:item.publicationBookmark.chapter.id,slug:item.publicationBookmark.chapter.slug})}}">{{item.publicationBookmark.chapter.title}}</a>
				de votre récit
				<a href="{{path("app_publication_show_one", {id:item.publicationBookmark.chapter.publication.id, slug:item.publicationBookmark.chapter.publication.slug})}}">{{item.publicationBookmark.chapter.publication.title}}</a>
				<p>il y a
					{{item.createdAt|since}}
				</p>
			</span>
		{% else %}
			{# Si le bookmark concerne un chapitre #}
			<i class="fa-regular fa-book-bookmark"></i>
			<span>
				<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
				vient d'ajouter à sa collection votre récit
				<a href="{{path("app_publication_show_one", {id:item.publicationBookmark.publication.id, slug:item.publicationBookmark.publication.slug})}}">{{item.publicationBookmark.publication.title}}</a>
				<p>il y a
					{{item.createdAt|since}}
				</p>
			</span>
		{% endif %}
	{% endif %}
	{# Nouveau téléchargement #}
	{% if item.type == 5 %}
		<i class="fa-regular fa-download"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de télécharger la version PDF de votre récit
			<a href="{{path("app_publication_show_one", {id:item.download.publication.id, slug:item.download.publication.slug})}}">{{item.download.publication.title}}</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouveau like chapter #}
	{% if item.type == 6 %}
		<i class="fa-regular fa-thumbs-up"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient d'aimer votre feuille
			<a href="{{path("app_chapter_show", {slugPub:item.chapterLike.chapter.publication.slug,user:item.user.username,idChap:item.chapterLike.chapter.id,slug:item.chapterLike.chapter.slug})}}">{{item.chapterLike.chapter.title}}</a>
			de votre récit
			<a href="{{path("app_publication_show_one", {id:item.chapterLike.chapter.publication.id, slug:item.chapterLike.chapter.publication.slug})}}">{{item.chapterLike.chapter.publication.title}}</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle feuille publiée sur une suivie de publication #}
	{% if item.type == 7 %}
		<i class="fa-sharp fa-regular fa-newspaper"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de publier une nouvelle feuille sur le récit que vous suivez
			<a href="{{path("app_publication_show_one", {id:item.publicationFollow.publication.id, slug:item.publicationFollow.publication.slug})}}">{{item.publicationFollow.publication.title}}</a>
			—
			<a href="{{path("app_chapter_show", {slugPub:item.publicationFollow.publication.slug,user:item.publicationFollow.publication.user.username,idChap:item.publicationFollow.id,slug:item.publicationFollow.slug})}}">{{item.publicationFollow.title}}</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvel abonnement à une de vos publications #}
	{% if item.type == 8 %}
		<i class="fa-regular fa-bell-plus"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de s'abonner à votre récit
			<a href="{{path("app_publication_show_one", {id:item.publicationFollowAdd.id, slug:item.publicationFollowAdd.slug})}}">{{item.publicationFollowAdd.title}}</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle réponse à un commentaire  #}
	{% if item.type == 9 %}
		<i class="fa-regular fa-comments"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de répondre à votre commentaire sur la publication
			<a href="{{path("app_publication_show_one", {id:item.replyComment.publication.id, slug:item.replyComment.publication.slug})}}">
				{{item.replyComment.publication.title}}
			</a>
			{% if item.replyComment.chapter %}
				sur la feuille «
				<a href="{{path("app_chapter_show", {slugPub:item.replyComment.publication.slug,user:item.user.username,idChap:item.replyComment.chapter.id,slug:item.replyComment.chapter.slug})}}">{{item.replyComment.chapter.title}}</a>
				»
			{% endif %}
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle révision sur un chapitre de votre publication  #}
	{% if item.type == 10 %}
		<i class="fa-regular fa-highlighter-line"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de vous suggérer une modification pour améliorer le texte de votre feuille
																																																			«
			<a href="{{path("app_chapter_revision", {slugPub:item.revisionComment.chapter.publication.slug,user:item.user.username,idChap:item.revisionComment.chapter.id,slug:item.revisionComment.chapter.slug})}}">{{item.revisionComment.chapter.title}}</a>
			» pour le récit
			<a href="{{path("app_publication_show_one", {id:item.revisionComment.chapter.publication.id, slug:item.revisionComment.chapter.publication.slug})}}">
				{{item.revisionComment.chapter.publication.title}}
			</a>
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle réponse sur l'un de vos sujets de forum #}
	{% if item.type == 11 %}
		<i class="fa-regular fa-comment-alt"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de répondre à votre sujet de forum «
			<a href="{{path("app_forum_topic_read", {slug:item.forumMessage.topic.category.slug,id:item.forumMessage.topic.id,slugTopic:item.forumMessage.topic.slug})}}">{{item.forumMessage.topic.title}}</a>
			»
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle réponse sur l'un de vos sujets de forum #}
	{% if item.type == 12 %}
		<i class="fa-regular fa-at"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de vous mentionner dans sa réponse au sujet du forum «
			<a href="{{path("app_forum_topic_read", {slug:item.assignForumMessage.topic.category.slug,id:item.assignForumMessage.topic.id,slugTopic:item.assignForumMessage.topic.slug})}}">{{item.assignForumMessage.topic.title}}</a>
			»
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle réponse sur l'un de vos sujets de forum #}
	{% if item.type == 13 %}
		<i class="fa-kit fa-regular-at-circle-bolt"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de vous mentionner son sujet de forum «
			<a href="{{path("app_forum_topic_read", {slug:item.assignForumTopic.category.slug,id:item.assignForumTopic.id,slugTopic:item.assignForumTopic.slug})}}">{{item.assignForumTopic.title}}</a>
			»
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
	{# Nouvelle réponse sur l'un de vos sujets de forum #}
	{% if item.type == 14 %}
		<i class="fa-regular fa-at fa-flip-horizontal"></i>
		<span>
			<a href="{{path("app_user", {username:item.fromUser.username})}}">{{item.fromUser.nickname}}</a>
			vient de vous citer dans un commentaire sur la publication
			<a href="{{path("app_publication_show_one", {id:item.assignComment.publication.id, slug:item.assignComment.publication.slug})}}">
				{{item.assignComment.publication.title}}
			</a>
			{% if item.assignComment.chapter %}
				sur la feuille «
				<a href="{{path("app_chapter_show", {slugPub:item.assignComment.publication.slug,user:item.user.username,idChap:item.assignComment.chapter.id,slug:item.assignComment.chapter.slug})}}">{{item.assignComment.chapter.title}}</a>
				»
			{% endif %}
			<p>il y a
				{{item.createdAt|since}}
			</p>
		</span>
	{% endif %}
</div>
