{% extends 'base.html.twig' %}

{% block title %}
	Édition |
	{{ infoPub.title|capitalize }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	{% if infoPub.challenge %}
		<div class="hidden" id="challenge"></div>
	{% endif %}
	<nav class="breadcrumb -z-0" aria-label="Breadcrumb">
		<ol>
			<li>
				<a href="{{path("app_user_show_publications")}}">
					Mes récits
				</a>
			</li>
			<li aria-current="page">
				<div>
					<svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
					</svg>
					<span>Édition d'un
						{{infoPub.challenge ? " exercice" : "récit"}}</span>
					<span class=" cursor-pointer" data-micromodal-trigger="popup-modal">
						{% if (infoPub.status > 1) %}
							<span id="badgePubStatus" class="badge">Publié</span>
						{% else %}
							<span id="badgePubStatus" class="badge">Dépublié</span>
						{% endif %}
					</span>
				</div>
			</li>
		</ol>
	</nav>
	{% if (infoPub.user.username == app.user.username and infoPub.status < 2) %}
		<div class="bg-slate-200 dark:bg-slate-900 p-3 font-semibold mb-5 -mt-3 block md:hidden mx-auto text-sm text-slate-800 dark:text-slate-400 rounded text-center py-2">
			<i class="fa-duotone fa-lightbulb text-slate-800"></i>&nbsp;&nbsp;Lorsque votre
			{{infoPub.challenge ? "exercice" : "récit"}}
			sera mûr, n'oubliez pas de le publier !<br>
			<small class="font-normal">Vous pouvez demander la publication
				<a href="#publishText" class="underline">en bas de cette page</a>. Sans quoi, il ne sera pas visible par les lecteurs.</small>
		</div>
		<hr class="mb-5 block md:hidden">
	{% endif %}
	<h1 class=" mb-20 text-center relative">
		<span
			id="pubTitle" class="text-3xl w-4/6 mx-auto font-serif flex flex-col">
			{# Si l'utilisateur est admin #}
			{% if (is_granted('ROLE_ADMIN') and infoPub.user.username != app.user.username) %}
				<div class="bg-yellow-300 p-3 py-0 mb-8 w-2/6 mx-auto text-sm text-yellow-800 rounded">
					Vue admin
					<i class="fa-duotone fa-screwdriver-wrench px-2"></i>
					récit de
					<a href="{{path("app_user", {username:infoPub.user.username})}}" class="hover:underline font-semibold" target="_top">{{ infoPub.user.username }}</a>
				</div>
			{% endif %}
			{# end #}
			{% if infoPub.challenge %}
				<small class="opacity-50 text-[0.75rem]">
					Réponse à l'exercice :
					<a href="{{path("app_challenge_read", {id:infoPub.challenge.id, slug:infoPub.challenge.slug})}}" class="hover:underline">{{infoPub.challenge.title}}</a>
				</small>
			{% endif %}
			{{ infoPub.title|capitalize }}
		</span>
	</h1>
	<div class="flex flex-col lg:flex-row mx-auto justify-center w-full">
		<aside class="relative lg:w-3/12  w-12/12 flex flex-col mx-auto md:mt-5 mb-14 pr-2 lg:mb-0">
			{% if infoPub.challenge %}
				<div class="rounded md:order-2 order-1  md:mt-5 -mt-10 {% if infoPub.challenge.dateEnd and infoPub.challenge.dateEnd|date('U') <= " now"|date('u') %} bg-red-500 dark:bg-red-900 {% else %} bg-slate-500 dark:bg-slate-900 {% endif %} dark:opacity-70 dark:hue-rotate-15 p-4 mb-5">
					<div class="text-center text-sm">
						{% if infoPub.challenge.dateEnd and infoPub.challenge.dateEnd|date('U') <= "now"|date('U') %}
							<span class="text-slate-50 font-semibold text-base">
								<i class="fa-regular fa-hand-holding-seedling"></i>
								&nbsp;Exercice terminé
							</span>
						{% else %}
							<span class="text-slate-50 font-semibold text-base">
								<i class="fa-regular fa-hand-holding-seedling"></i>
								&nbsp;Il s'agit d'un exercice !
							</span>
						{% endif %}
						<hr class="border-slate-400 dark:border-slate-700 mb-3">
						<a href="{{path("app_challenge_read", {id:infoPub.challenge.id, slug:infoPub.challenge.slug})}}" class="hover:underline text-slate-100 text-sm">«
							{{infoPub.challenge.title}}
							»
						</a>
						<p class="italic" {% if infoPub.challenge.content|length > 200 %} data-tippy-content="{{infoPub.challenge.content|length > 1000 ? infoPub.challenge.content|slice(0,1000) ~ "..." : infoPub.challenge.content}}" {% endif %}>
							<span class="text-slate-100 opacity-70 text-xs">{{infoPub.challenge.content|length > 200 ? infoPub.challenge.content|slice(0,200) ~ "..." : infoPub.challenge.content }}</span>
						</p>
						{% if infoPub.challenge.constrainCategory or infoPub.challenge.constrainMinTime or infoPub.challenge.constrainMaxWords  or infoPub.challenge.constrainMinWords or infoPub.challenge.constrainMaxLetters or infoPub.challenge.constrainMinLetters or infoPub.challenge.constrainMinTime or infoPub.challenge.constrainMaxTime %}
							<hr class="border-slate-400 dark:border-slate-700 mb-3">
							<div class="text-slate-100">
								<span class="font-semibold text-slate-100 italic">
									<i class="fa-regular fa-mountain-sun"></i>&nbsp;&nbsp;Contraintes</span>
								<table class="table-auto mt-0  constrain-table text-left flex justify-center pt-2 text-sm">
									<tbody class="text-xs">
										{% if infoPub.challenge.constrainCategory %}
											<tr class="border-t border-b">
												<td class="py-3">
													<i class="fa-regular fa-masks-theater"></i>
												</td>
												<td class="py-3">
													<u>Thème</u>
													:
												</td>
												<td class="py-3 font-semibold  flex flex-col cursor-default" {% if infoPub.challenge.constrainCategory.name|length > 7 %} data-tippy-content="{{infoPub.challenge.constrainCategory.name}}" {% endif %}>
													{{infoPub.challenge.constrainCategory.name|length > 7 ? infoPub.challenge.constrainCategory.name|slice(0,7) ~ "...": infoPub.challenge.constrainCategory.name}}
												</td>
												<td class="font-semibold py-3">
													<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
												</td>
											</tr>
										{% endif %}
										{% if infoPub.challenge.constrainMinTime %}
											<tr class="border-t border-b">
												<td>
													<i class="fa-regular fa-gauge-simple-min"></i>
												</td>
												<td>
													<u>Lecture</u>
													<strong>min.</strong>
													:
												</td>
												<td class="flex flex-col">
													<span>
														{{infoPub.challenge.constrainMinTime}}
														mn.
													</span>
													<span class="opacity-50 text-[0.75rem]">
														<i class="fa-regular fa-arrow-right"></i>
														{{infoPub.publicationChapters|chapter("rt", "pure")}}
														mn.</span>
												</td>
												{% if infoPub.publicationChapters|chapter("rt", "pure") >= infoPub.challenge.constrainMinTime %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
													</td>
												{% else %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-xmark text-red-300" data-tippy-content="Contrainte non validée"></i>
													</td>
												{% endif %}
											</tr>
										{% endif %}
										{% if infoPub.challenge.constrainMaxTime %}
											<tr class="border-t border-b">
												<td class="">
													<i class="fa-regular fa-gauge-simple-max"></i>
												</td>
												<td class="">
													<u>Lecture</u>
													<strong>max.</strong>
													:
												</td>
												<td class="flex flex-col">
													<span>{{infoPub.challenge.constrainMaxTime}}
														mn.</span>
													<span class="opacity-50 text-[0.75rem]">
														<i class="fa-regular fa-arrow-right"></i>
														{{infoPub.publicationChapters|chapter("rt", "pure")}}
														mn.</span>
												</td>
												{% if infoPub.publicationChapters|chapter("rt", "pure") <= infoPub.challenge.constrainMaxTime %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
													</td>
												{% else %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-xmark text-red-300" data-tippy-content="Contrainte non validée"></i>
													</td>
												{% endif %}
											</tr>
										{% endif %}
										{% if infoPub.challenge.constrainMinWords %}
											<tr class="border-t border-b">
												<td class="">
													<i class="fa-regular fa-i-cursor fa-rotate-90"></i>
												</td>
												<td class="">
													<strong>Min.</strong>
													de
													<u>mots</u>
													:
												</td>
												<td class=" flex flex-col">
													{{infoPub.challenge.constrainMinWords}}
													<span class="opacity-50 text-[0.75rem]">
														<i class="fa-regular fa-arrow-right"></i>
														{{infoPub.publicationChapters|chapter("word_count", "")}}</span>
												</td>
												{% if infoPub.publicationChapters|chapter("word_count", "") >= infoPub.challenge.constrainMinWords %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
													</td>
												{% else %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-xmark text-red-300" data-tippy-content="Contrainte non validée"></i>
													</td>
												{% endif %}
											</tr>
										{% endif %}
										{% if infoPub.challenge.constrainMaxWords %}
											<tr class="border-t border-b">
												<td class="">
													<i class="fa-regular fa-i-cursor fa-rotate-90"></i>
												</td>
												<td class="">
													<strong>Max.</strong>
													de
													<u>mots</u>
													:
												</td>
												<td class=" flex flex-col">
													{{infoPub.challenge.constrainMaxWords}}
													<span class="opacity-50 text-[0.75rem]">
														<i class="fa-regular fa-arrow-right"></i>
														{{infoPub.publicationChapters|chapter("word_count", "")}}</span>
												</td>
												{% if infoPub.publicationChapters|chapter("word_count", "") <= infoPub.challenge.constrainMaxWords %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
													</td>
												{% else %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-xmark text-red-300" data-tippy-content="Contrainte non validée"></i>
													</td>
												{% endif %}
											</tr>
										{% endif %}
										{% if infoPub.challenge.constrainMinLetters %}
											<tr class="border-t border-b">
												<td class="">
													<i class="fa-regular fa-i-cursor"></i>
												</td>
												<td class="">

													<strong>Min.</strong>
													de
													<u>lettres</u>
													:
												</td>
												<td class=" flex flex-col">
													{{infoPub.challenge.constrainMinLetters}}
													<span class="opacity-50 text-[0.75rem]">
														<i class="fa-regular fa-arrow-right"></i>
														{{infoPub.publicationChapters|chapter("letter_count", "")}}</span>
												</td>
												{% if infoPub.publicationChapters|chapter("letter_count", "") >= infoPub.challenge.constrainMinLetters %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
													</td>
												{% else %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-xmark text-red-300" data-tippy-content="Contrainte non validée"></i>
													</td>
												{% endif %}
											</tr>
										{% endif %}
										{% if infoPub.challenge.constrainMaxLetters %}
											<tr class="border-t border-b">
												<td class="">
													<i class="fa-regular fa-i-cursor"></i>
												</td>
												<td class="">
													<strong>Max.</strong>
													de
													<u>lettres</u>
													:
												</td>
												<td class=" flex flex-col">
													{{infoPub.challenge.constrainMaxLetters}}
													<span class="opacity-50 text-[0.75rem]">
														<i class="fa-regular fa-arrow-right"></i>
														{{infoPub.publicationChapters|chapter("letter_count", "")}}</span>
												</td>
												{% if infoPub.publicationChapters|chapter("letter_count", "") <= infoPub.challenge.constrainMaxLetters %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-check text-green-300" data-tippy-content="Contrainte validée"></i>
													</td>
												{% else %}
													<td class="font-semibold ">
														<i class="fa-regular fa-circle-xmark text-red-300" data-tippy-content="Contrainte non validée"></i>
													</td>
												{% endif %}
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						{% endif %}
					</div>
				</div>

			{% endif %}
			<div class="md:order-1 order-2 lg:w-full w-12/12 mx-auto md:mt-0 mt-5">
				<div id="no-cover" class="{{infoPub.cover == '' ? " block" : " hidden"}} ">
					<div id="hideNoCover" data-tippy-content="Cliquez ici pour ajouter une photo de couverture" class="no-cover justify-center flex lg:w-full w-[80%] mx-auto" for="publication_cover">
						<label for="publication_cover" class="cursor-pointer justify-center h-80">
							<h5 class="m-auto text-center font-light shadow-slate-300  dark:shadow-slate-900 mt-10 rounded-lg">
								<i class="fa-duotone fa-images text-6xl"></i><br/><br/>Ajouter une couverture
							</h5>
						</label>
					</div>
				</div>
				<div id="cover-ok" class="{{infoPub.cover != '' ? " block" : " hidden"}}">
					<label for="publication_cover" class="cursor-pointer flex justify-center">
						<img data-tippy-content="Cliquez ici pour modifier votre photo de couverture" id="cover" class="shadow-md lg:w-full w-[50%] lg:mt-0 -mt-10 shadow-slate-300 dark:shadow-slate-900 rounded-lg" src="{{infoPub.cover}}"/>
					</label>
					<div class="text-center mt-3 flex flex-row justify-center items-center gap-x-2  text-slate-600 dark:text-slate-400">
						<i class="fa-duotone fa-image-slash"></i>
						<span class="hover:underline cursor-pointer" id="deleteCover">Supprimer la couverture</span>
					</div>
				</div>
				<div role="status" id="spinCover" class="hidden absolute -translate-x-1/2 -translate-y-1/2 top-[50%] md:top-[20%] left-[50%]">
					<svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewbox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/></svg>
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</aside>

		<section class="relative sm:w-full lg:w-6/12  lg:ml-7 lg:-mt-[3.34rem] mb-14 ">
			<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
				<ul class="flex justify-center  md:text-sm text-xs -mb-px font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
					<li role="presentation">
						<button class="p-4 border-b-2 rounded-t-lg tab-button" id="info-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
							<i class="fa-light fa-circle-info"></i>
							<span class="md:block hidden">Informations</span>
							<span class="md:hidden block">Infos</span>
						</button>
					</li>
					<li role="presentation">
						<button class="p-4 border-b-2 rounded-t-lg tab-button" id="sheets-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
							<i class="fa-light fa-list-ol"></i>
							<span>Feuilles</span>
						</button>
					</li>
					<li role="presentation">
						<button class="p-4 border-b-2 rounded-t-lg tab-button" id="options-tab" data-tabs-target="#options" type="button" role="tab" aria-controls="options" aria-selected="false">
							<i class="fa-regular fa-flask-gear"></i>
							<span>Options</span>
						</button>
					</li>
					<li role="presentation">
						<button class="p-4 border-b-2 rounded-t-lg tab-button" id="statistiques-tab" data-tabs-target="#statistiques" type="button" role="tab" aria-controls="statistiques" aria-selected="false">
							&nbsp;<i class="fa-light fa-chart-mixed"></i>&nbsp;
							<span class="md:block hidden">Statistiques</span>
						</button>
					</li>
				</ul>
			</div>
			<div id="myTabContent">
				<div class="hidden p-4 rounded-lg  dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="info-tab">
					{{ form_start(formPub) }}
					{{ form_widget(formPub.cover, {attr:{"class":"axiosPublication hidden axiosPubAS axiosPubSpy"}})}}
					<input type="hidden" value="{{ infoPub.id }}" id="hideId"/>
					{% include "./partials/_form-row.html.twig" with {'form': formPub.title, 'class':'axiosPublication axiosPubAS axiosPubSpy', 'icon':"fa-heading"} %}
					{{ form_label(formPub.summary) }}
					<div class="relative mb-6">
						{{ form_widget(formPub.summary, {attr:{"class":"axiosPublication axiosPubAS axiosPubSpy h-44"}}) }}
					</div>
					{% if infoPub.challenge and infoPub.challenge.constrainCategory %}
						<div class="cursor-not-allowed opacity-50" style="pointer-events: none;" data-tippy-content="Vous ne pouvez pas changer la catégorie, car il s'agit du thème imposé de l'exercice auquel vous répondez">
							{% include "./partials/_form-row.html.twig" with {'form': formPub.category, 'class':'axiosPublication axiosPubAS axiosPubSpy cursor-not-allowed', 'id':'publication_category_div', 'icon':"fa-masks-theater"} %}
						</div>
					{% else %}
						{% include "./partials/_form-row.html.twig" with {'form': formPub.category, 'class':'axiosPublication axiosPubAS axiosPubSpy', 'id':'publication_category_div', 'icon':"fa-masks-theater"} %}
					{% endif %}
					<label>En quelques mots, quelles sont les grandes thématiques de votre récit ?</label>
					<div class="relative mb-6">
						<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
							<i class="fa-regular fa-tags dark:text-slate-200"></i>
						</div>
						<input type="text" value="" id="keyValue"/>
					</div>
					<div class="help-text pt-2">Séparez vos mots-clés par une virgule
						<kbd class="px-2 py-0.5 text-xs font-semibold text-slate-800 bg-slate-100 border border-slate-200 rounded-lg dark:bg-slate-600 dark:text-slate-100 dark:border-slate-500">,</kbd>
						ou un point-virgule
						<kbd class="px-2 py-0.5 text-xs font-semibold text-slate-800 bg-slate-100 border border-slate-200 rounded-lg dark:bg-slate-600 dark:text-slate-100 dark:border-slate-500">;</kbd>
					</div>
					<div class="hidden" id="editPage"></div>
					<turbo-frame id="keyroute">
						<div id="keyList" class="items-center">
							{% for k in infoPub.publicationKeywords %}
								<div id="keyw_{{ k.keyword|upper }}" class="flex flex-row justify-between gap-x-2">
									<span>{{ k.keyword }}</span>
									<a href="{{path("app_publication_del_keyword", {value:k.keyword, pub:infoPub.id, mode:"edit"})}}">
										<i class="fa-duotone fa-delete-left hover:text-red-200 text-sm"></i>
									</a>
								</div>
							{% endfor %}
						</div>
					</turbo-frame>
					<hr class=" -mt-5">
					<label class="relative inline-flex items-center cursor-pointer">
						{% if infoPub.mature %}
							{% set matureChecked = "checked" %}
						{% else %}
							{% set matureChecked = false %}
						{% endif %}
						{{ form_widget(formPub.mature, {attr:{"class":"sr-only peer axiosPublication axiosPubAS axiosPubSpy","checked":matureChecked,"value":false}}) }}
						<div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
						<span class="ml-3 -mt-6 text-sm font-medium text-slate-900 dark:text-slate-300">Votre récit contient-il du contenu pour adulte ?</span>
					</label>
					{{ form_end(formPub) }}
				</div>
				<div class="hidden rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="sheets-tab">
					{% set publicationChapters = infoPub.publicationChapters %}
					{% if publicationChapters|length > 0 %}
						<ul>
							<li class="text-center">
								<a href="{{path('app_publication_edit_chapter', {'idPub' : infoPub.id})}}" class=" w-full button-classic  button-gray flex flex-row gap-x-5 justify-center items-center">
									<i class="fa-regular text-base fa-file-circle-plus"></i>
									<span class=" text-base">Ajouter une nouvelle feuille</span>
								</a>
							</li>
						</ul>
					{% endif %}

					<div id="accordion-flush" data-accordion="open" data-active-classes="text-gray-900 dark:text-white" class="list-group " data-inactive-classes="text-gray-500 dark:text-gray-400">
						<h2 id="accordion-flush-heading-1" class=" border-emerald-600  px-5 bg-white border-b-2 mt-5 dark:border-b-green-300 mb-5  dark:bg-transparent  ">
							<button type="button" class="flex items-center  justify-between w-full py-2 font-medium text-left text-base  dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
								<span class="flex-row-custom-gapx-3">
									<i class="fa-regular fa-eye"></i>
									<span>Feuilles publiées (<span id="nbrPublished">{{chaptersWithStatus2|length}}</span>)</span>
								</span>
								<svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</button>
						</h2>
						<div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
							{% if chaptersWithStatus2|length > 0 %}
								<p class="text-center text-xs text-slate-500 -mt-2 flex flex-row gap-x-2 justify-center items-center">
									<i class="fa-light fa-lightbulb"></i>
									<span>Organisez l'ordre de lecture en déplaçant les feuilles</span>
								</p>
							{% endif %}
							<div id="itemsChap" class=" flex-col grid-cols-1 md:grid-cols-2 grid justify-center gap-x-5">
								{% if publicationChapters|length == 0 %}
									<div class="w-full text-center bg-slate-100 dark:bg-slate-700 items-center justify-center justify-items-center flex-cols dark:text-slate-100 text-slate-600 rounded  mt-3 opacity-80 hover:opacity-100 border-2 border-slate-200 dark:border-slate-900" id="noPublication">
										<p class="w-full h-full flex-row grid-cols-1 grid items-center justify-items-center place-items-center font-medium leading-5">
											<a class="h-full px-5 pt-8 sm:pt-5 space-y-5 py-0 grid-rows-2 grid-cols-1 grid items-center justify-items-center place-items-center font-medium leading-5 pb-10" href="{{path('app_publication_edit_chapter', {'idPub' : infoPub.id})}}#first">
												<span class="flex -mt-5 md:mt-0 flex-col justify-items-end text-slate-900 dark:text-slate-100 text-sm sm:text-md md:text-lg leading-7 self-center">
													Cliquez ici pour éditer votre première feuille !
												</span>
												<span class="text-4xl flex justify-items-start items-center">
													<i class="fa-duotone fa-file-circle-plus -mt-5"></i>
												</span>
												<span class=" self-center -mt-5">
													<small>chapitre, page de texte, billet de blog...</small>
												</span>
											</a>
										</p>
									</div>
									<div class="mt-5 flex flex-col space-y-2 items-baseline gap-y-1 text-slate-700 dark:text-slate-300">
										<p class="text-sm flex font-normal gap-x-2  items-start">
											<i class="fa-regular fa-lightbulb-exclamation-on mt-1 text-yellow-400 dark:text-amber-400"></i>
											<span class="font-medium">
												Vous avez la possibilité de créer un nombre illimité de feuilles et de les organiser selon vos préférences.
											</span>
										</p>
										<p class="text-md flex font-normal gap-x-4 opacity-70">
											<i class="fa-regular fa-file-lines mt-1"></i>
											<span class="text-[0.8rem]">
												Chaque feuille peut être considérée comme une simple page de texte, une copie intégrale d'un document PDF (tel qu'un récit entier) ou comme un épisode, un chapitre de votre récit.
											</span>
										</p>
										<p class="text-sm flex font-normal gap-x-4 opacity-70">
											<i class="fa-regular fa-hashtag"></i>
											<span class="text-[0.8rem]">
												L'ordre par lequel vous les organisez déterminera l'ordre dans lequel vos lecteurs les liront.
											</span>
										</p>
									</div>
								{% elseif publicationChapters|length < 2 and chaptersWithStatus1|length > 0 and chaptersWithStatus1|length < 2 %}
									{% set var = true %}
									{% if chaptersWithStatus1|length > 1 %}
										{% set var = false %}
									{% endif %}
									{% if var %}
										<div class="w-full text-center bg-emerald-500 dark:bg-amber-200 dark:opacity-70 rounded items-center justify-center justify-items-center flex-colsrounded  mt-3 " id="noPublication">
											<p class="w-full h-full px-5 pt-5 grid-rows-1 grid-cols-1 grid pb-5 items-center justify-items-center place-items-center font-medium leading-5">
												<span class="text-emerald-50 dark:text-amber-900 text-base  px-5 pt-5 grid-rows-2 grid-cols-1 grid pb-5 items-center justify-items-center place-items-center font-medium leading-5" href="{{path('app_publication_edit_chapter', {'idPub' : infoPub.id})}}#first" target="_top">
													<span class="flex -mt-5 md:mt-0 flex-col justify-items-end text-sm sm:text-md md:text-lg leading-7 self-center">
														Vous venez de créer votre première feuille !

													</span>
													<span class="text-4xl">
														<i class="fa-duotone fa-hands-clapping"></i>
													</span>
													<span class=" self-center ">
														<small>Elle se trouve dans vos brouillons, glissez-la ici pour la publier.</small>
													</span>
												</span>
											</p>
										</div>
										<div class="mt-5 flex flex-col space-y-2 items-baseline gap-y-1 text-slate-700 dark:text-slate-300" id="noPublication2">
											<p class="text-sm flex font-normal gap-x-2  items-start">
												<i class="fa-regular fa-lightbulb-exclamation-on mt-1 text-yellow-400 dark:text-amber-400"></i>
												<span class="font-medium">
													Votre première feuille est dépubliée et se trouve dans la section ci-dessous (brouillons).
												</span>
											</p>
											<p class="text-md flex font-normal gap-x-3 opacity-70">
												<i class="fa-regular fa-up-down-left-right mt-1"></i>
												<span class="text-[0.8rem]">
													Vous pouvez la publier en la glissant dans cet espace
												</span>
											</p>
											<p class="text-md flex font-normal gap-x-3 opacity-70">
												<i class="fa-regular fa-hashtag mt-1"></i>
												<span class="text-[0.8rem]">
													L'ordre par lequel vous les organisez déterminera l'ordre dans lequel vos lecteurs les liront.
												</span>
											</p>
										</div>
									{% endif %}

								{% endif %}
								{% include "publication/_partials/_edit_publication_show_chapters.html.twig" with {withStatus:2} %}
							</div>
						</div>
						<h2 id="accordion-flush-heading-2" class=" border-b-red-600  mt-8  px-5 bg-white border-b-2  dark:border-red-300 mb-5  dark:bg-transparent ">
							<button type="button" class="flex items-center justify-between w-full py-2 font-medium text-left  text-base dark:border-slate-700 dark:text-slate-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="true" aria-controls="accordion-flush-body-2">
								<span class=" flex-row-custom-gapx-3">
									<i class="fa-regular fa-pen-ruler"></i>
									<span>Brouillons  (<span id="nbrUnpublished">{{chaptersWithStatus1|length}}</span>)</span>
								</span>
								<svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</button>
						</h2>
						<div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
							{% if chaptersWithStatus1|length == 0 %}
								{% set noChapUnpublished = true %}
							{% else %}
								{% set noChapUnpublished = false %}
							{% endif %}
							<div id="itemsChap2" class=" animate__animated flex-col  grid-cols-1 {{noChapUnpublished == false ? " md:grid-cols-2" : " md:grid-cols-1"}} grid gap-x-4 justify-center  opacity-100">
								{% include "publication/_partials/_edit_publication_show_chapters.html.twig" with {withStatus:1} %}
								{% if noChapUnpublished == true %}
									<div id="noChapUnpublished" class="rounded p-5 text-center border-dashed dark:border-2 dark:border-slate-800  mt-5 dark:opacity-100 opacity-50 dark:text-slate-600 text-slate-700">Aucun brouillon</div>
								{% endif %}
							</div>
						</div>
						<h2 id="accordion-flush-heading-3" class=" border-b-slate-500 opacity-70  mt-8  px-5 bg-white border-b-2 dark:border-b-4  dark:border-slate-700 mb-5  dark:bg-transparent ">
							<button type="button" class="flex items-center justify-between w-full py-2 font-medium text-left  text-base  dark:text-slate-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="true" aria-controls="accordion-flush-body-3">
								<span class=" flex-row-custom-gapx-3">
									<i class="fa-regular fa-trash-clock"></i>
									<div class="flex flex-row items-center">
										<div>
											<span>Corbeille (<span id="nbrTrashed">{{chaptersWithStatus0|length}}</span>)</span>
										</div>
									</div>
								</span>
								<svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</button>
						</h2>
						<div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
							<div id="trash-info" class="{{chaptersWithStatus0|length > 0 ? "block" : "hidden"}}">
								<a class="button-classic button-red mb-2" href="{{path("app_publication_del_trash_chapter", {idPub:infoPub.id})}}" target="_self">
									<i class="fa-regular fa-trash-check"></i>Vider la corbeille</a>
								<div class="w-full text-justify rounded px-3">
									<span class="text-slate-500 dark:text-slate-200 text-xs">
										Sans action de votre part, les feuilles présentes dans cette section seront
										<strong>individuellement, automatiquement et définitivement supprimées 48h après leur mise à la corbeille</strong>.<br>
									</span>
								</div>
							</div>
							{% if chaptersWithStatus0|length == 0 %}
								{% set noChapTrash = true %}
							{% else %}
								{% set noChapTrash = false %}
							{% endif %}
							<turbo-frame id="trash-for-ever">
								<div id="itemsChapTrash" class=" animate__animated flex-col  grid-cols-1 {{noChapTrash == false ? " md:grid-cols-2" : " md:grid-cols-1"}} grid gap-x-4 justify-center  opacity-100">
									{% include "publication/_partials/_edit_publication_show_chapters.html.twig" with {withStatus:0} %}
									{% if noChapTrash == true %}
										<div id="noChapTrash" class="rounded p-5 text-center border-dashed dark:border-2 dark:border-slate-800  mt-5 dark:opacity-100 opacity-50 dark:text-slate-600 text-slate-700">
											Aucune feuille supprimée
										</div>
									{% endif %}
								</div>
							</turbo-frame>
						</div>
					</div>
				</div>
				<div class="hidden p-4 rounded-lg  min-h-screen" id="statistiques" role="tabpanel" aria-labelledby="settings-tab">
					{% if infoPub.publicationPopularities|length > 0 %}
						<div id="legend-container" class="flex justify-evenly mb-5 text-xs"></div>
						<div class="w-full  rounded p-5 dark:bg-slate-900">
							<canvas id="chartStat" class="text-white"></canvas>
						</div>
						<hr class="mb-5">
						<h2 class="font-medium dark:text-slate-300 mb-5 mt-0 text-slate-700 flex-row-custom-gapx-3 justify-center">
							<i class="fa-duotone fa-fire"></i>
							<span>Évolution de la popularité de votre récit</span>
						</h2>
						<div class="w-full  rounded p-5 dark:bg-slate-900">
							<canvas id="chartStat2" class="text-white"></canvas>
						</div>
					{% else %}
						<p class="text-center my-5 dark:text-slate-200">Aucune statistique à afficher pour le moment !</p>
					{% endif %}
				</div>
				<div class="hidden p-4 rounded-lg  min-h-screen" id="options" role="tabpanel" aria-labelledby="options-tab">
					<div class="px-3 rounded-lg flex flex-col w-full mb-3 hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row">
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_finished" {{ infoPub.finished == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<div class="ml-3 self-center flex -mt-1 dark:text-gray-300 font-semibold">
									Ce récit est terminé
								</div>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>désactivez</u>
									cette option</strong>, vos lecteurs pourront s'abonner à votre récit et recevront des notifications si de nouvelles feuilles sont publiées.
							</div>
						</div>
					</div>
					<hr class="mb-5">
					<div class="px-3 rounded-lg flex flex-col w-full mb-3 hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row">
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_allow_revision" {{ infoPub.allowRevision == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<div class="ml-3 self-center flex -mt-1 dark:text-gray-300 font-semibold">
									Autoriser les révisions d'autres utilisateurs
								</div>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>activez</u>
									cette option</strong>, vous autorisez les autres utilisateurs à réviser votre texte en vous faisant des suggestions pour l'améliorer (ligne à ligne, ou mot à mot).<br>
							</div>
						</div>
					</div>
					<hr class="mb-5">
					<div class="px-3 rounded-lg flex flex-col w-full mb-3 hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row">
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_show_old_versions" {{ infoPub.showOldVersions == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<div class="ml-3 self-center flex -mt-1 dark:text-gray-300 font-semibold">
									Afficher publiquement les anciennes versions de vos feuilles
								</div>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>activez</u>
									cette option</strong>, vous autorisez les autres utilisateurs à lire aussi les anciennes versions de vos feuilles (chapitres).
							</div>
						</div>
					</div>
					<hr class="mb-5">
					<div class="px-3 rounded-lg  w-full mb-3 flex flex-col hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row">
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_sale" {{ infoPub.sale == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<span class="ml-3 flex -mt-1 self-center dark:text-gray-300 font-semibold">Récit en vente</span>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>activez</u>
									cette option</strong>, vous permettez à vos lecteurs d'acquérir votre livre en versions papier ou numérique. Par conséquent, merci de renseigner les liens vers les différentes plateformes de vente.
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-y-2 px-3 opacity-70 dark:text-slate-300 {{ infoPub.sale == 1 ? " block" : " hidden" }} " id="saleLinks">
						<div>
							<label class="relative inline-flex items-center cursor-pointer  text-xs mb-1" for="publication_sale_web">
								Lien vers le&nbsp;<strong>format numérique</strong>
							</label>
							<div class="relative">
								<div class="absolute inset-y-0 left-0 flex mt-1 items-center pl-3 pointer-events-none mb-1">
									<i class="fa-regular fa-tablet-screen  dark:text-white"></i>
								</div>
								<input type="text" class="h-8 rounded pl-10 dark:bg-slate-700 w-full text-xs axiosPublication axiosPubAS axiosPubSpy" value="{{infoPub.saleWeb ? infoPub.saleWeb : ""}}" id="publication_sale_web">
							</div>
						</div>
						<div>
							<label class="relative inline-flex items-center cursor-pointer text-xs mb-1" for="publication_sale_paper">
								Lien vers le&nbsp;<strong>format papier</strong>
							</label>
							<div class="relative">
								<div class="absolute inset-y-0 left-0  mt-1 flex items-center pl-3 pointer-events-none mb-1">
									<i class="fa-regular fa-book-open-cover  dark:text-white"></i>
								</div>
								<input type="text" class="h-8 rounded pl-10 w-full text-xs dark:bg-slate-700 axiosPublication axiosPubAS axiosPubSpy" value="{{infoPub.salePaper ? infoPub.salePaper : ""}}" id="publication_sale_paper">
							</div>
						</div>
					</div>
					<hr class="mb-5">
					<div class="px-3 rounded-lg flex flex-col items-baseline w-full mb-3 hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row">
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_support" {{ infoPub.support == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<div class="ml-3 self-center flex -mt-1 dark:text-gray-300 font-semibold">
									Remercier des utilisateurs
								</div>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>activez</u>
									cette option,</strong>
								un encart de remerciements sera affiché au fronton de votre récit avec le nom des utilisateurs que vous aurez sélectionnés.<br>
							</div>
						</div>
						<div id="support-div" class="w-full {{infoPub.support ? " block" : " hidden" }} flex-row flex-wrap justify-between gap-y-2 items-center gap-x-1 mb-1">
							<turbo-frame id="support-frame" class="w-full">
								{% for item in support %}
									<div id="support-{{item.user.id}}" class="font-semibold  mb-2 inline-flex items-center px-2 py-1 mr-2 text-sm text-slate-800 bg-slate-100 rounded dark:bg-slate-700 dark:text-slate-300">
										<div class="flex flex-row gap-x-2 items-center">
											<div class="w-4 h-4 relative flex-shrink-0">
												{% if item.user.profilPicture %}
													<div class="imageContainer">
														<div class="flex animate-pulse items-center z-50 justify-center w-full rounded-full bg-gray-300  dark:bg-gray-700">
															<svg class="w-full h-full object-cover text-gray-200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" viewbox="0 0 640 512"><path d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z"/></svg>
														</div>
														<img class="w-full h-full object-cover rounded-full lozad myImage" src="/images/dot.png" data-src="{{item.user.profilPicture}}" alt="Avatar de {{item.user.nickname}}">
													</div>
												{% else %}
													<div class="w-full h-full object-cover rounded-full bg-slate-500  cursor-default">
														<div class=" h-full flex mx-auto items-center justify-center text-[0.65rem] text-slate-200">
															{{ item.user.nickname|slice(0,1)|upper }}
														</div>
													</div>
												{% endif %}
											</div>
											{{item.user.nickname}}
										</div>
										<a href="{{path("app_publication_edit", {id:infoPub.id, deleteSupportId:item.user.id})}}" class="inline-flex items-center p-0.5 ml-2 text-sm text-slate-400 bg-transparent rounded-sm hover:bg-slate-200 hover:text-slate-900 dark:hover:bg-slate-600 dark:hover:text-slate-300" data-dismiss-target="#support-{{item.user.id}}" aria-label="Remove">
											<svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
											</svg>
											<span class="sr-only">Supprimer le remerciement pour cet utilisateur</span>
										</a>
									</div>
								{% endfor %}
								{{component("publication_support_component", {id:infoPub.id})}}
							</turbo-frame>
						</div>
					</div>
					<hr class="mb-5">
					<div class="px-3 rounded-lg  {{infoPub.challenge ? " hidden"}} flex flex-col items-baseline w-full mb-3 hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row" {{infoPub.challenge ? ' style="pointer-events: none;"'}}>
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_access" {{ infoPub.access == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<div class="ml-3 self-center flex -mt-1 dark:text-gray-300 font-semibold">
									Limiter l'accès à ce récit
								</div>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>activez</u>
									cette option,</strong>
								vous limiterez l'accès à votre récit et n'autorisez que vous-même et les personnes sélectionnées à le consulter.<br>
							</div>
						</div>
						<div id="user-access-div" class="w-full {{infoPub.access ? " block" : " hidden" }} flex-row flex-wrap justify-between gap-y-2 items-center gap-x-1 mb-1">
							<turbo-frame id="user-access-frame" class="w-full">
								<div id="badge-dismiss-dark" class="font-semibold inline-flex cursor-default items-center px-2 py-1 mr-2 mb-2 text-sm text-blue-800 bg-blue-100 rounded dark:bg-blue-700 dark:text-blue-300">
									Vous-même
								</div>
								{% for item in userAccess %}
									<div id="user-access-{{item.user.id}}" class="font-semibold inline-flex items-center px-2 py-1 mr-2 text-sm text-slate-800 bg-slate-100 rounded dark:bg-slate-700 dark:text-slate-300">
										<div class="flex flex-row gap-x-2 items-baseline">
											<div class="items-center w-4 h-4 relative flex-shrink-0">
												{% if item.user.profilPicture %}
													<div class="imageContainer">
														<div class="flex animate-pulse items-center z-50 justify-center w-full rounded-full bg-gray-300  dark:bg-gray-700">
															<svg class="w-full h-full object-cover text-gray-200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" viewbox="0 0 640 512"><path d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z"/></svg>
														</div>
														<img class="w-full h-full object-cover rounded-full lozad myImage" src="/images/dot.png" data-src="{{item.user.profilPicture}}" alt="Avatar de {{item.user.nickname}}">
													</div>
												{% else %}
													<div class="w-full h-full object-cover rounded-full bg-slate-500  cursor-default">
														<div class=" h-full flex mx-auto items-center justify-center text-[0.65rem] text-slate-200">
															{{ item.user.nickname|slice(0,1)|upper }}
														</div>
													</div>
												{% endif %}
											</div>
											{{item.user.nickname}}
										</div>
										<a href="{{path("app_publication_edit", {id:infoPub.id, deleteUserAccessId:item.user.id})}}" class="inline-flex items-center p-0.5 ml-2 text-sm text-slate-400 bg-transparent rounded-sm hover:bg-slate-200 hover:text-slate-900 dark:hover:bg-slate-600 dark:hover:text-slate-300" data-dismiss-target="#user-access-{{item.user.id}}" aria-label="Remove">
											<svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
											</svg>
											<span class="sr-only">Supprimer l'accès pour cet utilisateur</span>
										</a>
									</div>
								{% endfor %}
								{{component("publication_user_access", {id:infoPub.id})}}
							</turbo-frame>
						</div>
					</div>
					<hr class="mb-5  {{infoPub.challenge ? " hidden"}}">
					<div class="px-3 rounded-lg  w-full mb-3 flex flex-col hover:opacity-100 cursor-pointer">
						<label class="toggle">
							<div class="relative flex flex-row">
								<input type="checkbox" value="" class="sr-only peer axiosPublication axiosPubAS axiosPubSpy" id="publication_hide_search" {{ infoPub.hideSearch == 1 ? "checked" }}/>
								<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
								<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
								<span class="ml-3 flex -mt-1 self-center dark:text-gray-300 font-semibold">Ne pas afficher ce récit dans le catalogue et les recherches</span>
							</div>
						</label>
						<div class="help-text mt-5 pt-10 flex flex-col gap-y-2 cursor-text">
							<div>
								<strong>Si vous
									<u>activez</u>
									cette option</strong>, votre récit sera toujours accessible via son URL publique, mais ne sera pas référencé dans les recherches et le catalogue du site.
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<aside class="relative md:w-full lg:w-3/12  md:ml-7 md:mt-5 mb-14 ">
			<hr class="w-full lg:hidden">
			<button type="button" class="button-classic button-emerald w-full mb-3" id="savePublication">
				{% if infoPub.status > 1 %}
					<i class="fa-regular fa-cloud-arrow-up"></i>
					&nbsp;Valider les modifications
				{% else %}
					<i class="fa-regular fa-floppy-disk"></i>
					&nbsp;Sauvegarder
				{% endif %}
			</button>

			<div class="bg-slate-50 dark:bg-slate-900 py-3 px-3 mb-5 mt-3 rounded-lg  text-sm">
				<div id="publishDiv" class="px-3 rounded-lg  w-full mb-3 mt-2 flex hover:opacity-100 hover:grayscale-0" for="publishToggle">
					<label
						for="toggle" class="toggle" data-micromodal-trigger="popup-modal">
						<!-- Le toggle button -->
						<div class="relative">
							<input type="checkbox" id="publishButton" class="disabled sr-only peer" disabled {% if infoPub.status == 2 %} checked {% endif %}/>
							<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner" id="publishToggle"></div>
							<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
						</div>
						<!-- Le label du toggle button -->
						<div class="ml-3 dark:text-slate-300 font-semibold" id="publishText">
							<span>
								{% if infoPub.challenge %}
									{% if infoPub.status > 1 %}
										Dépublier l'exercice
									{% else %}
										Publier l'exercice
									{% endif %}
								{% else %}
									{% if infoPub.status > 1 %}
										Dépublier de Scrilab
									{% else %}
										Publier sur Scrilab
									{% endif %}
								{% endif %}
							</span>
						</div>
					</label>
					{% if infoPub.challenge %}
						<span class="ml-2" data-tippy-content="<strong>Si vous activez cette option</strong>, votre exercice sera accessible aux utilisateurs via son URL publique et apparaîtra sur toutes nos pages, en sus de la page de l'exercice (à condition que vous ayez publié au moins un chapitre).<br><br><strong>Si vous désactivez cette option</strong>, votre récit devient absolument inacessible à tous, sauf pour vous.">
							<i class="fa-duotone fa-comment-question dark:text-slate-400"></i>
						</span>
					{% else %}
						<span class="ml-2" data-tippy-content="<strong>Si vous activez cette option</strong>, votre récit sera accessible aux utilisateurs via son URL publique et apparaîtra sur nos pages (à condition que vous ayez publié au moins un chapitre et sélectionné une catégorie).<br><br><strong>Si vous désactivez cette option</strong>, votre récit devient absolument inacessible à tous, sauf pour vous.">
							<i class="fa-duotone fa-comment-question dark:text-slate-400"></i>
						</span>
					{% endif %}
				</div>
				<div id="task" class="{{chaptersWithStatus2|length > 0 and infoPub.category ? " hidden" : " " }} p-4 bg-slate-200 rounded text-slate-800 dark:bg-slate-900 w-full mb-0 dark:text-slate-400 {{infoPub.challenge ? " hidden"}}">
					<p class="text-xs mb-1 font-semibold">
						{% if infoPub.challenge %}
							Avant de publier l'exercice sur Scrilab, vous devriez :
						{% else %}
							Avant de publier le récit sur Scrilab, vous devriez :
						{% endif %}
						<ul class="text-xs mt-4">
							<li class="flex gap-x-2 animate__animated {{infoPub.category ? " hidden" : " " }}" id="taskCategory">
								<i class="fa-regular fa-masks-theater"></i>
								<span>Choisir une catégorie dans la section
									<button type="button" class="inline hover:underline font-semibold" onclick="document.getElementById('info-tab').click();">Informations</button>
								</span>
							</li>
							<li class="mt-3 flex  items-center gap-x-2 animate__animated  {{chaptersWithStatus2|length > 0 ? " hidden" : " " }}" id="taskPublish">
								<i class="fa-regular fa-eye"></i>
								Publier au moins une feuille
							</li>
							<li>
								<hr class="mb-2 mt-4 border-slate-400 bg-slate-400 opacity-30"></li>
							<li class="mt-3 flex items-baseline opacity-50 text-[0.75rem]  gap-x-2 animate__animated">
								<i class="fa-regular fa-circle-info"></i>
								Réalisez ces tâches afin que votre récit soit visible par les autres utilisateurs lors de sa publication. Autrement, il ne se sera consultable que par accès direct (lien).
							</li>

						</ul>
					</p>
				</div>
				<hr class="mb-5">


				<div class="px-3 rounded-lg  w-full relative mb-3 flex hover:opacity-100 ">
					<label class="toggle ">
						<div class="relative" id="ASDisabled">
							{% if infoPub.status < 2 %}
								<input type="checkbox" value="" class="sr-only peer" id="togglePubAS" checked/>
							{% else %}
								<input type="checkbox" value="" class="sr-only peer" id="togglePubAS" disabled/>
							{% endif %}
							<div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner "></div>
							<div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition-all duration-300 ease-linear"></div>
						</div>
						<span class="ml-3 dark:text-slate-300 {{ infoPub.status > 1 ? " text-slate-400 dark:text-slate-600 cursor-default" : " cursor-pointer" }}   font-semibold disabled" id="ASText">Sauvegarde auto.</span>
					</label>
					<span class="ml-3 left-0 cursor-default dark:text-white" id="ASTooltip">
						<i class="fa-duotone fa-comment-question" data-tippy-content='<p class="text-center text-white p-2" style="text-color:white"><strong class="text-white"><i class="fa-duotone fa-cloud-slash"></i><br>La sauvegarde automatique est désactivée car votre récit est publié.</strong><br><br><span class="text-white">Si vous souhaitez enregistrer les modifications apportées à votre récit, veuillez cliquer sur le bouton ci-dessus, « Valider les modifications ».</span></p>'></i>
					</span>
				</div>
			</div>
			<div class="p-4 rounded-lg bg-slate-50 text-sm dark:bg-slate-900 w-full  mb-4 text-slate-800 dark:text-slate-400">
				<p class=" mb-1 flex gap-x-3  items-center">
					<i class="fa-regular fa-calendar-plus"></i>
					<span>
						Crée il y a
						<span class="font-medium">{{ infoPub.created|since }}</span>
					</span>
				</p>
				<p class="mb-1 flex gap-x-3 items-center">
					<i class="fa-regular fa-square-pen"></i>
					<span>
						Modifié il y a
						<span class="font-medium">{{ infoPub.updated|since }}</span>
					</span>
				</p>
				<p id="publishDateText" class="mb-1  flex gap-x-2  items-center">
					<i class="fa-regular fa-cloud-arrow-up"></i>
					<span>
						Publié il y a
						<span class="font-medium" id="publishDateTextSpan">
							{% if infoPub.publishedDate %}
								{{ infoPub.publishedDate|since }}
							{% endif %}
						</span>
					</span>
				</p>
			</div>
			<div class="p-4 rounded-lg bg-slate-50 dark:bg-slate-900 w-full  mb-4 text-slate-800 dark:text-slate-400 ">
				<p class=" text-sm mb-1 font-semibold flex gap-x-2 items-center">
					{% set slug = "recit-sans-titre" %}
					{% if infoPub.slug %}
						{% set slug = infoPub.slug %}
					{% endif %}
					{% if infoPub.status < 2 %}
						<i class="fa-regular fa-browser"></i>
						<a href="{{ path("app_publication_show_one", {id:infoPub.id, slug:slug}) }}" class=" hover:underline" target="_blank">Voir un aperçu
							{{infoPub.challenge ? "de l'exercice" : "du récit" }}</a>
					{% else %}
						<i class="fa-regular fa-browser"></i>
						<a href="{{ path("app_publication_show_one", {id:infoPub.id, slug:slug}) }}" class=" hover:underline" target="_blank">Voir
							{{infoPub.challenge ? "l'exercice" : "du récit" }}
							sur le site</a>
					{% endif %}
				</p>
			</div>
			<div class="p-4 rounded-lg bg-red-50 dark:bg-red-900 w-full  mb-4 text-red-800 dark:text-red-400 ">
				<p class=" text-sm mb-1 font-semibold flex-row gap-x-2 items-center justify-center">
					<span class=" text-red-500 dark:text-red-50  flex flex-row gap-x-2 items-center">
						<i class="fa-regular fa-trash"></i>
						<button type="button" data-micromodal-trigger="delete-modal" class="hover:underline">Supprimer
							{{infoPub.challenge ? "l'exercice" : "le récit" }}</button>
					</span>
				</p>
			</div>
		</aside>
	</div>
	<div>
		<div id="popup-modal" class="modal micromodal-slide" data-hidden="true">
			<div class="modal__overlay" tabindex="-1" data-micromodal-close>
				<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="popup-confirm-delete-title">
					<div class="py-3 text-center w-42  rounded-2xl">
						<div class="text-4xl mb-5 text-slate-600 dark:text-slate-300">
							<i class="fa-regular fa-cloud-exclamation"></i>
						</div>
						<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400" id="PublicationPublishModalText">
							Êtes-vous certain(e) de vouloir publier votre récit ?
						</h3>
						<div id="publish-paid-attention" class="{{infoPub.category and chaptersWithStatus2|length > 0 ? 'hidden' }} mb-4 text-sm text-slate-500 dark:text-slate-200 text-left">
							<hr class="mb-5">
							<p class="text-center flex flex-col gap-y-1">
								<strong class="text-sm">Information</strong>
								<span class="opacity-80 text-xs">Pour que votre récit soit visible par vos lecteurs une fois publié, vous devriez...</span>
							</p>
						</div>
						<ul class="flex flex-col gap-y-3 list-disc pl-[2.5rem] text-left text-sm">
							<li id="publish-paid-attention-cat" class="{{infoPub.category ? " hidden" : " " }} flex flex-row dark:text-slate-400 items-center gap-x-3">
								<i class="fa-solid fa-arrow-right-to-arc"></i>
								<span class="">
									<strong>Choisir une catégorie</strong>
									dans l'onglet « Informations »</span>
							</li>
							<li id="publish-paid-attention-pub" class="{{chaptersWithStatus2|length > 0 ? " hidden" : " " }} dark:text-slate-400 flex flex-row items-center gap-x-3">
								<i class="fa-solid fa-arrow-right-to-arc"></i>
								<span>
									<strong>Publier au moins un chapitre</strong>
									en en glissant un dans la section « Feuilles publiées »</span>
							</li>
						</ul>
						{% if infoPub.category == null or infoPub.publicationChapters|filter(c => c.status == 2)|length == 0 %}
							{% set classHidden = "hidden" %}
						{% else %}
							{% set classHidden = "false" %}
						{% endif %}
						<div class="mt-10 flex justify-center gap-x-3">
							<button id="PublicationPublishButton" onclick='MicroModal.close("popup-modal")' type="button" class="button-classic z-50">
								Oui, je veux publier
							</button>
							<button type="button" onclick="MicroModal.close('popup-modal')" class="button-classic button-slate">Non, j'annule</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="delete-modal" class="modal micromodal-slide" data-hidden="true">
			<div class="modal__overlay" tabindex="-1" data-micromodal-close>
				<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="popup-confirm-deletetitle">
					<div class="py-3 text-center w-42  rounded-2xl">
						<div class="text-4xl mb-5 text-slate-600 dark:text-slate-300">
							<i class="fa-regular fa-cloud-exclamation"></i>
						</div>
						<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
							Êtes-vous certain(e) de vouloir supprimer votre récit ?
						</h3>

						<div class="mt-10 flex justify-center gap-x-3">
							<a href="{{path("app_publication_delete", {id:infoPub.id})}}" type="button" class="button-classic button-red z-50">
								Oui, je veux le supprimer
							</a>
							<button type="button" onclick="MicroModal.close('delete-modal')" class="button-classic button-slate">Non, j'annule</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		<input type="hidden" value="{{ infoPub.id }}" id="hideIdPub"/>
		<input type="hidden" id="hidePubStatus" value="{{ infoPub.status }}" id="hideId"/>
	{% endblock %}
