{% extends 'base.html.twig' %}

{% block title %}Hello PublicationController!
{% endblock %}

{% block body %}
	<div class=" col-span-11 col-start-2 row-span-1" id="showTitle">
		<h1 class=" -mt-10 mb-10 text-center -ml-10">
			<span class="text-xs">Édition du récit</span><br/>
			<span id="pubTitle" class="text-4xl">
				{{ infoPub.title|capitalize }}
				<sup>
					{% if (infoPub.status > 1) %}
						<span id="badgePubStatus" class="badge badge-publish">Publié</span>
					{% else %}
						<span id="badgePubStatus" class="badge badge-unpublish">Dépublié</span>
					{% endif %}
				</sup>
			</span>
		</h1>
	</div>
	<aside class="relative col-span-7 col-start-4 pr-10 mb-14 lg:col-span-3 lg:mt-5">
		<div class="sticky top-20">
			{% if infoPub.cover == "" %}
				<div id="hideNoCover" class="shadow-md p-10 text-2xl flex h-80 bg-slate-100 rounded-md dark:bg-slate-500" for="publication_cover" data-tooltip-placement="bottom" data-tooltip-target="tooltip-cover">
					<label for="publication_cover" class="cursor-pointer justify-center h-80">
						<h2 class="m-auto text-center font-light shadow-slate-300 text-slate-600 dark:shadow-slate-900 mt-10 rounded-lg">
							<i class="fa-regular fa-images text-5xl"></i><br/><br/>Ajouter une couverture
						</h2>
					</label>
				</div>
				<div role="status" id="spinCover" class="hidden absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
					<svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewbox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/></svg>
					<span class="sr-only">Loading...</span>
				</div>
				<label for="publication_cover" id="showNewCover" class="cursor-pointer hidden"><img id="cover" src="" data-tooltip-target="tooltip-cover" data-tooltip-placement="bottom" class="shadow-md shadow-slate-300 dark:shadow-slate-900 rounded-lg"/></label>
			{% else %}
				<label for="publication_cover" class="cursor-pointer">
					<div role="status" id="spinCover" class="hidden absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
						<svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewbox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/></svg>
						<span class="sr-only">Loading...</span>
					</div>
					<img data-tooltip-target="tooltip-cover" data-tooltip-placement="bottom" id="cover" class="shadow-md shadow-slate-300 dark:shadow-slate-900 rounded-lg" src="{{ asset('images/uploads/story/'~ infoPub.id ~'/'~ infoPub.cover)}} "/></label>
			{% endif %}
			<div id="tooltip-cover" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-normal text-white bg-slate-700 rounded-lg opacity-0 tooltip dark:bg-gray-700">
				Cliquez ici pour importer une photo<br/>de couverture
				<div class="tooltip-arrow" data-popper-arrow></div>
			</div>
		</div>
	</aside>
	<section class="col-span-12 -col-start-0 lg:col-span-6">
		<div class="mb-4  bg-white  dark:border-gray-700  dark:bg-slate-800 pt-5 sticky pb-[3px] top-14  z-40">
			<ul class="flex justify-center -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
				<li class="mr-2 text-xs lg:text-sm" role="presentation">
					<button class="inline-block p-4 border-b-4  dark:bg-slate-900  text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
						<i class="fa-solid fa-circle-info"></i>
						Informations</button>
				</li>
				<li class="mr-2 text-xs lg:text-sm" role="presentation">
					<button class="inline-block p-4 border-b-4  dark:bg-slate-900 text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="profile-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">
						<i class="fa-solid fa-list"></i>
						Chapitres</button>
				</li>
				<li class="mr-2  text-xs lg:text-sm" role="presentation">
					<button class="inline-block p-4 border-b-4  dark:bg-slate-900  text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="profile-tab" data-tabs-target="#imagination" type="button" role="tab" aria-controls="imagination" aria-selected="false">
						<i class="fa-solid fa-meteor"></i>
						Imagination</button>
				</li>
				<li class="mr-2 text-xs lg:text-sm" role="presentation">
					<button class="inline-block p-4 border-b-4  dark:bg-slate-900  text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="profile-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
						<i class="fa-solid fa-gear"></i>
						Paramètres</button>
				</li>
			</ul>
			<hr class=" shadow-slate-300 shadow mt-[0.10rem]">
		</div>
		<div id="myTabContent">
			<div class="hidden p-4 rounded-lg  dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				{{ form_start(formPub) }}
				{{ form_widget(formPub.cover, {attr:{"class":"axiosPublication hidden axiosPubAS axiosPubSpy"}})}}
				<input type="hidden" value="{{ infoPub.id }}" id="hideId"/>
				{{ form_label(formPub.title) }}
				<div class="relative mb-6">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
						<i class="fa-solid fa-book"></i>
					</div>
					{{ form_widget(formPub.title, {attr:{"class":"axiosPublication axiosPubAS axiosPubSpy", "onkeydown":"if(this.value == '' && event.keyCode==32) return false;", "onkeyup":"if(this.value.charAt(0) == ' ') { this.value = this.value.trim() } if (!this.value) { document.getElementById('pubTitle').innerHTML='Récit sans titre' } else { document.getElementById('pubTitle').innerHTML=this.value.charAt(0).toUpperCase() + this.value.substring(1).toLowerCase()}"}}) }}
				</div>
				{{ form_label(formPub.summary) }}
				<div class="relative mb-6">
					{{ form_widget(formPub.summary, {attr:{"class":"axiosPublication axiosPubAS axiosPubSpy"}}) }}
				</div>
				{{ form_label(formPub.category) }}
				<div class="relative mb-6">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
						<i class="fa-solid fa-list"></i>
					</div>
					{{ form_widget(formPub.category, {attr:{"class":"axiosPublication axiosPubAS axiosPubSpy"}}) }}
				</div>
				<label>En quelques mots, quelles sont les grandes thématiques de votre récit ?</label>
				<div class="relative mb-6">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none mb-1">
						<i class="fa-solid fa-tag"></i>
					</div>
					<input type="text" value="" id="keyValue"/>
				</div>
				<div class="hidden" id="editPage"></div>
				<turbo-frame id="keyroute">
					<div id="keyList" class="items-center">
						{% for k in infoPub.publicationKeywords %}
							<div id="keyw_{{ k.keyword|upper }}">{{ k.keyword }}
								&nbsp;<a href="{{path("app_publication_del_keyword", {value:k.keyword, pub:infoPub.id, mode:"edit"})}}">
									<i class="fa-solid fa-delete-left hover:text-red-400"></i>
								</a>
							</div>
						{% endfor %}
					</div>
				</turbo-frame>
				<hr class=" -mt-5">
				<label class="relative inline-flex items-center cursor-pointer">
					{{ form_widget(formPub.mature, {attr:{"class":"sr-only peer axiosPublication axiosPubAS axiosPubSpy"}}) }}
					<div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
					<span class="ml-3 -mt-6 text-sm font-medium text-slate-900 dark:text-slate-300">Votre récit contient-il du contenu pour adulte ?</span>
				</label>
				{{ form_end(formPub) }}
			</div>
			<div class="hidden p-4 rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
				<a href="{{path('app_publication_edit_chapter', {'idPub' : infoPub.id})}}" class="bg-slate-200 block text-center hover:bg-slate-300 -mt-3 target:bg-slate-400 text-slate-700 border-b-4 hover:text-slate-900 border-b-slate-400 rounded-lg text-sm font-medium w-full p-3 active:translate-y-[2px] active:border-b-2">
					<i class="fa-solid fa-circle-plus"></i>
					&nbsp;&nbsp;Ajouter une feuille, un chapitre...</a>
				<div class="mt-4 list-group" id="itemsChap">
					{% for items in infoPub.publicationChapters|sort((a, b) => a.orderDisplay <=> b.orderDisplay) %}
						{% if items.status > 0 %}
							{% set random = items.id  %}
							<turbo-frame id="{{ random }}">
								<div class="w-full bg-white border-none border-gray-100 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-5 list-group-item" chap="{{ random }}" id="{{ items.orderDisplay }}">
									<i class="fa-solid fa-arrows-up-down-left-right float-right text-sm mr-2 mt-2 cursor-grab item text-slate-500"></i>
									<div id="defaultTabContent{{ random }}">
										<div class="hidden p-4 pt-3 bg-white rounded-lg md:p-8 md:pt-3 dark:bg-gray-800" id="about{{ random }}" role="tabpanel" aria-labelledby="about-tab{{ random }}">
											<h2 class="mb-3 -ml-4 flex items-baseline gap-2 text-xl font-extrabold tracking-tight text-slate-700 dark:text-white">
												{% if items.status == 2 %}
														<span class="flex w-3 h-3 bg-green-500 rounded-full"></span>
													{% else %}
														<span class="flex w-3 h-3 bg-red-500 rounded-full"></span>
												{% endif %}
												{{ items.title|capitalize }}
											</h2>
											<p class="mb-3 text-gray-500 text-sm dark:text-gray-400">{% set content = items.content %}{{ content|striptags|slice(1, 150)|capitalize }}...</p>
											<a href="{{ path("app_publication_edit_chapter", { idPub:infoPub.id, idChap:items.id }) }}" data-turbo-frame="_top" class="inline-flex items-center text-sm font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
												Éditer
												<svg class="w-6 h-6 ml-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
												</svg>
											</a>
											|
											<a href="{{path("app_publication_del_chapter", {idChap:items.id, idPub:infoPub.id})}}" class="mb-3 text-gray-500 text-sm text-justify dark:text-gray-400">Supprimer</a>
											<span class="text-sm float-right -mb-10">
												<i class="fa-solid fa-stopwatch-20"></i>
												{{ items.content|readInfo("ri_mn") }}:{{ items.content|readInfo("ri_sc") }}
												de lecture</span>
										</div>
										<div class="hidden p-4 bg-white rounded-lg md:p-8  dark:bg-gray-800" id="services{{ random }}" role="tabpanel" aria-labelledby="services-tab{{ random }}">
											<h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">We invest in the world’s potential</h2>
											<!-- List -->
											<ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
												<li
													class="flex space-x-2">
													<!-- Icon -->
													<svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
													</svg>
													<span class="font-light leading-tight">Dynamic reports and dashboards</span>
												</li>
												<li
													class="flex space-x-2">
													<!-- Icon -->
													<svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
													</svg>
													<span class="font-light leading-tight">Templates for everyone</span>
												</li>
												<li
													class="flex space-x-2">
													<!-- Icon -->
													<svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
													</svg>
													<span class="font-light leading-tight">Development workflow</span>
												</li>
												<li
													class="flex space-x-2">
													<!-- Icon -->
													<svg class="flex-shrink-0 w-4 h-4 text-blue-600 dark:text-blue-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
													</svg>
													<span class="font-light leading-tight">Limitless business automation</span>
												</li>
											</ul>
										</div>
										<div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="statistics{{ random }}" role="tabpanel" aria-labelledby="statistics-tab{{ random }}">
											<dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
												<div class="flex flex-col">
													<dt class="mb-2 text-3xl font-extrabold">73M+</dt>
													<dd class="font-light text-gray-500 dark:text-gray-400">Developers</dd>
												</div>
												<div class="flex flex-col">
													<dt class="mb-2 text-3xl font-extrabold">100M+</dt>
													<dd class="font-light text-gray-500 dark:text-gray-400">Public repositories</dd>
												</div>
												<div class="flex flex-col">
													<dt class="mb-2 text-3xl font-extrabold">1000s</dt>
													<dd class="font-light text-gray-500 dark:text-gray-400">Open source projects</dd>
												</div>
											</dl>
										</div>
									</div>
									<ul class="flex flex-wrap text-xs -mt-3 font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent{{ random }}" role="tablist">
										<li class="mr-2">
											<button id="about-tab{{ random }}" data-tabs-target="#about{{ random }}" type="button" role="tab" aria-controls="about{{ random }}" aria-selected="true" class="inline-block p-4 text-slate-800 rounded-tl-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">Chapitre</button>
										</li>
										<li class="mr-2">
											<button id="services-tab{{ random }}" data-tabs-target="#services{{ random }}" type="button" role="tab" aria-controls="services{{ random }}" aria-selected="false" class="inline-block p-4  hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Information</button>
										</li>
										<li class="mr-2">
											<button id="statistics-tab{{ random }}" data-tabs-target="#statistics{{ random }}" type="button" role="tab" aria-controls="statistics{{ random }}" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Statistiques</button>
										</li>
									</ul>
								</div>
							</turbo-frame>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="hidden p-4 rounded-lg  min-h-screen" id="imagination" role="tabpanel" aria-labelledby="settings-tab">
				<p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
					<strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
			</div>
			<div class="hidden p-4 rounded-lg  min-h-screen" id="settings" role="tabpanel" aria-labelledby="settings-tab">
				<p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the
					<strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
			</div>
		</div>
	</section>
	<aside class="col-span-12 mt-9 ml-5 lg:col-span-3 lg:mt-5 opacity-90">
		<hr class="w-full col-span-12 lg:hidden">
		<div class="sticky top-20">
			<div id="publishDiv" class="p-4 rounded-lg  w-full dark:bg-gray-800 mb-4 border-2 ">
				<label class="relative inline-flex items-center mr-5 cursor-pointer" data-modal-target="popup-modal" data-modal-toggle="popup-modal">
					<input type="checkbox" id="publishButton" class="disabled sr-only peer" disabled {% if infoPub.status == 2 %} checked {% endif %}>
					<div id="publishToggle" class="w-11 h-6 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-green-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 "></div>
					<span class="ml-3 text-xs font-medium dark:text-gray-300" id="publishText">
						{% if infoPub.status > 1 %}Dépublier le récit{% else %}Publier le récit
						{% endif %}
					</span>
				</label>
			</div>
			<button type="button" class="p-2 w-full rounded-md text-sm ring-emerald-500 ring-2 font-bold text-green-600 hover:bg-green-200 hover:border-green-300 active:bg-emerald-200  mb-4 py-4" id="savePublication">
				{% if infoPub.status > 1 %}
					<i class="fa-solid fa-cloud-arrow-up"></i>
					&nbsp;Publier les modifications
				{% else %}
					<i class="fa-solid fa-floppy-disk"></i>
					&nbsp;Enregistrer
				{% endif %}
			</button>
			<div class="p-4 rounded-lg bg-slate-50 w-full dark:bg-gray-800 mb-4">
				<label class="relative inline-flex items-center cursor-pointer">
					{% if infoPub.status < 2 %}
						<input type="checkbox" value="" class="sr-only peer" id="togglePubAS" checked/>
					{% else %}
						<input type="checkbox" value="" class="sr-only peer" id="togglePubAS" disabled/>
					{% endif %}
					<div class="w-11 h-6 bg-blue-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-blue-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
					<span class="ml-3 text-xs font-medium text-blue-900 dark:text-gray-300">Sauvegarde automatique</span>
				</label>
				<p id="AStext" class="text-xs text-slate-500 leading-normal text-opacity-70 text-center border-t-[1px] border-t-slate-200 pt-2 mt-2">
					<i class="fa-solid fa-circle-info"></i>
					&nbsp;La sauvegarde automatique est désactivée car votre récit est publié.</p>
			</div>
			<div class="p-4 rounded-lg bg-slate-50 w-full dark:bg-gray-800 mb-4 text-slate-800 dark:text-slate-400">
				<p class="text-xs mb-1">
					<i class="fa-regular fa-clock"></i>
					&nbsp;Crée il y a
					<span class="font-medium">{{ infoPub.created|since }}</span>
				</p>
				<p class="text-xs mb-1">
					<i class="fa-regular fa-clock"></i>
					&nbsp;Modifié il y a
					<span class="font-medium">{{ infoPub.updated|since }}</span>
				</p>
				<p id="publishDateText" class="text-xs mb-1">
					<i class="fa-regular fa-clock"></i>
					&nbsp;Publié il y a
					<span class="font-medium" id="publishDateTextSpan">
						{% if infoPub.publishedDate %}
							{{ infoPub.publishedDate|since }}
						{% endif %}
					</span>
				</p>
			</div>
		</div>
	</aside>
	<div>
		<dialog id="popup-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
			<div class="relative w-full h-full max-w-2xl md:h-auto">
				<div class="relative bg-red rounded-lg shadow dark:bg-gray-700 top-1/3">
					<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="popup-modal">
						<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
					<div class="p-6 text-center bg-white rounded-2xl">
						<svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
						</svg>
						<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400" id="PublicationPublishModalText">Êtes-vous certain(e) de vouloir publier votre récit ?</h3>
						{# TODO: modifier le "certaine" en fonction du genre de l'utilisateur #}
						<button data-modal-hide="popup-modal" id="PublicationPublishButton" type="button" class="text-white focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
							Oui, je suis certain(e)
						</button>
						<button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Non, j'annule</button>
					</div>
				</div>
			</div>
		</dialog>
	</div>
	<input type="hidden" value="{{ infoPub.id }}" id="hideIdPub"/>
	<input type="hidden" id="hidePubStatus" value="{{ infoPub.status }}" id="hideId"/>
{% endblock %}
