{% extends "base.html.twig" %}
{% set pic = pubShow.cover %}
{% if pic %}
	{% else %}
		{% set pic = " https://picsum.photos/200/" ~ random(300, 310) %}
{% endif %}
{% block title %}
	Récit |
	{{ pubShow.title }}
	-
	{{ parent() }}
{% endblock %}

{% set summary %}
{% if pubShow.summary|length > 2 %}
	{{ pubShow.summary|slice(0, 250) ~ "..." }}
{% else %}
	{% set nbr = 0 %}
	{% for chapter in chapShow %}
		{% if chapter.status > 1 and nbr == 0 %}
			{{ chapter.content|regex_replace('/<p.*?>/i', ' ')|striptags|slice(0, 250) ~ "..." }}
			{% set nbr = nbr + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endset %}
{% block metatags %}
	<meta name="description" content="{{ summary|trim }}">
	<meta name="author" content="{{ pubShow.user.nickname }}">
	<meta property="og:image" content="{{pic}}">
	<meta property="og:image:width" content="529">
	<meta property="og:image:height" content="730">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{pubShow.title}}">
	<meta name="twitter:description" content="{{ summary|trim }}">
	<meta name="twitter:image" content="{{pic}}">
{% endblock %}
{% block body %}
	<style>
		#PublicationShowOneContent
		{
			position: inherit;
			z-index: 1;
		}
		#PublicationShowOneContent::before
		{
			content: "";
			position: absolute;
			display: inline;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			min-height: 100vh;
			height: 150vh;
			opacity: .1;
			z-index: -99999999999;
			background-image: url('{{ pic }}');
			background-position: center;
		}
	</style>
	<section class=" before:bg-cover before:blur before:-z-[9999]  col-span-12 col-start-0 lg:col-span-10 lg:col-start-2 gap-10 " id="PublicationShowOneContent">
		{% if pubShow.status < 2 %}
			<div class="mb-0">
				<div class="w-full -mt-10 mb-5 h-10 bg-slate-100 ring-1 ring-slate-500 dark:bg-slate-700 dark:shadow dark:text-slate-200 opacity-80 dark:opacity-100 right-0 rounded-b-sm">
					<p class="text-center p-2 font-medium text-xs flex justify-between px-5 ">
						<span>
							<span class="material-icons-outlined">
								preview
							</span>
							Aperçu de votre récit (<span class="material-icons text-red-600">
								fiber_manual_record
							</span>dépublié)</span>

						<a href="{{ path("app_publication_edit", {id:pubShow.id}) }}" class="hover:underline">Revenir à l'édition
							<span class="material-icons">
								redo
							</span>
						</a>
					</p>
				</div>
			</div>
		{% endif %}
		<h1 class="text-center font-serif text-4xl bg-center text-slate-800" style="text-shadow: 0 0.5px 1px blanchedalmond;">{{ pubShow.title }}</h1>
		<h2 class="text-center -mt-8">
			<span class="font-medium font-serif">
				<a href="{{ path("app_user", {username:pubShow.user.username}) }}" class="font-sans hover:underline dark:text-slate-200">{{ pubShow.user.nickname }}</a>
			</span>
		</h2>
		<div class="flex justify-center">
			<img class=" rounded-full mt-6 object-cover w-40 h-40 justify-center  mb-5  pb-1 shaow-md  grayscale-[50%]" src="{{pic}}" alt=""/>
		</div>
		<div class="flex gap-5 p-10 pt-0  items-center">
			<div class="flex-1 text-center flex flex-col justify-center items-center justify-items-center origin-center">
				<div class="lg:flex w-5/6">
					<p class="text-base font-serif font-light text-justify italic text-slate-900 dark:text-slate-200 dark:[text-shadow: 0 0.5px 1px blanchedalmond;] leading-7 mt-1">
						{% if orderChap %}
							{% if pubShow.summary %}

								{{ pubShow.summary }}... &nbsp;&nbsp;
								<div class="mt-5"></div>
							{% endif %}
						{% else %}
							<center>
								<i class="fa-solid fa-hourglass-half text-4xl font-thin text-slate-600"></i>
							</center>
							<br><span class="text-xl text-slate-500">Récit en cours de rédaction, aucune feuille pour le moment...</span>
						{% endif %}
					</p>
				</div>
				<a href="{{ path("app_chapter_show", {idChap:orderChap.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:orderChap.slug}) }}" class=" block mt-5 not-italic py-5 text-center w-full lg:w-3/6 px-10 bg-white   hover:bg-white text-slate-800 shadow hover:text-slate-800 bg-opacity-50 dark:bg-opacity-50 hover:bg-opacity-100 dark:bg-slate-800 dark:text-slate-100  dark:hover:bg-slate-900 rounded-lg">
					<span class="material-icons-outlined">
						local_library
					</span>
					<br/><span class="font-semibold">Commencer la lecture</span>
				</a>
				<a target="_top" href="{{ path("app_publication_show_one", {id:pubShow.id, slug:"download"}) }}" class=" block mt-5 not-italic  text-center text-sm px-5  hover:underline text-slate-900 dark:text-slate-200">
					<span class="material-icons-outlined">
						download
					</span>
					<span class="font-medium">
						Télécharger au format pdf</span>
				</a>
			</div>
		</div>
	</section>
	{% if orderChap %}
		<section class="lg:flex  col-span-12 lg:col-span-10 lg:col-start-2  mt-6 justify-evenly min-h-[50vh] z-50 dark:opacity-80">
			<div class="absolute bg-white dark:bg-slate-800 w-full min-h-[100%] left-0 right-0 -z-10  border-t-[1px] border-slate-200 dark:border-slate-900">&nbsp;</div>
			<div class="w-full lg:w-7/12 pt-10 z-50 order-2 lg:order-1 ">
				<div class="flex justify-between  gap-x-5 -mt-5 mb-5">
					{% if pubShow.finished == true %}
						<div class="w-full text-center bg-emerald-50 p-3 gap-y-2 rounded cursor-default grid grid-flow-row  dark:bg-transparent text-emerald-700 dark:text-emerald-300 ">
							<button class="font-medium cursor-default">
								<span class="material-icons-outlined">
									task_alt
								</span>
								Récit terminé
							</button>
							<span class="opacity-60 text-xs">
								Ce récit est terminé, aucune nouvelle feuille n'est prévue.
							</span>
						</div>
					{% elseif pubShow.finished == false and app.user and app.user.id != pubShow.user.id %}
						{% set classFollowBtn = "follow-collection-buttons" %}
						{% for item in pubShow.PublicationFollows %}
							{% if item.user.id == app.user.id %}
								{% set classFollowBtn = "follow-collection-buttons-ok" %}
							{% endif %}
						{% endfor %}
						<div id="followBtn" data-href="{{path("app_publication_follow", {id:pubShow.id})}}" class="{{classFollowBtn}}">
							<button class="font-medium">
								<span id="followIcon" class="material-icons-outlined">
									{{classFollowBtn == "follow-collection-buttons-ok" ? "label_off" : "loyalty" }}
								</span>
								<span id="followTitle">
									{{classFollowBtn == "follow-collection-buttons-ok" ? "Ne plus suivre ce récit" : "Suivre ce récit" }}
								</span>
							</button>
							<span id="followInfo" class="opacity-60 text-xs">
								{{classFollowBtn == "follow-collection-buttons-ok" ? "Vous ne recevrez plus de notification à chaque nouvelle feuille publiée." : "Vous recevrez une notification à chaque nouvelle feuille publiée." }}
							</span>
						</div>
					{% elseif not app.user %}
						<div class="follow-collection-buttons cursor-pointer" onclick="MicroModal.show('popup-login')">
							<button class="font-medium">
								<span class="material-icons-outlined">
									loyalty
								</span>
								Suivre ce récit
							</button>
							<span class="opacity-60 text-xs">
								Vous recevrez une notification à chaque nouvelle feuille publiée.
							</span>
						</div>
					{% endif %}
					{% if app.user and app.user.id != pubShow.user.id %}
						{% set classCollectionBtn = "follow-collection-buttons" %}
						{% for item in pubShow.PublicationBookmarks %}
							{% if app.user and item.user.id == app.user.id %}
								{% set classCollectionBtn = "follow-collection-buttons-ok" %}
							{% endif %}
						{% endfor %}
						<div id="btnCollection" data-href="{{path("app_publication_add_collection", {id:pubShow.id})}}" class="{{classCollectionBtn}}">
							<button class="font-medium">
								<span class="material-icons-outlined" id="iconCollection">
									{{classCollectionBtn == "follow-collection-buttons-ok" ? "bookmark_added" : "bookmark_add" }}
								</span>
								<span id="titleCollection">
									{{classCollectionBtn == "follow-collection-buttons-ok" ? "Retirer de ma collection" : "Ajouter à ma collection" }}
								</span>
							</button>
							<span class="opacity-60 text-xs" id="infoCollection">
								Ajoutez ce récit à votre collection personnelle.
							</span>
						</div>
					{% elseif not app.user %}
						<div class="follow-collection-buttons cursor-pointer" onclick="MicroModal.show('popup-login')">
							<button class="font-medium">
								<span class="material-icons-outlined">
									bookmark_add
								</span>
								Ajouter à ma collection
							</button>
							<span class="opacity-60 text-xs">
								Ajoutez ce récit à votre collection personnelle.
							</span>
						</div>
					{% endif %}
				</div>
				{% if not app.user or pubShow.finished == true %}
					<hr>
				{% endif %}
				<h3 class="text-2xl mb-5 lg:text-left text-center mt-5 dark:text-slate-100">
					<span class="material-icons-outlined">
						format_list_bulleted
					</span>
					&nbsp;
					{% set count = 0 %}
					{% for chapter in pubShow.publicationChapters %}
						{% if chapter.status == 2 %}
							{% set count = count + 1 %}
						{% endif %}
					{% endfor %}
					{{ count > 1 ? count ~ " feuilles" : count ~ " feuille"}}
				</h3>
				<ul class="flex flex-col">
					{% set nbrPages = 0 %}
					{% set chapterStats = {'likes': 0, 'bookmarks': 0, 'views': 0, 'comments': 0, 'pages': 0} %}
					{% for chapter in chapShow %}
						{% if chapter.status > 1 %}
							{% set chapterSlug = chapter.slug ?: "feuille-n0" ~ (chapter.orderDisplay + 1) %}
							<li class="inline-flex items-center gap-x-2 py-1 px-4 text-base font-medium text-slate-900 -mt-px dark:bg-inherit dark:text-white">
								<div class="flex justify-between w-full">
									<a href="{{ path("app_chapter_show", {idChap:chapter.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:chapterSlug}) }}" class="h-full w-4/6 font-normal  text-lg hover:underline">
										<span class="font-bold">{{ loop.index }}.</span>
										{{ chapter.title|default("Feuille n°" ~ (chapter.orderDisplay + 1))|capitalize }}
									</a>
									<div class="w-2/6 justify-items-end opacity-80 dark:opacity-100">
										<div class="py-1 px-2 rounded-full flex justify-between md:text-xs text-[0.65rem] text-slate-500 font-medium">
											<div class=" flex flex-col md:flex-row items-center">
												<span class="material-icons-outlined">
													thumb_up
												</span>
												{{ chapter.publicationChapterLikes|length }}
												{% set chapterStats = chapterStats|merge({'likes': chapterStats.likes + chapter.publicationChapterLikes|length}) %}
											</div>
											<div class=" flex flex-col md:flex-row items-center">
												<span class="material-icons-outlined">
													bookmarks
												</span>
												{{ chapter.publicationBookmarks|length }}
												{% set chapterStats = chapterStats|merge({'bookmarks': chapterStats.bookmarks + chapter.publicationBookmarks|length}) %}
											</div>
											<div class=" flex flex-col md:flex-row items-center">
												<span class="material-icons-outlined">
													visibility
												</span>
												{{ chapter.publicationChapterViews|length }}
												{% set chapterStats = chapterStats|merge({'views': chapterStats.views + chapter.publicationChapterViews|length}) %}
											</div>
											<div class=" flex flex-col md:flex-row items-center">
												<span class="material-icons-outlined">
													forum
												</span>
												{{ chapter.publicationComments|length }}
												{% set chapterStats = chapterStats|merge({'comments': chapterStats.comments + chapter.publicationComments|length}) %}
											</div>
										</div>
										{% set chapterStats = chapterStats|merge({'pages': chapterStats.pages + chapter.content|readInfo("nbr_page_A4")}) %}
									</div>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="w-full" id="publicationShowOneComment">
					<hr>
					{% if app.user.id is defined %}
						{{ form_start(formQuote, {attr:{"data-turbo-frame":"comment-section"}}) }}
						<label for="publication_chapter_comment_content" class="sr-only">Votre commentaire</label>
						<div class="flex items-center w-full rounded-lg ">
							{{ form_widget(formQuote.content, {attr:{"class":"block -mt-5 p-2.5 w-full text-sm text-gray-900 resize-none bg-white pr-12 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
							<button id="sendComment" type="submit" class="inline-flex justify-center p-2 text-slate-600 rounded-full cursor-pointer  hover:text-blue-500 dark:text-sky-500 dark:hover:text-sky-400  -ml-10 mt-4">
								<svg aria-hidden="true" class="w-6 h-6 -mt-8 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
								</svg>
								<span class="sr-only">Envoyer</span>
							</button>
						</div>
						<input type="hidden" name="quote" id="drawerNoteQuote">
						{{ form_end(formQuote) }}
						<hr>
					{% endif %}
					<ul>
						<li class="text-center mb-5 -mt-3 block lg:hidden" onclick="let commentSection = document.getElementById('comment-section').classList; commentSection.toggle('hidden');if (commentSection.contains('hidden')) { document.getElementById('showComMd').innerHTML = 'Afficher' } else {  document.getElementById('showComMd').innerHTML = 'Masquer' }">
							{% if nbrCom > 0 %}
								<button class="text-base text-slate-300 font-medium hover:underline">
									<span id="showComMd">Afficher</span>
									les
									{{nbrCom}}
									{{nbrCom > 1 ? "commentaires" : "commentaire" }}
								</button>
							{% else %}
								Aucun commentaire
							{% endif %}
						</li>
					</ul>
					<turbo-frame id="comment-section" class=" hidden lg:block">
						{% set n = 0 %}
						{% for item in pCom %}
							{% include "publication/_partials/_comment.html.twig" with { item:item, n:n, pcom:nbrCom} %}
							{% set n = n + 1  %}
						{% endfor %}
						{% if nbrShowCom < nbrCom %}
							{# <a href="{{path("app_chapter_show", {user:infoPub.user.id, slug:chapterSlug, slugPub:infoPub.slug, idChap:infoChap.id, nbrShowCom:nbrShowCom + 10})}}">Afficher plus de commentaires</a> #}
						{% endif %}
					</turbo-frame>
				</div>
			</div>
			{# Partage sur Twitter #}
			{% set twitterChar = 280 %}
			{% set twitterChar = twitterChar - (app.request.schemeAndHttpHost|length + app.request.requestUri|length) - "@ScrilabEditions"|length - 6 - pubShow.title|length %}
			{% set hashtags = [] %}

			{% for item in pubShow.publicationKeywords %}
				{% set hashtag = "#" ~ item.keyword %}
				{% if twitterChar - hashtag|length >= 0 %}
					{% set twitterChar = twitterChar - hashtag|length - 1 %}
					{% set hashtags = hashtags|merge([hashtag]) %}
				{% endif %}
			{% endfor %}
			{% set hashtag = hashtags|join(" ") %}
			{% set url = app.request.schemeAndHttpHost ~ app.request.requestUri %}
			{% set text = "« " ~ pubShow.title ~ " » #" ~ pubShow.category.name ~ " " ~ hashtag %}
			{% set via = "ScrilabEditions" %}
			<div class="w-full opacity-60 dark:opacity-100  text-xs  z-50 mt-0 pt-5 px-2 lg:w-4/12  order-1 lg:order-2  shadow-slate-300 text-slate-900 border-slate-200 border-t-[1px] border-t-slate-200 dark:border-slate-900 dark:border-t-slate-900 lg:border-l-[1px] lg:border-t-0 ">
				<ul class="flex flex-col  text-sm">
					<li class="inline-flex items-center  gap-x-2 mt-0 px-4 font-normal justify-center dark:text-white">
						<ul class="flex-row flex justify-between w-full">
							<li>
								<a href="https://twitter.com/share?url={{url}}&text={{text|url_encode}}&via={{via}}" target="_blank">
									<svg data-tippy-content="Partager sur Twitter" class="w-6 h-6 fill-[#1da1f2]" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
										<path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
									</svg>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/sharer/sharer.php?u={{url}}&title={{pubShow.title}}&description={{hashtag}}&picture={{pic}}" target="_blank">
									<svg data-tippy-content="Partager sur Facebook" class="w-6 h-6 fill-[#1877f2]" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
										<path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"></path>
									</svg>
								</a>
							</li>
							<li class="w-5 h-5">
								<a data-tippy-content="Partager sur Pinterest" href="https://www.pinterest.com/pin/create/button/?url={{url}}&media={{pic}}&description={{text|url_encode}}" target="_blank">
									<img src="https://cdn-icons-png.flaticon.com/512/145/145808.png" class="w-full mt-[0.15rem]">
								</a>
							</li>
							<li class="w-5 h-5">
								<a data-tippy-content="Partager sur Linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}&title={{pubShow.title|url_encode}}&summary={{text|url_encode}}" target="_blank">
									<img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="w-full mt-[0.15rem]">
								</a>
							</li>
							<li class="w-5 h-5">
								<a data-tippy-content="Partager sur Whatsapp" href="whatsapp://send?text={{text|url_encode}}%20{{url}}" target="_blank">
									<img src="https://cdn-icons-png.flaticon.com/512/174/174879.png" class="w-full mt-[0.15rem]">
								</a>
							</li>
							<li>
								<button data-tippy-content="Copier le lien" id="copyLink" target="_blank" class="text-lg">
									<span class="material-icons-outlined">
										link
									</span>
								</button>
							</li>
						</ul>
					</li>
					<hr class="mb-5">
					<li class="inline-flex items-center justify-between gap-x-2 px-4 font-normal dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								theater_comedy
							</span>
							&nbsp;Genre
						</span>
						{% if pubShow.category.slug is defined %}
							{% set slug = pubShow.category.slug %}
							{% set slugName = pubShow.category.name|capitalize %}

						{% else %}
							{% set slug = "all" %}
							{% set slugName = "Sans catégorie" %}
						{% endif %}
						{% if pubShow.category.color is defined %}
							{% set color = pubShow.category.color %}
						{% else %}
							{% set color = 11 %}
						{% endif %}
						<a href="{{path("app_publication_show_all_category", {slug:slug})}}" class="catColor-{{color}} rounded px-2 py-1 text-xs">
							<span>{{ slugName }}</span>
						</a>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px   dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								auto_stories
							</span>
							&nbsp;Nombre de pages (pdf)
						</span>
						<span>{{ chapterStats.pages }}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px  dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								timer
							</span>
							&nbsp;Temps de lecture
						</span>
						<span>{{ pubShow.publicationChapters|chapter("rt", "ft") }}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px  dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								visibility
							</span>
							&nbsp;Nombre de lecteurs
						</span>
						<span>{{chapterStats.views}}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px   dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								forum
							</span>
							&nbsp;Commentaires
						</span>
						<span class="nbr-com-let nbr-com" data-nbr-com="{{chapterStats.comments + nbrCom}}">
							{% if (chapterStats.comments  + nbrCom)> 0 %}
								{{chapterStats.comments   + nbrCom}}
							{% else %}
								Aucun
							{% endif %}
						</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								book
							</span>
							&nbsp;Pages marquées
						</span>
						<span>{{chapterStats.bookmarks}}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								thumb_up
							</span>
							&nbsp;J'aime
						</span>
						<span>{{chapterStats.likes}}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								downloading
							</span>
							&nbsp;Téléchargements
						</span>
						<span>{{pubShow.PublicationDownloads|length}}</span>
					</li>
					{# Progression #}
					{% set lastPopularity = 0 %}
					{% if pubShow.PublicationPopularities|length > 1 %}
						{% set nbr = pubShow.PublicationPopularities|length %}
						{% set nbr = nbr - 1 %}
						{% set lastPopularity = pubShow.PublicationPopularities[nbr].popularity %}
					{% endif %}
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px  dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								insights
							</span>
							&nbsp;Popularité
							<span class="font-light text-xs">(7 jours)</span>
						</span>
						<span class="flex items-end gap-x-1">
							{{pubShow.pop}}
							{% if pubShow.pop < lastPopularity %}
								<span class="material-icons  text-red-700 dark:text-red-500">
									arrow_circle_down
								</span>
							{% elseif pubShow.pop == lastPopularity %}
								<span class="material-icons-outlined">
									equal
								</span>
							{% else %}
								<span class="material-icons text-green-700 dark:text-emerald-500">
									arrow_circle_up
								</span>
							{% endif %}
						</span>
					</li>
				</ul>
				<ul class="flex flex-wrap justify-between p-2 text-sm border-t-[1px] gap-x-5 gap-y-5 grid-cols-4 border-t-slate-200 dark:border-t-slate-900 pt-5 mt-5">
					{% for item in pubShow.publicationKeywords %}
						<li class="font-medium dark:text-white">
							<a href="{{path("app_publication_show_all_category", {keystring:item.keyword|lower, order:'desc', sortby:'published', page:1, slug:"all"})}}" class="hover:underline text-slate-800 dark:text-white">#{{ item.keyword }}</a>
						</li>
					{% endfor %}
				</ul>

				<ul class=" flex flex-col opacity-60 dark:opacity-100 text-sm border-t-[1px] border-t-slate-200 dark:border-t-slate-900 pt-5 mt-5">
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								newspaper
							</span>
							&nbsp;&nbsp;Publié depuis
						</span>
						<span>{{ pubShow.publishedDate ? pubShow.publishedDate|since : "Jamais publié" }}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-icons-outlined">
								auto_fix
							</span>
							&nbsp;&nbsp;Modifié il y a
						</span>
						<span>{{ pubShow.updated|since }}</span>
					</li>
				</ul>
			</div>
		</section>
	{% endif %}
{% endblock %}
