{% extends 'base.html.twig' %}

{% block title %}
	{{ pubShow.title }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="col-span-6 col-start-4  row-start-1 gap-10 grayscale">
		<h1 class="text-center font-serif text-4xl">{{ pubShow.title }}</h1>
		<h2 class="text-center -mt-8">
			<small>par</small>
			<span class="font-medium">
				<a href="{{ path("app_user", {username:pubShow.user.username}) }}">{{ pubShow.user.nickname }}</a>
			</span>
		</h2>
	</section>
	<section class="col-span-8 col-start-3 row-start-2 pt-10">
		<div class="flex gap-5 p-5  items-center">
			<img class="self-start rounded object-cover w-2/6 shaow-md lazy animate-pulse animate__animated bg-slate-300 grayscale-[50%]" loading="lazy" src="" data-src="{{ "https://picsum.photos/400/" ~ random(500, 520) }}" alt=""/>
			<div class="flex-1 text-center flex flex-col items-center">
				<p class="text-sm font-serif text-justify italic text-slate-700 leading-6 -mt-2">
					{% if orderChap %}
						{% if pubShow.summary %}
							<i class="fa-solid fa-quote-left text-2xl"></i>&nbsp;
							{{ pubShow.summary }}... &nbsp;&nbsp;
							<div class="mt-5"></div>
						{% endif %}
						<a href="{{ path("app_chapter_show", {idChap:orderChap.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:orderChap.slug}) }}" class=" block not-italic font-bold py-5 text-center w-full px-10 bg-slate-100 text-slate-600 hover:text-slate-900 hover:bg-slate-200 rounded-lg">
							<i class="fa-solid fa-glasses"></i>
							&nbsp;commencer la lecture</a>
					{% else %}
						<center>
							<i class="fa-solid fa-hourglass-half text-4xl font-thin text-slate-600"></i>
						</center>
						<br><span class="text-xl text-slate-500">Récit en cours de rédaction, aucune feuille pour le moment...</span>
					{% endif %}

				</p>
			</div>
		</div>
	</section>
	{% if orderChap %}

		<section class="flex col-span-8 col-start-3 row-start-3 mt-6 border-t-2 border-t-slate-200 pt-5">

			<div class="w-9/12">
				<h3 class="text-2xl mb-2">Chapitres</h3>
				<ul class="list-disc list-inside">
					{% for chapter in pubShow.publicationChapters|sort((a, b) => a.orderDisplay < b.orderDisplay ? -1 : 1) %}
						{% if chapter.status > 1 %}
							<li class=" list-none">
								<a href="{{ path("app_chapter_show", {idChap:chapter.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:chapter.slug}) }}">
									{% if chapter.title  %}
										{{ chapter.title|capitalize }}
									{% else %}
										Feuille n°{{ chapter.orderDisplay + 1 }}
									{% endif %}

								</a>
							</li>
						{% endif %}
					{% endfor %}
				</div>
				<div class="w-3/12">f</div>
			</section>
		{% endif %}
	{% endblock %}
