{% extends "base.html.twig" %}

{% block title %}
	Récit |
	{{ pubShow.title }}
	-
	{{ parent() }}
{% endblock %}

{% set summary %}
{% if pubShow.summary|length > 2 %}
	{{ pubShow.summary|slice(0, 250) ~ "..." }}
{% else %}
	{% set nbr = 0 %}
	{% for chapter in chapShow %}
		{% if chapter.status > 1 and nbr == 0 %}
			{{ chapter.content|regex_replace('/<p.*?>/i', ' ')|striptags|slice(0, 250) ~ "..." }}
			{% set nbr = nbr + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endset %}
{% block metatags %}
	<meta name="description" content="{{ summary|trim }}">
	<meta name="author" content="{{ pubShow.user.nickname }}">
{% endblock %}
{% block body %}
	{% set pic = pubShow.cover %}
	{% if pic %}
		{% else %}
			{% set pic = " https://picsum.photos/200/" ~ random(300, 310) %}
	{% endif %}
	<style>
		#PublicationShowOneContent
		{
			position: inherit;
			z-index: 1;
		}
		#PublicationShowOneContent::before
		{
			content: "";
			position: absolute;
			display: inline;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			min-height: 100vh;
			height: 150vh;
			opacity: .1;
			z-index: -99999999999;
			background-image: url('{{ pic }}');
			background-position: center;
		}
	</style>
	<section class=" before:bg-cover before:blur before:-z-[9999]  col-span-12 col-start-0 lg:col-span-10 lg:col-start-2 gap-10 " id="PublicationShowOneContent">
		{% if pubShow.status < 2 %}
			<div class="mb-0">
				<div class="w-full -mt-10 mb-5 h-10 bg-slate-100 ring-1 ring-slate-700 opacity-80 dark:opacity-100 right-0 rounded-b-sm">
					<p class="text-center p-2 font-medium text-xs flex justify-between px-5 text-slate-900">
						<span>
							<span class="material-symbols-outlined">
								preview
							</span>
							Aperçu de votre récit (<span class="material-icons text-red-600">
								fiber_manual_record
							</span>dépublié)</span>

						<a href="{{ path("app_publication_edit", {id:pubShow.id}) }}" class="hover:underline">Revenir à l'édition
							<span class="material-icons">
								redo
							</span>
						</a>
					</p>
				</div>
			</div>
		{% endif %}
		<h1 class="text-center font-serif text-4xl bg-center text-slate-800" style="text-shadow: 0 0.5px 1px blanchedalmond;">{{ pubShow.title }}</h1>
		<h2 class="text-center -mt-8">
			<span class="font-medium font-serif">
				<a href="{{ path("app_user", {username:pubShow.user.username}) }}" class="font-sans hover:underline dark:text-slate-200">{{ pubShow.user.nickname }}</a>
			</span>
		</h2>
		<div class="flex justify-center">
			<img class=" rounded-full mt-6 object-cover w-40 h-40 justify-center  mb-5  pb-1 shaow-md  grayscale-[50%]" src="{{pic}}" alt=""/>
		</div>
		<div class="flex gap-5 p-10 pt-0  items-center">
			<div class="flex-1 text-center flex flex-col justify-center items-center justify-items-center origin-center">
				<div class="lg:flex w-5/6">
					<p class="text-base font-serif text-justify italic text-slate-900 dark:text-slate-200 dark:[text-shadow: 0 0.5px 1px blanchedalmond;] leading-7 mt-1">
						{% if orderChap %}
							{% if pubShow.summary %}
								<span class="material-symbols-outlined">
									format_quote
								</span>&nbsp;
								{{ pubShow.summary }}... &nbsp;&nbsp;
								<div class="mt-5"></div>
							{% endif %}
						{% else %}
							<center>
								<i class="fa-solid fa-hourglass-half text-4xl font-thin text-slate-600"></i>
							</center>
							<br><span class="text-xl text-slate-500">Récit en cours de rédaction, aucune feuille pour le moment...</span>
						{% endif %}
					</p>
				</div>
				<a href="{{ path("app_chapter_show", {idChap:orderChap.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:orderChap.slug}) }}" class=" block mt-5 not-italic py-5 text-center w-full lg:w-3/6 px-10 bg-white bg-opacity-70 dark:bg-opacity-60  hover:bg-white text-slate-900 shadow hover:text-slate-900 hover:bg-opacity-100 dark:bg-slate-800 dark:text-slate-100 dark:hover:bg-slate-900 rounded-lg">
					<span class="material-symbols-outlined">
						local_library
					</span>
					<br/><span class="font-medium">Commencer la lecture</span>
				</a>
				<a target="_top" href="{{ path("app_publication_show_one", {id:pubShow.id, slug:"download"}) }}" class=" block mt-5 not-italic  text-center text-sm px-5  hover:underline text-slate-900 dark:text-slate-200">
					<span class="material-symbols-outlined">
						download
					</span>
					<span class="font-medium">
						Télécharger au format pdf</span>
				</a>
			</div>
		</div>
	</section>
	{% if orderChap %}
		<section class="lg:flex  col-span-12 lg:col-span-10 lg:col-start-2  mt-6 justify-evenly min-h-[50vh] z-50 dark:opacity-80">
			<div class="absolute bg-white dark:bg-slate-800 w-full min-h-[100%] left-0 right-0 -z-10  border-t-[1px] border-slate-200 dark:border-slate-900">&nbsp;</div>
			<div class="w-full lg:w-7/12 pt-10 z-50 order-2 lg:order-1 ">
				<div class="flex justify-between  gap-x-5 -mt-5 mb-5">
					{% if pubShow.finished == true %}
						<div class="w-full text-center bg-emerald-50 p-3 gap-y-2 rounded cursor-default grid grid-flow-row  dark:bg-transparent text-emerald-700 dark:text-emerald-300 ">
							<button class="font-medium cursor-default">
								<span class="material-symbols-outlined">
									task_alt
								</span>
								Récit terminé
							</button>
							<span class="opacity-60 text-xs">
								Ce récit est terminé, aucune nouvelle feuille n'est prévue.
							</span>
						</div>
					{% elseif pubShow.finished == false and app.user and app.user.id != pubShow.user.id %}
						{% set classFollowBtn = "follow-collection-buttons" %}
						{% for item in pubShow.PublicationFollows %}
							{% if item.user.id == app.user.id %}
								{% set classFollowBtn = "follow-collection-buttons-ok" %}
							{% endif %}
						{% endfor %}
						<div id="followBtn" data-href="{{path("app_publication_follow", {id:pubShow.id})}}" class="{{classFollowBtn}}">
							<button class="font-medium">
								<span id="followIcon" class="material-symbols-outlined">
									{{classFollowBtn == "follow-collection-buttons-ok" ? "label_off" : "loyalty" }}
								</span>
								<span id="followTitle">
									{{classFollowBtn == "follow-collection-buttons-ok" ? "Ne plus suivre ce récit" : "Suivre ce récit" }}
								</span>
							</button>
							<span id="followInfo" class="opacity-60 text-xs">
								{{classFollowBtn == "follow-collection-buttons-ok" ? "Vous ne recevrez plus de notification à chaque nouvelle feuille publiée." : "Vous recevrez une notification à chaque nouvelle feuille publiée." }}
							</span>
						</div>
					{% elseif not app.user %}
						<div class="follow-collection-buttons cursor-pointer" onclick="MicroModal.show('popup-login')">
							<button class="font-medium">
								<span class="material-symbols-outlined">
									loyalty
								</span>
								Suivre ce récit
							</button>
							<span class="opacity-60 text-xs">
								Vous recevrez une notification à chaque nouvelle feuille publiée.
							</span>
						</div>
					{% endif %}
					{% if app.user and app.user.id != pubShow.user.id %}
						{% set classCollectionBtn = "follow-collection-buttons" %}
						{% for item in pubShow.PublicationBookmarks %}
							{% if app.user and item.user.id == app.user.id %}
								{% set classCollectionBtn = "follow-collection-buttons-ok" %}
							{% endif %}
						{% endfor %}
						<div id="btnCollection" data-href="{{path("app_publication_add_collection", {id:pubShow.id})}}" class="{{classCollectionBtn}}">
							<button class="font-medium">
								<span class="material-symbols-outlined" id="iconCollection">
									{{classCollectionBtn == "follow-collection-buttons-ok" ? "bookmark_added" : "bookmark_add" }}
								</span>
								<span id="titleCollection">
									{{classCollectionBtn == "follow-collection-buttons-ok" ? "Retirer de ma collection" : "Ajouter à ma collection" }}
								</span>
							</button>
							<span class="opacity-60 text-xs" id="infoCollection">
								Ajoutez ce récit à votre collection personnelle.
							</span>
						</div>
					{% elseif not app.user %}
						<div class="follow-collection-buttons cursor-pointer" onclick="MicroModal.show('popup-login')">
							<button class="font-medium">
								<span class="material-symbols-outlined">
									bookmark_add
								</span>
								Ajouter à ma collection
							</button>
							<span class="opacity-60 text-xs">
								Ajoutez ce récit à votre collection personnelle.
							</span>
						</div>
					{% endif %}
				</div>
				{% if not app.user or pubShow.finished == true %}
					<hr>
				{% endif %}
				<h3 class="text-2xl mb-5 lg:text-left text-center mt-5 dark:text-slate-100">
					<span class="material-symbols-outlined">
						format_list_bulleted
					</span>
					&nbsp;
					{% set count = 0 %}
					{% for chapter in pubShow.publicationChapters %}
						{% if chapter.status == 2 %}
							{% set count = count + 1 %}
						{% endif %}
					{% endfor %}
					{{ count > 1 ? count ~ " feuilles" : count ~ " feuille"}}
				</h3>
				<ul class="flex flex-col">
					{% set nbrPages = 0 %}
					{% set chapterStats = {'likes': 0, 'bookmarks': 0, 'views': 0, 'comments': 0, 'pages': 0} %}
					{% for chapter in chapShow %}
						{% if chapter.status > 1 %}
							{% set chapterSlug = chapter.slug ?: "feuille-n0" ~ (chapter.orderDisplay + 1) %}
							<li class="inline-flex items-center gap-x-2 py-1 px-4 text-base font-medium text-slate-900 -mt-px dark:bg-inherit dark:text-white">
								<div class="flex justify-between w-full">
									<a href="{{ path("app_chapter_show", {idChap:chapter.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:chapterSlug}) }}" class="h-full w-4/6 font-normal  text-lg hover:underline">
										<span class="font-bold">{{ loop.index }}.</span>
										{{ chapter.title|default("Feuille n°" ~ (chapter.orderDisplay + 1))|capitalize }}
									</a>
									<div class="w-2/6 justify-items-end opacity-80 dark:opacity-100">
										<div class="py-1 px-2 rounded-full flex justify-between text-xs text-slate-600 font-medium">
											<div>
												<span class="material-symbols-outlined">
													thumb_up
												</span>
												{{ chapter.publicationChapterLikes|length }}
												{% set chapterStats = chapterStats|merge({'likes': chapterStats.likes + chapter.publicationChapterLikes|length}) %}
											</div>
											<div>
												<span class="material-symbols-outlined">
													bookmarks
												</span>
												{{ chapter.publicationBookmarks|length }}
												{% set chapterStats = chapterStats|merge({'bookmarks': chapterStats.bookmarks + chapter.publicationBookmarks|length}) %}
											</div>
											<div>
												<span class="material-symbols-outlined">
													visibility
												</span>
												{{ chapter.publicationChapterViews|length }}
												{% set chapterStats = chapterStats|merge({'views': chapterStats.views + chapter.publicationChapterViews|length}) %}
											</div>
											<div>
												<span class="material-symbols-outlined">
													forum
												</span>
												{{ chapter.publicationComments|length }}
												{% set chapterStats = chapterStats|merge({'comments': chapterStats.comments + chapter.publicationComments|length}) %}
											</div>
										</div>
										{% set chapterStats = chapterStats|merge({'pages': chapterStats.pages + chapter.content|readInfo("nbr_page_A4")}) %}
									</div>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="w-full" id="publicationShowOneComment">
					<hr>
					{% if app.user.id is defined %}
						{{ form_start(formQuote, {attr:{"data-turbo-frame":"comment-section"}}) }}
						<label for="publication_chapter_comment_content" class="sr-only">Votre commentaire</label>
						<div class="flex items-center w-full rounded-lg ">
							{{ form_widget(formQuote.content, {attr:{"class":"block -mt-5 p-2.5 w-full text-sm text-gray-900 resize-none bg-white pr-12 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
							<button id="sendComment" type="submit" class="inline-flex justify-center p-2 text-slate-600 rounded-full cursor-pointer  hover:text-blue-500 dark:text-sky-500 dark:hover:text-sky-400  -ml-10 mt-4">
								<svg aria-hidden="true" class="w-6 h-6 -mt-8 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
								</svg>
								<span class="sr-only">Envoyer</span>
							</button>
						</div>
						<input type="hidden" name="quote" id="drawerNoteQuote">
						{{ form_end(formQuote) }}
						<hr>
					{% endif %}
					<turbo-frame id="comment-section">
						{% set n = 0 %}
						{% for item in pCom %}
							{% include "publication/_partials/_comment.html.twig" with { item:item, n:n, pcom:nbrCom} %}
							{% set n = n + 1  %}
						{% endfor %}
						{% if nbrShowCom < nbrCom %}
							{# <a href="{{path("app_chapter_show", {user:infoPub.user.id, slug:chapterSlug, slugPub:infoPub.slug, idChap:infoChap.id, nbrShowCom:nbrShowCom + 10})}}">Afficher plus de commentaires</a> #}
						{% endif %}
					</turbo-frame>
				</div>
			</div>
			<div class="w-full opacity-60 dark:opacity-100  z-50 mt-0 pt-5 px-2 lg:w-4/12  order-1 lg:order-2  shadow-slate-300 text-slate-900 border-slate-200 border-t-[1px] border-t-slate-200 dark:border-slate-900 dark:border-t-slate-900 lg:border-l-[1px] lg:border-t-0 ">
				<ul class="flex flex-col  text-sm">
					<li class="inline-flex items-center  gap-x-2 mt-0 px-4 font-normal justify-center   dark:text-white">
						<div class="flex items-center">
							<svg aria-hidden="true" class="text-yellow-400 w-7 h-7" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<title>First star</title>
								<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
							</svg>
							<svg aria-hidden="true" class="text-yellow-400 w-7 h-7" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<title>Second star</title>
								<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
							</svg>
							<svg aria-hidden="true" class="text-yellow-400 w-7 h-7" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<title>Third star</title>
								<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
							</svg>
							<svg aria-hidden="true" class="text-yellow-400 w-7 h-7" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<title>Fourth star</title>
								<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
							</svg>
							<svg aria-hidden="true" class="text-gray-300 w-7 h-7 dark:text-gray-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<title>Fifth star</title>
								<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
							</svg>
						</div>
					</li>
					<hr>
					<li class="inline-flex items-center justify-between gap-x-2  px-4 font-normal dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								theater_comedy
							</span>
							&nbsp;&nbsp;Genre
						</span>
						{% if pubShow.category.slug is defined %}
							{% set slug = pubShow.category.slug %}
							{% set slugName = pubShow.category.slug|capitalize %}

						{% else %}
							{% set slug = "all" %}
							{% set slugName = "Sans catégorie" %}
						{% endif %}
						{% if pubShow.category.color is defined %}
							{% set color = pubShow.category.color %}
						{% else %}
							{% set color = 11 %}
						{% endif %}
						<a href="{{path("app_publication_show_all_category", {slug:slug})}}" class="catColor-{{color}} rounded px-2 py-1 text-xs">
							<span>{{ slugName }}</span>
						</a>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px   dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								auto_stories
							</span>
							&nbsp;&nbsp;Nombre de pages (pdf)
						</span>
						<span>{{ chapterStats.pages }}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px  dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								timer
							</span>
							&nbsp;&nbsp;Temps de lecture
						</span>
						<span>{{ pubShow.publicationChapters|chapter("rt", "ft") }}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px  dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								visibility
							</span>
							&nbsp;&nbsp;Nombre de lecteurs
						</span>
						<span>{{chapterStats.views}}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px   dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								forum
							</span>
							&nbsp;Commentaires
						</span>
						<span class="nbr-com-let nbr-com" data-nbr-com="{{chapterStats.comments + nbrCom}}">
							{% if (chapterStats.comments  + nbrCom)> 0 %}
								{{chapterStats.comments   + nbrCom}}
							{% else %}
								Aucun
							{% endif %}
						</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								book
							</span>
							&nbsp;&nbsp;&nbsp;Pages marquées
						</span>
						<span>{{chapterStats.bookmarks}}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								thumb_up
							</span>
							&nbsp;&nbsp;&nbsp;J'aime
						</span>
						<span>{{chapterStats.likes}}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								downloading
							</span>
							&nbsp;&nbsp;&nbsp;Téléchargements
						</span>
						<span>{{pubShow.PublicationDownloads|length}}</span>
					</li>
					{# Progression #}
					{% set lastPopularity = 0 %}
					{% if pubShow.PublicationPopularities|length > 1 %}
						{% set nbr = pubShow.PublicationPopularities|length %}
						{% set nbr = nbr - 1 %}
						{% set lastPopularity = pubShow.PublicationPopularities[nbr].popularity %}
					{% endif %}


					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px  dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								insights
							</span>
							&nbsp;&nbsp;&nbsp;Popularité
							<span class="font-light text-xs">(7 jours)</span>
						</span>
						<span>
							{{pubShow.pop}}
							{% if pubShow.pop < lastPopularity %}
								<span class="material-icons  text-red-700">
									arrow_circle_down
								</span>
							{% elseif pubShow.pop == lastPopularity %}
								<span class="material-symbols-outlined">
									equal
								</span>
							{% else %}
								<span class="material-icons text-green-700">
									arrow_circle_up
								</span>
							{% endif %}
						</span>
					</li>
				</ul>
				<ul class="flex flex-wrap justify-between p-2 text-sm border-t-[1px] gap-x-5 gap-y-5 grid-cols-4 border-t-slate-200 dark:border-t-slate-900 pt-5 mt-5">
					{% for item in pubShow.publicationKeywords %}
						<li class="font-medium dark:text-white">
							<a href="{{path("app_publication_show_all_category", {keystring:item.keyword|lower, order:'desc', sortby:'published', page:1, slug:"all"})}}" class="hover:underline text-slate-800 dark:text-white">#{{ item.keyword }}</a>
						</li>
					{% endfor %}
				</ul>

				<ul class=" flex flex-col opacity-60 dark:opacity-100 text-sm border-t-[1px] border-t-slate-200 dark:border-t-slate-900 pt-5 mt-5">
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								newspaper
							</span>
							&nbsp;&nbsp;Publié depuis
						</span>
						<span>{{ pubShow.publishedDate ? pubShow.publishedDate|since : "Jamais publié" }}</span>
					</li>
					<li class="inline-flex items-center justify-between gap-x-2 py-2 px-4 font-normal -mt-px    dark:text-white">
						<span class="font-medium">
							<span class="material-symbols-outlined">
								auto_fix
							</span>
							&nbsp;&nbsp;Modifié il y a
						</span>
						<span>{{ pubShow.updated|since }}</span>
					</li>
				</ul>
			</div>
		</section>
	{% endif %}
{% endblock %}
