{% extends 'base.html.twig' %}

{% block title %}
	{{ infoPub.title ~ ' (' ~ infoChap.title ~ ')' }}
	-
	{{ parent() }}
{% endblock %}
{% block body %}
	<section id="titleChapter">
		<div>
			<h1>
				<a id="chapTitle" href="{{ path("app_publication_show_one", {id:infoPub.id, slug:infoPub.slug}) }}">{{ infoPub.title }}</a>
			</h1>
			<h2>
				<small>par</small>
				<span class="font-medium">
					<a href="{{ path("app_user", {username:infoPub.user.username}) }}">{{ infoPub.user.nickname }}</a>
				</span>
			</h2>
		</div>
		<div class="items-center justify-center justify-items-center flex">
			<a href="{{ path("app_user", {username:infoPub.user.username}) }}" class=" text-xl text-slate-700">{{ infoChap.title }}</a>
		</div>
	</section>
	<section class="col-span-8 col-start-3 pt-10 row-start-2" id="chapContent">
		{% if previousChap %}
			<div class="fixed top-0 w-10 bottom-0 left-0 flex items-center justify-start  ml-8 lg:ml-56 z-10" id="arrowPrevious">
				<a href="{{ path("app_chapter_show", {idChap:previousChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:previousChap.slug}) }}" class="text-slate-600">
					<i class="fa-solid fa-angles-left text-4xl"></i>
				</a>
			</div>
		{% endif %}
		<turbo-frame id="chapContentTurbo">
			<article class="flex flex-col justify-center" id="chapArticle">
				{{ chapterContent|raw }}
			</article>
		</turbo-frame>
		{% if nextChap %}
			<div class="fixed top-0 bottom-0 right-0 flex items-center justify-end mr-8 lg:mr-56 " id="arrowNext">
				<a href="{{ path("app_chapter_show", {idChap:nextChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:nextChap.slug}) }}" class="text-slate-600  z-10">
					<i class="fa-solid fa-angles-right  text-4xl"></i>
				</a>
			</div>
		{% endif %}
		<div class="mt-10" id="bottomChap">
			{% if previousChap %}
				<p class="float-left">
					<a href="{{ path("app_chapter_show", {idChap:previousChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:previousChap.slug}) }}">
						<i class="fa-solid fa-angles-left"></i>
						Chapitre précédent</a>
				</p>
			{% endif %}
			{% if nextChap %}
				<p class="float-right">
					<a href="{{ path("app_chapter_show", {idChap:nextChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:nextChap.slug}) }}">Chapitre suivant
						<i class="fa-solid fa-angles-right"></i>
					</a>
				</p>
			{% endif %}
		</div>
	</section>
	<div class="sticky col-span-12 bottom-10 flex justify-center z-50">
		<div class="bg-white rounded-xl shadow p-3 flex gap-5 items-center">
			<i class="fa-regular fa-comments toggleSidebar hover:text-blue-600 cursor-pointer"></i>
			|
			<i class="fa-regular fa-star-half-stroke hover:text-blue-600 cursor-pointer"></i>
			|
			<i class="fa-solid fa-ellipsis hover:text-blue-600 cursor-pointer"></i>
		</div>
		<div></div>
	</div>
	{# TODO: ajouter temps de lecture restant dans le chapitre + temps de lecture total de la publication #}
	<div id="tools" class="hidden">
		<ul>
			<li class="hl" data-color="1">
				<i class="fa-solid fa-bookmark text-emerald-200"></i>
			</li>
			<li class="hl" data-color="2">
				<i class="fa-solid fa-bookmark text-amber-200"></i>
			</li>
			<li class="hl" data-color="3">
				<i class="fa-solid fa-bookmark text-red-200"></i>
			</li>
			<li class="text-slate-400">|</li>
			<li class="commentQuote">
				<i data-tippy-content="Commenter ce passage" class="fa-regular fa-comment toggleSidebar"></i>
			</li>
			<li>
				<i class="fa-solid fa-lock"></i>
			</li>
			<li>|</li>
			<li>
				<i data-tippy-content="Partager sur Twitter" class="shareTwitter  fa-brands fa-square-twitter text-[#1DA1F2]  text-xl"></i>
			</li>
			<li>
				<i data-tippy-content="Partager sur Facebook" class="shareFb fa-brands fa-square-facebook text-[#3b5998]  text-xl"></i>
			</li>
			<li>
				<i data-tippy-content="Partager sur Linkedin" class="shareLk fa-brands fa-linkedin text-[#0072b1] text-xl"></i>
			</li>
			<li>
				<i data-tippy-content="Copier la sélection" class="fa-solid fa-link text-slate-700"></i>
			</li>
		</ul>
	</div>
	<div id="highlighted-options" class="hidden">
		<ul>
			<li>
				<div id="delete-hl">
					<i data-tippy-content="Supprimer le marquage" class="fa-solid fa-xmark"></i>
				</div>
			</li>
			<li class="text-slate-400">|</li>
			<li class="commentAlreadyQuote">
				<i data-tippy-content="Commenter ce passage" class="fa-regular fa-comment toggleSidebar"></i>
			</li>
			<li>
				<i class="fa-solid fa-lock"></i>
			</li>
			<li class="text-slate-400">|</li>
			<li>
				<i data-tippy-content="Partager sur Twitter" class="shareTwitter  fa-brands fa-square-twitter text-[#1DA1F2]  text-xl cursor-pointer"></i>
			</li>
			<li>
				<i data-tippy-content="Partager sur Facebook" class="shareFb fa-brands fa-square-facebook text-[#3b5998]  text-xl"></i>
			</li>
			<li>
				<i data-tippy-content="Partager sur Linkedin" class="shareLk fa-brands fa-linkedin text-[#0072b1] text-xl"></i>
			</li>
			<li>
				<i data-tippy-content="Copier la sélection" class="fa-solid fa-link text-slate-700"></i>
			</li>
		</ul>
	</div>
	{% include "publication/_partials/_show_drawer.html.twig" with {'type': "bottom"}  %}
	<input type="hidden" id="chapId" value="{{ infoChap.id }}">
{% endblock %}
