{% set title = infoPub.title|length > 45 ? infoPub.title|slice(0,46) ~ "..." : infoPub.title %}
{% set pic = infoChap.publication.cover %}
{% if pic %}
	{% set pic_bg = pic|replace({'/upload/': '/upload/e_vectorize:colors:3,'}) %}
{% else %}
	{% set pic_bg = "/images/no-cover-bg.png" %}
	{% if app.user and app.user.userParameters is defined and app.user.userParameters.darkmode == true %}
		{% set pic = "/images/no-cover-dark.png" %}
	{% else %}
		{% set pic = "/images/no-cover.png" %}
	{% endif %}
	{% if app.session.get('darkmode') and not app.user  and app.session.get('darkmode') == true %}
		{% set pic = "/images/no-cover-dark.png" %}
	{% else %}
		{% set pic = "/images/no-cover.png" %}
	{% endif %}
{% endif %}

{% extends 'base.html.twig' %}

{% block metatags %}
	<link rel="canonical" href="https://scrilab.com{{ canonicalUrl }}"/>
	<meta name="description" content="Lecture de la feuille « {{infoChap.title}} » du récit « {{infoPub.title}} » | Par {{infoPub.user.nickname}}">
	<meta name="author" content="{{infoPub.user.nickname}}">
	<meta name="twitter:image" content="{{pic}}">
	<meta property="og:title" content="{{infoPub.title}} ({{infoChap.title}})">
	<meta property="og:description" content="{{ infoPub.summary|trim }}">
	<meta property="og:url" content="https://scrilab.com{{ canonicalUrl }}">
	<meta property="og:image" content="{{pic}}">
	<meta property="og:image:width" content="529">
	<meta property="og:image:height" content="730">
{% endblock %}

{% block title %}
	{{ infoPub.title ~ ' (' ~ infoChap.title|trim ~ ')' }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<section id="titleChapter" data-title="{{infoChap.title}}" class=" {{ infoChap.Publication.status < 2 ? " -mt-20 top-16" : " top-14" }} sticky bg-white dark:bg-slate-800 dark:bg-transparent dark:bg-opacity-50 bg-transparent bg-opacity-50 backdrop-blur-sm z-50">
		{% if infoChap.Publication.status < 2 %}
			<div class="mb-0">
				<div class="w-6/6 mx-auto -mt-2 h-10  bg-slate-100 dark:bg-slate-700 dark:text-slate-200  ring-1 ring-slate-700 opacity-80 right-0 rounded-b-sm">
					<p class="text-center p-2 font-medium text-xs flex justify-between px-5">
						<span>

							<i class="fa-duotone fa-eye"></i>
							— Aperçu de votre récit &nbsp;&nbsp;[<i class="fa-duotone fa-circle text-red-500"></i>
							&nbsp;<span class="font-semibold">dépublié</span>]
						</span>

						<a href="{{ path("app_publication_edit", {id:infoPub.id}) }}" class="hover:underline">Revenir à l'édition
							<i class="fa-duotone fa-rotate-right"></i>
						</a>
					</p>
				</div>
			</div>
		{% endif %}
		<div class="md:text-left  w-full text-center mb-10 mt-0 md:mt-3 ">
			<h3 class="justify-center md:justify-start flex flex-row gap-x-2 items-center text-lg">
				<a id="pubTitle" class="font-serif  hover:underline dark:text-white" href="{{ path("app_publication_show_one", {id:infoPub.id, slug:infoPub.slug}) }}" {% if title|length > 48 %} data-tippy-content="{{infoPub.title}}" {% endif %}>{{ title }}</a>
				{% if infoPub.mature %}
					<i class="fa-kit fa-regular-book-open-reader-circle-exclamation text-rose-400 text-xs dark:text-rose-300" data-tippy-content="Contenu sensible"></i>
				{% endif %}
			</h3>
			<div class="text-xs dark:text-white">
				<small>par</small>
				<span class="font-medium dark:text-white">
					<a class="dark:text-white hover:underline" href="{{ path("app_user", {username:infoPub.user.username}) }}">{{ infoPub.user.nickname }}</a>
				</span>
			</div>
		</div>
		<div class="flex pl-10 justify-center mt-14 md:-mt-6">
			<button class="text-base md:text-2xl font-serif -mt-[4rem] text-slate-800 dark:text-white" id="chapListButton" data-dropdown-toggle="dropdownChapter">
				{{ infoChap.title }}
				{{alreadyRead ? '<span class="text-xs  text-green-500 dark:text-green-400"><i class="fa-duotone fa-badge-check"></i>&nbsp;&nbsp;lu</span>'}}
				&nbsp;&nbsp;<i class="fa-solid fa-caret-down active:text-xl"></i>
			</button>
		</div>
		<div class="flex justify-right md:-mt-5 text-xs md:absolute right-0 top-12 -mt-3">
			<div class="flex flex-row gap-x-2">
				{% set shareUrl = "https://scrilab.com" ~ canonicalUrl %}
				{% set shareCat = infoPub.category ? "\n #" ~ infoPub.category.name : "" %}
				{% set shareText = "« " ~ infoChap.title ~ " » | Par " ~ infoPub.user.nickname ~ shareCat ~ "\n" %}
				<a href="https://twitter.com/intent/tweet?url={{shareUrl|url_encode}}&via=ScrilabEditions&text={{shareText|url_encode}}" target="_blank">
					<div class="md:h-10 md:w-10 w-6 h-6 bg-[#1DA1F2] hover:bg-opacity-40 bg-opacity-20 rounded flex items-center justify-center" data-tippy-content="Partager sur Twitter">
						<i class="fa-brands fa-twitter md:text-2xl text-sm text-[#1DA1F2]"></i>
					</div>
				</a>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl|url_encode}}" target="_blank">
					<div class="md:h-10 md:w-10 w-6 h-6  bg-[#4267B2] hover:bg-opacity-40 bg-opacity-20 rounded flex items-center justify-center" data-tippy-content="Partager sur Facebook">
						<i class="fa-brands fa-facebook md:text-2xl text-sm text-[#4267B2]"></i>
					</div>
				</a>
				{% if app.user and infoChap.Publication.status == 2 and (app.user.id == infoPub.user.id or is_granted('ROLE_ADMIN')) %}
					{% if is_granted('ROLE_ADMIN') and app.user.id != infoPub.user.id %}
						<a data-tippy-content="Éditer le chapitre" href="{{ path("app_publication_edit_chapter", { idPub:infoPub.id, idChap:infoChap.id }) }}" class="p-2 md:rounded rounded  bg-opacity-50 hover:bg-opacity-100 bg-yellow-300 dark:bg-yellow-900 dark:text-yellow-300 dark:bg-opacity-50 dark:hover:bg-opacity-100 justify-center flex flex-row px-4 gap-x-2 items-center">
							<span class="hidden md:inline">
								Admin
							</span>
							<i class="fa-duotone fa-screwdriver-wrench"></i>
							<span class="hidden md:inline">
								Éditer la feuille
							</span>
						</a>
					{% else %}
						<a data-tippy-content="Éditer le chapitre" href="{{ path("app_publication_edit_chapter", { idPub:infoPub.id, idChap:infoChap.id }) }}" class="h-6 md:h-auto md:rounded rounded  bg-opacity-50 hover:bg-opacity-100 bg-slate-300 dark:bg-slate-900 dark:text-slate-300 dark:bg-opacity-50 dark:hover:bg-opacity-100 justify-center flex flex-row px-4 gap-x-2 items-center">
							<i class="fa-duotone fa-pen-to-square text-sm md:text-xl"></i>
							<span class="hidden md:inline">Éditer la feuille</span>
						</a>
					{% endif %}
				{% endif %}


			</div>
		</div>
		<div id="dropdownChapter" class="z-[99999] hidden overflow-y-auto max-h-48 bg-white divide-y divide-gray-100 shadow w-5/6 sm:w-2/6 dark:bg-gray-700 dark:divide-gray-600">
			{% for item in infoPub.publicationChapters|sort((a, b) => a.orderDisplay < b.orderDisplay ? -1 : 1) %}
				{% if item.status > 1 %}
					<div>
						<a href="{{ path("app_chapter_show", {idChap:item.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:item.slug}) }}" class="block px-4 py-4 text-sm text-gray-700 {% if item.id == infoChap.id %}bg-slate-50 dark:bg-slate-900{% endif %} hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
							{% if item.id == infoChap.id %}
								<i class="fa-solid fa-file-lines"></i>
							{% else %}
								<i class="fa-light fa-file-lines"></i>
							{% endif %}
							&nbsp;&nbsp;{{ item.title }}
							{% set chapterIdToCheck = item.id %}
							{% if app.user and app.user.hasReadChapter(chapterIdToCheck) %}
								&nbsp;&nbsp;<span class="text-xs text-green-500 dark:text-green-400">
									<i class="fa-duotone fa-badge-check"></i>&nbsp;&nbsp;lu</span>
							{% endif %}
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
	<section class="w-full md:w-9/12 mx-auto pt-10 row-start-2 backdrop:blur-sm px-1" id="chapContent">
		{% if previousChap %}
			<div class="fixed top-0 w-10 bottom-0 left-0 hidden md:flex items-center justify-start  ml-8 lg:ml-56 z-10" id="arrowPrevious">
				<a href="{{ path("app_chapter_show", {idChap:previousChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:previousChap.slug}) }}" class="text-slate-600  text-6xl" aria-label="Revenir au chapitre précédent">
					<i class="fa-thin fa-arrow-left"></i>
				</a>
			</div>
		{% endif %}
		<turbo-frame id="chapContentTurbo" class="-z-40">
			<article class="flex flex-col justify-center data-annotable" data-chapter="{{infoChap.id}}" data-version="{{version}}" data-mode="mark-for-me" data-annotable id="chapArticle">
				{{ chapterContent|raw }}
			</article>
		</turbo-frame>
		{% if nextChap %}
			<div class="fixed top-0 bottom-0 right-0 hidden md:flex items-center justify-end mr-8 lg:mr-56 " id="arrowNext">
				<a href="{{ path("app_chapter_show", {idChap:nextChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:nextChap.slug}) }}" class="text-slate-600 text-6xl  z-10" aria-label="Passer au chapitre suivant" aria-label="Revenir au chapitre précédent">
					<i class="fa-thin fa-arrow-right"></i>
				</a>
			</div>
		{% endif %}
		<div class="mt-20 md:mt-10 mb-4 flex justify-between z-50" id="bottomChap">
			<div class="z-50">
				{% if previousChap %}
					<a href="{{ path("app_chapter_show", {idChap:previousChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:previousChap.slug}) }}" class="flex justify-around button-classic button-slate w-full md:w-auto">
						<i class="fa-solid fa-arrow-left"></i>
					</a>
				{% endif %}
			</div>
			<div class="z-50">
				{% if nextChap %}
					<a href="{{ path("app_chapter_show", {idChap:nextChap.id, slugPub:infoPub.slug, user:infoPub.user.username, slug:nextChap.slug}) }}" class="flex justify-around button-classic button-slate" aria-label="Passer au chapitre suivant">
						<i class="fa-solid fa-arrow-right"></i>
					</a>
				{% endif %}
			</div>
		</div>
		{# On affiche uniquement si la publication est publiée #}
		{% if infoChap.Publication.status > 1 %}
			<div class="sticky bottom-10 -mt-16 flex ml-0 md:ml-5 justify-center place-content-center z-10  w-6/6 md:w-auto">
				<div class="bg-white dark:bg-slate-900 rounded-xl shadow p-3 py-4 flex justify-center gap-3 items-center text-xs md:text-base ">
					<div data-tippy-content="Nombre de lecteurs" class="cursor-default">
						<i class="fa-duotone fa-eye"></i>
						&nbsp;{{ infoChap.publicationChapterViews|length }}
					</div>
					<span class="dark:text-slate-500">|</span>
					<div data-tippy-content="Afficher les commentaires" class="hover:text-blue-600 cursor-pointer goToComment">
						<i class="fa-duotone fa-comments"></i>
						<span id="nbrComSmall" class="nbr-com nbr-com-let" data-nbr-com="{{infoChap.publicationComments|length}}">{{ infoChap.publicationComments|length }}</span>
					</div>
					<span class="dark:text-slate-500">|</span>

					{% set userLikesChapter = app.user and app.user.id != infoPub.user.id %}
					{% set userCanBookmark = app.user and app.user.id != infoPub.user.id %}

					{% set liked = userLikesChapter ? infoChap.publicationChapterLikes|map(item => item.user.id)|contains(app.user.id) : false %}
					{% set bm = userCanBookmark ? infoChap.publicationBookmarks|map(item => item.user.id)|contains(app.user.id) : false %}

					{% set likeTooltip = app.user.id is not defined ? "Connectez-vous pour aimer cette feuille !" : (infoPub is not null and infoPub.user.id == app.user.id) ? 'Vous ne pouvez pas aimer votre feuille.' : (liked ? "Je n'aime plus cette feuille" : "J'aime cette feuille") %}
					{% set dislikeTooltip = app.user.id is not defined ? "Connectez-vous pour dévaloriser  cette feuille !" : (infoPub is not null and infoPub.user.id == app.user.id) ? 'Vous ne pouvez pas dévaloriser votre feuille.' : (liked ? "Je ne dévalorise plus cette feuille" : "Je n'aime pas cette feuille") %}
					{% set bmTooltip = app.user.id is not defined ? "Connectez-vous pour marquer cette feuille !" : infoPub.user.id == app.user.id ? 'Vous ne pouvez pas marquer votre feuille.' : bm ? "Retirer cette feuille de ma collection" : "Ajouter cette feuille à ma collection" %}

					<div class="{% if userLikesChapter %}hover:text-blue-600 cursor-pointer{% endif %} {% if app.user.id is not defined %}cursor-pointer{% endif %}" id="likeThisChapter" data-tippy-content="{{ likeTooltip }}" {% if app.user.id is not defined %} data-micromodal-trigger="popup-login" {% endif %} data-id="{{ infoChap.id }}">
						<span id="nbrLike">{{ infoChap.publicationChapterLikes|length }}</span>&nbsp;
						<i class="{{ liked ? 'fa-duotone text-rose-400' : 'fa-regular' }} fa-thumbs-up fa-flip-horizontal" id="likeChapterThumb"></i>
					</div>
					{# <span class="dark:text-slate-500">|</span> #}
					{# <div class="{% if userLikesChapter %}hover:text-blue-600 cursor-pointer{% endif %} {% if app.user.id is not defined %}cursor-pointer{% endif %}" id="likeThisChapter" data-tippy-content="{{ dislikeTooltip }}" {% if app.user.id is not defined %} data-micromodal-trigger="popup-login" {% endif %} data-id="{{ infoChap.id }}"> #}
					{# &nbsp;<i class="{{ liked ? 'fa-duotone text-rose-400' : 'fa-regular' }} fa-thumbs-down" id="likeChapterThumb"></i> #}
					{# <span id="nbrLike">{{ infoChap.publicationChapterLikes|length }}</span>&nbsp; #}
					{# </div> #}
						<span class="dark:text-slate-500"> |</span>
					<div class="{% if userCanBookmark %}hover:text-blue-600 cursor-pointer{% endif %} {% if app.user.id is not defined %}cursor-pointer{% endif %}" id="bmThisChapter" data-tippy-content="{{ bmTooltip }}" {% if app.user.id is not defined %} data-micromodal-trigger="popup-login" {% endif %} data-id="{{ infoChap.id }}">
						<i class="{{ bm ? 'fa-duotone text-purple-400' : 'fa-regular' }} fa-bookmark" id="bmChapter"></i>
						&nbsp;<span id="nbrBm">{{ infoChap.publicationBookmarks|length }}</span>
					</div>
					<span class="dark:text-slate-500">|</span>
					<div data-tippy-content="<strong>Passer en mode « Révision »</strong><br/>pour aider l'auteur-ice à améliorer son texte" data-id="{{ infoChap.id }}">
						<a href="{{path("app_chapter_revision", {slugPub:infoPub.slug, user:infoPub.user.username, idChap:infoChap.id, slug:infoChap.slug})}}" data-turbo-frame="_top">
							<i class="fa-duotone fa-highlighter-line text-blue-700 dark:text-blue-400"></i>
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	</section>
	{# TODO: ajouter temps de dsdlecture restant dans le chapitre + temps de lecture total de la publication #}
	{% if infoChap.Publication.status > 1 %}
		<div id="tools" class="hidden">
			<ul>
				<li>
					<button class="mark-for-me" data-color="1">
						<i data-tippy-content="Marquer ce passage en vert &nbsp;&nbsp;—&nbsp;&nbsp; <i class='fa-duotone fa-lock'></i>&nbsp;&nbsp;privé" class="fa-solid fa-bookmark text-emerald-200"></i>
					</button>
				</li>
				<li>
					<button class="mark-for-me" data-color="2">
						<i data-tippy-content="Marquer ce passage en jaune &nbsp;&nbsp;—&nbsp;&nbsp; <i class='fa-duotone fa-lock'></i>&nbsp;&nbsp;privé" class="fa-solid fa-bookmark text-yellow-200"></i>
					</button>
				</li>
				<li>
					<button class="mark-for-me" data-color="3">
						<i data-tippy-content="Marquer ce passage en rouge &nbsp;&nbsp;—&nbsp;&nbsp; <i class='fa-duotone fa-lock'></i>&nbsp;&nbsp;privé" class="fa-solid fa-bookmark text-red-200"></i>
					</button>
				</li>
				<li class="text-slate-500">|</li>
				<a href="{{path("app_chapter_revision", {slugPub:infoPub.slug, user:infoPub.user.username, idChap:infoChap.id, slug:infoChap.slug})}}" data-tippy-content="Accéder au mode « Révision » pour aider l'auteur à améliorer son texte" data-turbo-frame="_top">
					<i class="fa-duotone fa-highlighter-line text-blue-200 dark:text-blue-400"></i>
				</a>
				<li class="text-slate-500">|</li>
				<li class="commentQuote">
					<i data-tippy-content="Citer ce passage pour écrire un commentaire" class="fa-solid fa-comment-quote" style="--fa-secondary-color: #b6c5dd;"></i>
				</li>
				<li class="text-slate-500">|</li>
				<li>
					<i data-tippy-content="Partager sur Twitter" class="fa-brands fa-twitter cursor-pointer shareTwitter" style="color:#1da1f2"></i>
				</li>
				<li>
					<i data-tippy-content="Partager sur Facebook" class="fa-brands fa-facebook cursor-pointer shareFb" style="color:#1877f2"></i>
				</li>
				<li>
					<i data-tippy-content="Copier le lien menant à cette selection" id="copyLink" class="fa-regular fa-link"></i>
				</li>
			</ul>
		</div>
		<div id="highlighted-options" class="hidden">
			<ul>
				<li>
					<div id="del-hl" class="bg-transparent">
						<i data-tippy-content="Supprimer le marqueur" class="bg-none cursor-pointer fa-solid fa-trash"></i>
					</div>
				</li>
				<li class="text-slate-400">|</li>
				<li class="commentAlreadyQuote">
					<i data-tippy-content="Citer ce passage pour écrire un commentaire" class="fa-solid fa-comment-quote cursor-pointer" style="--fa-secondary-color: #b6c5dd;"></i>
				</li>
				<li class="text-slate-400">|</li>
				<li>
					<i data-tippy-content="Partager sur Twitter" class="fa-brands fa-twitter cursor-pointer shareTwitter" style="color:#1da1f2"></i>
				</li>
				<li>
					<i data-tippy-content="Partager sur Facebook" class="fa-brands fa-facebook cursor-pointer shareFb" style="color:#1877f2"></i>
				</li>
				<li>
					<i data-tippy-content="Copier le lien menant à cette selection" id="copyLink" class="fa-regular fa-link cursor-pointer"></i>
				</li>
			</ul>
		</div>
		<section class="bg-slate-50 -z-10  dark:bg-slate-900 border-[1px] rounded border-slate-200 dark:border-slate-900 mt-20  backdrop-sepia-0 mx-auto w-full md:w-9/12  shadow    bg-opacity-90 p-5  pt-5  " style="z-index:9999999999999" id="comment-section">
			<turbo-frame id="comment-frame">
				{% if app.user.id is defined %}
					<div>
						<div class="flex flex-row gap-x-2 items-center hidden" id="quoteSection">
							<blockquote class="mt-4 border-l-4 w-full border-blue-200 pl-4 italic text-slate-500 " id="insightQuote">
								<p class="font-serif  quoteComment cursor-alias  text-[0.85rem]" id="quotequote"></p>
							</blockquote>
							<div class="font-semibold not-italic cursor-pointer text-lg ml-2 dark:text-slate-500 hidden" data-tippy-content="Supprimer la citation" id="deleteQuote">
								<i class="fa-regular fa-trash"></i>
							</div>
						</div>
						{{ form_start(formQuote)}}
						<label for="publication_chapter_comment_content" class="sr-only">Votre commentaire</label>
						<div class="flex items-center py-2 w-full rounded-lg bg-gray-50 dark:bg-inherit">
							{{ form_widget(formQuote.content, {attr:{"class":"block p-2.5 w-full text-sm text-gray-900 resize-none bg-white dark:bg-slate-800 pr-12 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
							<button id="sendComment" type="submit" class="inline-flex justify-center p-2 text-slate-600 rounded-full cursor-pointer hover:bg-blue-100 dark:bg-slate-600 hover:text-blue-500 dark:text-blue-500 dark:hover:bg-gray-600 -ml-10 mt-4">
								<svg aria-hidden="true" class="w-6 h-6 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
								</svg>
								<span class="sr-only">Envoyer</span>
							</button>
						</div>
						<input type="hidden" name="quote" id="drawerNoteQuote">
						{{ form_end(formQuote) }}
					</div>
					<hr class="mb-5 border-4">
				{% endif %}

				{% if pCom|length == 0 %}
					<div class="text-slate-500">
						<p class="mb-3 text-center text-6xl font-semibold">
							<i class="fa-duotone fa-comment-slash"></i>
						</p>
						<p class="mb-5 text-center italic">
							Aucun commentaire pour le moment
						</p>
						{% if not app.user %}
							<hr class="mb-5">
							<p class="font-medium text-center flex flex-row  items-center gap-x-3 justify-center dark:text-slate-300 text-slate-800">
								<i class="fa-duotone fa-user-circle"></i>
								<button data-micromodal-trigger="popup-login" class="hover:underline text-center font-semibold">Connectez-vous pour commenter !</button>
							</p>
						{% endif %}
					</div>
				{% endif %}
				{% if not app.user and pCom|length > 0  %}
					<p class="font-medium text-center flex flex-row  items-center gap-x-3 justify-center dark:text-slate-300 text-slate-800">
						<i class="fa-duotone fa-user-circle"></i>
						<button data-micromodal-trigger="popup-login" class="hover:underline text-center font-semibold">Connectez-vous pour commenter !</button>
					</p>
					<hr class="mb-5">
				{% endif %}
				{% set n = 0 %}
				{% for item in pCom %}
					{% include "publication/_partials/_comment.html.twig" with { item:item, n:n, pcom:nbrCom} %}
					{% set n = n + 1  %}
				{% endfor %}
				{% if nbrShowCom < nbrCom %}
					{% if infoPub.slug %}
						{% set chapterSlug = infoPub.slug %}
					{% else %}
						{% set chapterSlug = "feuille-n0" ~ (chapter.orderDisplay + 1) %}
					{% endif %}
					<p class="justify-center font-semibold mt-5 text-base  flex flex-row gap-x-2 items-center dark:text-slate-300 text-slate-600">
						<span>
							<i class="fa-duotone fa-chevron-down"></i>
						</span>
						<a href="{{path("app_chapter_show", {user:infoPub.user.id, slug:chapterSlug, slugPub:infoPub.slug, idChap:infoChap.id, nbrShowCom:nbrShowCom + 10})}}" class="hover:underline">Afficher plus de commentaires</a>
					</p>
				{% endif %}
			</turbo-frame>
		</aside>
		<div class="hidden">
			<input type="hidden" value="" id="drawerSelectedText"/>
			<input type="hidden" value="" id="drawerSelectedTextP"/>
			<input type="hidden" value="" id="drawerSelectedTextEl"/>
			<input type="hidden" value="" id="drawerSelectedTextContext"/>
			<input type="hidden" value="4" id="drawerColor"/></div>
		{# {% include "publication/_partials/_show_drawer.html.twig" with {'type': "bottom"}  %}<input type="hidden" id="chapId" value="{{ infoChap.id }}"> #}
	{% endif %}
{% endblock %}
