{% extends "base.html.twig" %}
{% set pic = pubShow.cover %}
{% if pic %}
	{% set pic_bg = pic|replace({'/upload/': '/upload/c_fill_pad,g_auto,w_1.0,e_improve:outdoor,f_jpg,e_blur:400,'}) %}
{% else %}
	{% set pic_bg = "" %}
	{% if app.user and app.user.userParameters is defined and app.user.userParameters.darkmode == true %}
		{% set pic = "/images/no-cover-dark.png" %}
	{% else %}
		{% set pic = "/images/no-cover.png" %}
	{% endif %}
	{% if app.session.get('darkmode') and not app.user  and app.session.get('darkmode') == true %}
		{% set pic = "/images/no-cover-dark.png" %}
	{% else %}
		{% set pic = "/images/no-cover.png" %}
	{% endif %}
{% endif %}
{% if pubShow.category.slug is defined %}
	{% set slug = pubShow.category.slug %}
	{% set slugName = pubShow.category.name|capitalize %}
{% else %}
	{% set slug = "all" %}
	{% set slugName = "Sans catégorie" %}
{% endif %}
{% if pubShow.category.color is defined %}
	{% set color = pubShow.category.color %}
{% else %}
	{% set color = 11 %}
{% endif %}
{% block title %}
	Récit |
	{{ pubShow.title }}
	({{ pubShow.user.nickname }})
																																																																																																																																																																																																																																																																																																																																																																																																																																																													-
	{{ parent() }}
{% endblock %}

{% set summary %}
{% if pubShow.summary|length > 2 %}
	{{ pubShow.summary|slice(0, 250) ~ "..." }}
{% else %}
	{% set nbr = 0 %}
	{% for chapter in chapShow %}
		{% if chapter.status > 1 and nbr == 0 %}
			{{ chapter.content|regex_replace('/<p.*?>/i', ' ')|striptags|slice(0, 250) ~ "..." }}
			{% set nbr = nbr + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endset %}
{% block metatags %}
	<meta name="description" content="{{ summary|trim }}">
	<meta name="author" content="{{ pubShow.user.nickname }}">
	<meta property="og:title" content="{{pubShow.title}}">
	<meta property="og:description" content="{{ summary|trim }}">
	<meta property="og:url" content="https://scrilab.com{{ canonicalUrl }}">
	<meta property="og:image" content="{{pic}}">
	<meta property="og:image:width" content="529">
	<meta property="og:image:height" content="730">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{pubShow.title}}">
	<meta name="twitter:description" content="{{ summary|trim }}">
	<meta name="twitter:image" content="{{pic}}">
	<link rel="canonical" href="https://scrilab.com{{ canonicalUrl }}"/>
{% endblock %}
{% block body %}
	<style>
		#PublicationShowOneContent
		{
			position: inherit;
			z-index: 1;
		}
		#PublicationShowOneContent::before
		{
			content: "";
			position: absolute;
			display: inline;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			min-height: 100vh;
			height: 150vh;
			opacity: 0.1;
			z-index: -99999999999;
			background-image: url('{{ pic_bg }}');
			background-position: center;
			background-color: black;
		}
	</style>
	<section class=" before:bg-cover before:-z-[9999]  dark:before:grayscale  col-span-12 col-start-0 lg:col-span-10 lg:col-start-2 gap-10 " id="PublicationShowOneContent">
		{% if pubShow.status < 2 %}
			<div class="mb-0">
				<div class="w-full -mt-10 mb-5 h-10 bg-slate-100 ring-1 ring-slate-500 dark:bg-slate-700 dark:shadow dark:text-slate-200 opacity-80 dark:opacity-100 right-0 rounded-b-sm">
					<p class="text-center p-2 font-medium text-xs flex justify-between px-5 ">
						<span>
							<i class="fa-duotone fa-eye"></i>
							— Aperçu de votre récit &nbsp;&nbsp;[<i class="fa-duotone fa-circle text-red-500"></i>
							&nbsp;<span class="font-semibold">dépublié</span>]
						</span>
						<a href="{{ path("app_publication_edit", {id:pubShow.id}) }}" class="hover:underline">Revenir à l'édition
							<i class="fa-duotone fa-rotate-right"></i>
						</a>
					</p>
				</div>
			</div>
		{% else %}
			{% if app.user and (app.user.id == pubShow.user.id or is_granted('ROLE_ADMIN')) %}
				<div class="flex relative justify-end -mt-5 text-xs">
					{% if is_granted('ROLE_ADMIN') and app.user.id != pubShow.user.id %}
						<a href="{{ path("app_publication_edit", {id:pubShow.id}) }}" class="right-0 -top-5 absolute  p-2 rounded-b  font-semibold bg-opacity-50 hover:bg-opacity-100 bg-amber-300 dark:bg-amber-900 dark:text-amber-300 text-amber-800 dark:bg-opacity-50 dark:hover:bg-opacity-90 justify-center flex flex-row px-4 gap-x-2 items-center">
							<span>
								Admin
							</span>
							<i class="fa-duotone fa-screwdriver-wrench"></i>
							<span>
								Éditer le récit</span>

						</a>
					{% else %}
						<a href="{{ path("app_publication_edit", {id:pubShow.id}) }}" class="right-0 -top-5 absolute p-2 rounded-b font-semibold  bg-opacity-50 hover:bg-opacity-100 bg-slate-300 dark:bg-slate-900 dark:text-slate-300 dark:bg-opacity-50 dark:hover:bg-opacity-100 justify-center flex flex-row px-4 gap-x-2 items-center">
							<i class="fa-duotone fa-pen-to-square"></i>
							<span>Éditer le récit</span>
						</a>
					{% endif %}
				</div>
			{% endif %}
		{% endif %}
		<h1 class="title text-center text-3xl -mt-0 font-semibold bg-center flex flex-col gap-y-5 items-center justify-center text-slate-700 font-serif " style="text-shadow: 0 0.5px 1px blanchedalmond;">
			<span>{% include "partials/little/_fullyRead.html.twig" with { id:pubShow.id, class:"text-base"} %}</span>
			{{ pubShow.title }}
		</h1>
		<h5 class="text-center -mt-10 mb-0">
			<div class="my-special-hr">
				<hr class="border-none">
				<h1 class="bg-none  flex flex-row gap-x-2 items-baseline" style="background:none;font-size:1.2rem;display: flex;    flex-direction: row; column-gap: 0.5rem">
					{% if pubShow.user.profilPicture %}
						<div class="self-start flex mt-2">
							<img class="w-6 h-6 rounded-full" src="{{pubShow.user.profilPicture}}"/>
						</div>
					{% endif %}
					<a href="{{ path("app_user", {username:pubShow.user.username}) }}" class="font-sans hover:underline dark:text-slate-200">{{ pubShow.user.nickname }}</a>
				</h1>
				<hr class="border-none">
			</div>
		</h5>
		{% if pubShow.cover != "" %}
			<div class="flex rounded justify-center">
				<img class="rounded -mt-5 w-40 h-50 justify-center  shadow mb-5  dark:grayscale-[50%]" src="{{pic}}" alt=""/>
			</div>
		{% endif %}
		<div class="flex gap-5 p-10 pt-0  items-center">
			<div class="flex-1 text-center flex flex-col justify-center items-center justify-items-center origin-center">
				<div class="lg:flex w-6/6 md:w-4/6">
					<p class="text-sm indent-4 font-serif text-center text-slate-900 opacity-80 dark:text-slate-200 dark:[text-shadow: 0 0.5px 1px blanchedalmond;] leading-7 mt-3">
						{% if orderChap %}
							{% if pubShow.summary %}
								{{ pubShow.summary }}...
								<div class="mt-5"></div>
							{% endif %}
						{% else %}
							<div class="w-full">
								<hr class=" border-slate-300 mb-5">
								<p class="text-xl py-2 text-center w-full text-slate-500 flex flex-row items-center gap-x-2 justify-center">
									<i class="fa-kit fa-regular-file-slash"></i>
									Récit en cours de rédaction, aucune feuille pour le moment...
								</p>
								<hr class=" border-slate-300">
							</div>
						{% endif %}
					</p>
				</div>
				{% set currentPublicationId = pubShow.id %}
				{% if app.user %}
					{% set lastReadChapter = app.user.getLastReadChapterByPublication(currentPublicationId) %}
				{% else %}
					{% set lastReadChapter = null %}
				{% endif %}
				{% if lastReadChapter %}
					<a href="{{ path("app_chapter_show", {idChap:lastReadChapter.id, user:pubShow.user.username, slugPub:pubShow.slug, slug:lastReadChapter.slug}) }}" class=" gap-y-2 flex flex-col  mt-5 not-italic py-5 text-center w-full lg:w-3/6 px-10 bg-white  text-base hover:bg-white text-slate-800 shadow hover:text-slate-800 bg-opacity-50 dark:bg-opacity-80 hover:bg-opacity-100 dark:bg-slate-700 dark:text-slate-100  dark:hover:bg-slate-900 rounded-lg">
						<i class="{{pubShow.mature ? "fa-kit fa-regular-book-open-reader-circle-exclamation text-rose-400 dark:text-rose-300" :"fa-regular fa-book-open-reader" }} text-2xl"></i>
						{% if pubShow.mature %}
							<span class="text-xs text-rose-300">Contenu sensible</span>
						{% endif %}
						<span class="font-semibold">Reprendre la lecture</span>
					</a>
				{% else %}
					{% if orderChap.id is defined %}
						<a href="{{ path("app_chapter_show", {idChap:orderChap.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:orderChap.slug}) }}" class=" gap-y-2 flex flex-col  mt-5 not-italic py-5 text-center w-full lg:w-3/6 px-10 bg-white  text-base hover:bg-white text-slate-800 shadow hover:text-slate-800 bg-opacity-50 dark:bg-opacity-80 hover:bg-opacity-100 dark:bg-slate-700 dark:text-slate-100  dark:hover:bg-slate-900 rounded-lg">
							<i class="{{pubShow.mature ? "fa-kit fa-regular-book-open-reader-circle-exclamation text-rose-400 dark:text-rose-300" :"fa-regular fa-book-open-reader" }} text-4xl"></i>
							<span class="font-semibold">Commencer la lecture</span>
							{% if pubShow.mature %}
								<span class="text-xs text-rose-300">Contenu sensible</span>
							{% endif %}
						</a>
					{% else %}
						<button data-tippy-content="Vous ne pouvez pas commencer à lire ce récit, car aucun chapitre n'est publié" class=" gap-y-2 cursor-not-allowed flex flex-col  mt-5 not-italic py-5 text-center w-full lg:w-3/6 px-10 bg-white  text-base hover:bg-white text-slate-800 shadow hover:text-slate-800 bg-opacity-50 dark:bg-opacity-80 hover:bg-opacity-100 dark:bg-slate-700 dark:text-slate-100  dark:hover:bg-slate-900 rounded-lg">
							<i class="{{pubShow.mature ? "fa-kit fa-regular-book-open-reader-circle-exclamation text-rose-400 dark:text-rose-300" :"fa-regular fa-book-open-reader" }} text-4xl"></i>
							<span class="font-semibold">Commencer la lecture</span>
							{% if pubShow.mature %}
								<span class="text-xs text-rose-300">Contenu sensible</span>
							{% endif %}
						</button>
					{% endif %}
				{% endif %}
				<div class="grid {{ pubShow.sale ? " grid-cols-2" : " grid-cols-1" }} w-full md:w-3/6 text-sm items-center justify-center gap-x-2">
					<button id="dropdownBuyBookButton" data-dropdown-toggle="dropdownBuyBook" class="{{ pubShow.sale ? "block" : "hidden" }} block mt-5 not-italic py-2 text-center px-5 text-slate-800 hover:text-slate-800 dark:text-slate-100 dark:hover:bg-slate-900 rounded-lg">
						<span class="font-light flex flex-row justify-center items-center w-full">
							<span class="w-full">
								<i class="fa-duotone fa-cart-shopping"></i>&nbsp;&nbsp;Acheter
							</span>
							<i class="fa-regular fa-chevron-down float-right text-slate-700 dark:text-slate-400"></i>
						</span>
					</button>
					<button id="dropdownDownloadButton" data-dropdown-toggle="dropdownDownload" class="block mt-5 not-italic py-2 text-center  px-5    text-slate-800  hover:text-slate-800 dark:text-slate-100  dark:hover:bg-slate-900 rounded-lg">
						<span class="font-light flex flex-row justify-center items-center w-full">
							<span class="w-full">
								<i class="fa-duotone fa-download"></i>&nbsp;&nbsp;Télécharger
							</span>
							<i class="fa-regular fa-chevron-down float-right text-slate-700 dark:text-slate-400"></i>
						</span>
					</button>
					{# Dropdown menu #}
					<div id="dropdownBuyBook" class="hidden bg-white divide-y divide-gray-100 z-50 rounded-lg shadow w-auto dark:bg-gray-700">
						<ul class="text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownBuyBookButton">
							{% if not pubShow.saleWeb and not pubShow.salePaper %}
								<li class="flex flex-row items-center gap-x-2 px-5 rounded ">
									<i class="fa-regular fa-tablet-screen py-4"></i>
									Aucune vente disponible
									<strong>pour le moment</strong>
								</li>
							{% endif %}
							{% if pubShow.saleWeb %}
								<li class="flex flex-row items-center gap-x-2 px-5 rounded  hover:bg-gray-100  dark:hover:bg-gray-600 dark:hover:text-white">
									<i class="fa-regular fa-tablet-screen py-4"></i>
									<a href="{{ pubShow.saleWeb }}" class="block" target="_blank">Acheter au
										<strong>format numérique</strong>
									</a>
								</li>
							{% endif %}
							{% if pubShow.salePaper %}
								<li class="flex flex-row items-center gap-x-2 px-5 rounded  hover:bg-gray-100  dark:hover:bg-gray-600 dark:hover:text-white">
									<i class="fa-regular fa-book-open-cover py-4"></i>
									<a href="{{ pubShow.salePaper }}" class="block" target="_blank">Acheter au
										<strong>format papier</strong>
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
					{# Dropdown menu #}
					<div id="dropdownDownload" class="hidden bg-white divide-y divide-gray-100 z-50 rounded-lg shadow w-auto dark:bg-gray-700">
						<ul class="text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDownloadButton">

							<li class="flex flex-row items-center gap-x-2 px-5 rounded  hover:bg-gray-100  dark:hover:bg-gray-600 dark:hover:text-white">
								<i class="fa-regular fa-tablet-screen py-4"></i>
								<a href="{{ path("download_epub", {id:pubShow.id}) }}" class="block" target="_blank">Télécharger au
									<strong>format ePub</strong>

								</a>
							</li>

							<li class="flex flex-row items-center gap-x-2 px-5 rounded  hover:bg-gray-100  dark:hover:bg-gray-600 dark:hover:text-white">
								<i class="fa-regular fa-file-pdf py-4"></i>
								<a href="{{ path("app_publication_show_one", {id:pubShow.id, slug:"download"}) }}" class="block" target="_blank">Télécharger au
									<strong>format PDF</strong>
								</a>
							</li>

						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="lg:flex  col-span-12 lg:col-span-10 lg:col-start-2  mt-6 justify-evenly min-h-[50vh] z-50 dark:opacity-100">
		<div class="absolute bg-white dark:bg-slate-800 w-full min-h-[100%] left-0 right-0 -z-10  border-t-[1px] border-slate-200 dark:border-slate-900">&nbsp;</div>
		{% if orderChap %}
			<div class="w-full lg:w-7/12 pt-10 z-40 order-2 lg:order-1 ">
				<div class="flex justify-between  gap-x-5 -mt-5 mb-5">
					{% if pubShow.finished == true %}
						<div class="w-full text-center bg-emerald-50 p-3 gap-y-2 rounded cursor-default grid grid-flow-row  dark:bg-transparent text-emerald-700 dark:text-emerald-300 ">
							<button class="font-medium cursor-default flex-row flex gap-x-3 justify-center items-center">
								<i class="fa-duotone fa-circle-check"></i>
								Récit terminé
							</button>
							<span class="opacity-60 text-xs">
								Ce récit est terminé, aucune nouvelle feuille n'est prévue.
							</span>
						</div>
					{% elseif pubShow.finished == false and app.user and app.user.id != pubShow.user.id %}
						{% set classFollowBtn = "follow-collection-buttons" %}
						{% for item in pubShow.PublicationFollows %}
							{% if item.user.id == app.user.id %}
								{% set classFollowBtn = "follow-collection-buttons-ok" %}
							{% endif %}
						{% endfor %}
						<div id="followBtn" data-href="{{path("app_publication_follow", {id:pubShow.id})}}" class="{{classFollowBtn}}">
							<button class="font-medium flex flex-row gap-x-3 justify-center items-center">
								<i id="followIcon" class="fa-duotone {{classFollowBtn == 'follow-collection-buttons-ok' ? " fa-bell-slash" : " fa-bell" }}"></i>
								<span id="followTitle">
									{{classFollowBtn == "follow-collection-buttons-ok" ? "Ne plus suivre ce récit" : "Suivre ce récit" }}
								</span>
							</button>
							<span id="followInfo" class="opacity-60 text-xs">
								{{classFollowBtn == "follow-collection-buttons-ok" ? "Vous ne recevrez plus de notification à chaque nouvelle feuille publiée." : "Vous recevrez une notification à chaque nouvelle feuille publiée." }}
							</span>
						</div>
					{% elseif not app.user %}
						<div class="follow-collection-buttons cursor-pointer" onclick="MicroModal.show('popup-login')">
							<button class="font-medium  flex flex-row gap-x-3 justify-center items-center">
								<i class="fa-duotone fa-tags"></i>
								Suivre ce récit
							</button>
							<span class="opacity-60 text-xs">
								Vous recevrez une notification à chaque nouvelle feuille publiée.
							</span>
						</div>
					{% endif %}
					{% if app.user and app.user.id != pubShow.user.id %}
						{% set classCollectionBtn = "follow-collection-buttons" %}
						{% for item in pubShow.PublicationBookmarks %}
							{% if app.user and item.user.id == app.user.id %}
								{% set classCollectionBtn = "follow-collection-buttons-ok" %}
							{% endif %}
						{% endfor %}
						<div id="btnCollection" data-href="{{path("app_publication_add_collection", {id:pubShow.id})}}" class="{{classCollectionBtn}}">
							<button class="font-medium  flex flex-row gap-x-3 justify-center items-center">
								<i id="iconCollection" class="{{classCollectionBtn == 'follow-collection-buttons-ok' ? "fa-kit fa-regular-book-bookmark-slash" : "fa-duotone fa-book-bookmark" }}"></i>
								<span id="titleCollection">
									{{classCollectionBtn == "follow-collection-buttons-ok" ? "Retirer de ma collection" : "Ajouter à ma collection" }}
								</span>
							</button>
							<span class="opacity-60 text-xs" id="infoCollection">
								{{ classCollectionBtn == "follow-collection-buttons-ok" ? "Vous pourrez retrouver ce récit dans votre collection personnelle." : "Vous ne pourrez plus retrouver ce récit dans votre collection personnelle."  }}
							</span>
						</div>
					{% elseif not app.user %}
						<div class="follow-collection-buttons cursor-pointer" onclick="MicroModal.show('popup-login')">
							<button class="font-medium  flex flex-row gap-x-3 justify-center items-center">
								<i class="fa-duotone fa-book-bookmark"></i>
								Ajouter à ma collection
							</button>
							<span class="opacity-60 text-xs">
								Vous pourrez retrouver ce récit dans votre collection personnelle.
							</span>
						</div>
					{% endif %}
				</div>
				{% if not app.user or pubShow.finished == true %}
					<hr>
				{% endif %}
				<h3 class="text-2xl mb-5 flex flex-row gap-x-3 items-center lg:text-left  {% if pubShow.finished == false and app.user and app.user.id != pubShow.user.id %} border-t-[1px] dark:border-slate-700  pt-5{% endif %} text-center dark:text-slate-100">
					<i class="fa-duotone fa-file"></i>
					<span>
						{% set count = 0 %}
						{% for chapter in pubShow.publicationChapters %}
							{% if chapter.status == 2 %}
								{% set count = count + 1 %}
							{% endif %}
						{% endfor %}
						{{ count > 1 ? count ~ " feuilles" : count ~ " feuille"}}
					</span>
				</h3>
				<ul class="flex flex-col">
					{% set nbrPages = 0 %}
					{% set chapterStats = {'likes': 0, 'bookmarks': 0, 'views': 0, 'comments': 0, 'pages': 0} %}
					{% for chapter in chapShow %}
						{% if chapter.status > 1 %}
							{% set chapterSlug = chapter.slug ?: "feuille-n0" ~ (chapter.orderDisplay + 1) %}
							<li class="inline-flex items-center gap-x-2 py-1 px-4 font-medium text-slate-900 -mt-px dark:bg-inherit dark:text-white">
								<div class="flex justify-between w-full">
									<div>
										<a href="{{ path("app_chapter_show", {idChap:chapter.id, slugPub:pubShow.slug, user:pubShow.user.username, slug:chapterSlug}) }}" class="h-full w-4/6 font-normal  text-lg hover:underline">
											<span class="font-bold">{{ loop.index }}.</span>
											{{ chapter.title|default("Feuille n°" ~ (chapter.orderDisplay + 1))|capitalize }}
										</a>
										{% set chapterIdToCheck = chapter.id %}
										{% if app.user and app.user.hasReadChapter(chapterIdToCheck) %}
											&nbsp;&nbsp;<span class="text-xs text-green-500 dark:text-green-400">
												<i class="fa-duotone fa-badge-check"></i>&nbsp;&nbsp;lu</span>
										{% endif %}
									</div>
									<div class="w-2/6 justify-items-end opacity-80 dark:opacity-100">
										<div class="py-1 px-2 rounded-full flex justify-between items-center mt-0 md:-mt-2 text-xs text-slate-500 font-medium opacity-80 dark:opacity-100 dark:text-slate-400">
											<div class=" flex flex-col md:flex-col items-center gap-x-1">
												<i class="fa-light fa-thumbs-up"></i>
												{{ chapter.publicationChapterLikes|length }}
												{% set chapterStats = chapterStats|merge({'likes': chapterStats.likes + chapter.publicationChapterLikes|length}) %}
											</div>
											<div class=" flex flex-col md:flex-col items-center gap-x-1">
												<i class="fa-light fa-bookmark"></i>
												{{ chapter.publicationBookmarks|length }}
												{% set chapterStats = chapterStats|merge({'bookmarks': chapterStats.bookmarks + chapter.publicationBookmarks|length}) %}
											</div>
											<div class=" flex flex-col md:flex-col items-center gap-x-1">
												<i class="fa-light fa-eye"></i>
												{{ chapter.publicationChapterViews|length }}
												{% set chapterStats = chapterStats|merge({'views': chapterStats.views + chapter.publicationChapterViews|length}) %}
											</div>
											<div class=" flex flex-col md:flex-col items-center gap-x-1">
												<i class="fa-light fa-comments"></i>
												{{ chapter.publicationComments|length }}
												{% set chapterStats = chapterStats|merge({'comments': chapterStats.comments + chapter.publicationComments|length}) %}
											</div>
										</div>
										{% set chapterStats = chapterStats|merge({'pages': chapterStats.pages + chapter.content|readInfo("nbr_page_A4")}) %}
									</div>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="w-full" id="publicationShowOneComment">
					<hr>
					{% if app.user.id is defined and pubShow.status > 1 %}
						{{ form_start(formQuote, {attr:{"data-turbo-frame":"comment-section"}}) }}
						<label for="publication_chapter_comment_content" class="sr-only">Votre commentaire</label>
						<div class="flex items-center w-full rounded-lg relative ">
							{{ form_widget(formQuote.content, {attr:{"class":"assign-user block -mt-5 p-2.5 w-full text-sm text-slate-900 resize-none bg-white pr-12 rounded-lg border-2 border-slate-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-slate-800 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
							<div class="assign-user-dropdown top-7 " style="display: none; position:relative"></div>
							<button id="sendComment" type="submit" class="inline-flex justify-center p-2 text-slate-600 rounded-full cursor-pointer  hover:text-blue-500 dark:text-sky-500 dark:hover:text-sky-400  -ml-10 mt-2">
								<svg aria-hidden="true" class="w-6 h-6 -mt-8 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
								</svg>
								<span class="sr-only">Envoyer</span>
							</button>
						</div>
						<div class="help-text">Vous pouvez interpeller un utilisateur avec un
							<strong>@</strong>
							suivi de son nom d'utilisateur, et utiliser du
							<em>Markdown</em>
							pour mettre en forme votre commentaire
						</div>
						<input type="hidden" name="quote" id="drawerNoteQuote">
						{{ form_end(formQuote) }}
						<hr>
					{% endif %}
					{% if pubShow.status > 1 %}

						<ul>
							<li class="text-center mb-5 -mt-3 block lg:hidden" onclick="let commentSection = document.getElementById('comment-section').classList; commentSection.toggle('hidden');if (commentSection.contains('hidden')) { document.getElementById('showComMd').innerHTML = 'Afficher' } else {  document.getElementById('showComMd').innerHTML = 'Masquer' }">
								{% if nbrCom > 0 %}
									<button class="text-base mx-auto text-slate-300 font-medium hover:underline">
										<span id="showComMd">Afficher</span>
										les
										{{nbrCom}}
										{{nbrCom > 1 ? "commentaires" : "commentaire" }}
									</button>
								{% else %}
									Aucun commentaire
								{% endif %}
							</li>
						</ul>
						<turbo-frame id="comment-section" class=" hidden lg:block">
							{% set n = 0 %}
							{% for item in pCom %}
								{% include "publication/_partials/_comment.html.twig" with { item:item, n:n, pcom:nbrCom} %}
								{% set n = n + 1  %}
							{% endfor %}
							{% if nbrShowCom < nbrCom %}
								{# <a href="{{path("app_chapter_show", {user:infoPub.user.id, slug:chapterSlug, slugPub:infoPub.slug, idChap:infoChap.id, nbrShowCom:nbrShowCom + 10})}}">Afficher plus de commentaires</a> #}
							{% endif %}
						</turbo-frame>
					{% endif %}
				</div>
			</div>
			<div class="w-full opacity-100 dark:opacity-100  text-xs  z-50 mt-0 pt-5 px-2 lg:w-4/12  order-1 lg:order-2  shadow-slate-300 text-slate-900 border-slate-200 border-t-[1px] border-t-slate-200 dark:border-slate-900 dark:border-t-slate-900 lg:border-l-[1px] lg:border-t-0 ">
				<ul class="flex flex-col space-y-4 text-sm pb-5">
					{% if pubShow.status > 1 %}
						{# Partage sur Twitter #}
						{% set twitterChar = 280 %}
						{% set twitterChar = twitterChar - (app.request.schemeAndHttpHost|length + app.request.requestUri|length) - "@ScrilabEditions"|length - 6 - pubShow.title|length %}
						{% set hashtags = [] %}
						{% for item in pubShow.publicationKeywords %}
							{% set hashtag = "#" ~ item.keyword %}
							{% if twitterChar - hashtag|length >= 0 %}
								{% set twitterChar = twitterChar - hashtag|length - 1 %}
								{% set hashtags = hashtags|merge([hashtag]) %}
							{% endif %}
						{% endfor %}
						{% set hashtag = hashtags|join(" ") %}
						{% set url = app.request.schemeAndHttpHost ~ app.request.requestUri %}
						{% set text = "« " ~ pubShow.title ~ " » #" ~ slugName ~ " " ~ hashtag %}
						{% set via = "ScrilabEditions" %}
						<li class="inline-flex items-center  gap-x-2 mt-0 px-4 pb-5 pt-5 font-normal justify-center dark:text-white">
							<ul class="flex-row flex justify-between w-full">
								<li>
									<a data-tippy-content="Partager sur Twitter" href="https://twitter.com/share?url={{url}}&text={{text|url_encode}}&via={{via}}" target="_blank">
										<i class="fa-brands fa-twitter text-[#1DA1F2] text-2xl"></i>
									</a>
								</li>
								<li>
									<a data-tippy-content="Partager sur Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url}}&title={{pubShow.title}}&description={{hashtag}}&picture={{pic}}" target="_blank">
										<i class="fa-brands fa-facebook text-[#4267B2] text-2xl"></i>
									</a>
								</li>
								<li class="w-5 h-5">
									<a data-tippy-content="Partager sur Pinterest" href="https://www.pinterest.com/pin/create/button/?url={{url}}&media={{pic}}&description={{text|url_encode}}" target="_blank">
										<i class="fa-brands fa-pinterest text-[#E60023] text-2xl"></i>
									</a>
								</li>
								<li class="w-5 h-5">
									<a data-tippy-content="Partager sur Linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}&title={{pubShow.title|url_encode}}&summary={{text|url_encode}}" target="_blank">
										<i class="fa-brands fa-linkedin text-[#0e76a8] text-2xl"></i>
									</a>
								</li>
								<li class="w-5 h-5">
									<a data-tippy-content="Partager sur Whatsapp" href="whatsapp://send?text={{text|url_encode}}%20{{url}}" target="_blank">
										<i class="fa-brands fa-whatsapp text-[#25D366] text-2xl"></i>
									</a>
								</li>
								<li>
									<button data-tippy-content="Copier le lien" id="copyLink" target="_blank" class="text-lg mt-1">
										<i class="fa-regular fa-link text-xl"></i>
									</button>
								</li>
							</ul>
						</li>
						<hr class="my-10">
					{% endif %}
					<li class="show-one-details pt-5">
						<span>
							<i class="fa-regular fa-masks-theater"></i>
							Genre
						</span>

						<a href="{{path("app_publication_show_all_category", {slug:slug})}}" class="catColor-{{color}} rounded px-2 py-1 text-xs">
							<span>{{ slugName }}</span>
						</a>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-scroll"></i>
							Nombre de pages (pdf)
						</span>
						<span>{{ chapterStats.pages }}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-timer"></i>
							Temps de lecture
						</span>
						<span>{{ pubShow.publicationChapters|chapter("rt", "ft") }}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-eye"></i>
							Nombre de lecteurs
						</span>
						<span>{{chapterStats.views}}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-comments"></i>
							Commentaires
						</span>
						<span class="nbr-com-let nbr-com" data-nbr-com="{{chapterStats.comments + nbrCom}}">
							{% if (chapterStats.comments  + nbrCom)> 0 %}
								{{chapterStats.comments   + nbrCom}}
							{% else %}
								Aucun
							{% endif %}
						</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-book-bookmark"></i>
							Récit collectionné
						</span>
						{# Récits collectionnés #}
						<span>{{pubShow.publicationBookmarks|length}}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-bookmark"></i>
							Pages marquées
						</span>
						<span>{{chapterStats.bookmarks}}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-thumbs-up"></i>
							J'aime
						</span>
						<span>{{chapterStats.likes}}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-download"></i>
							Téléchargements
						</span>
						<span>{{pubShow.PublicationDownloads|length}}</span>
					</li>
					{# Progression #}
					{% set lastPopularity = 0 %}
					{% if pubShow.PublicationPopularities|length > 1 %}
						{% set nbr = pubShow.PublicationPopularities|length %}
						{% set nbr = nbr - 1 %}
						{% set lastPopularity = pubShow.PublicationPopularities[nbr].popularity %}
					{% endif %}
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-fire"></i>
							Popularité
							<span class="font-light text-xs">(7 jours)</span>
						</span>
						<span class="flex justify-end gap-x-2 text-xs items-center">
							{% if pubShow.pop < lastPopularity %}
								<i class="fa-duotone fa-circle-arrow-down  text-lg text-red-700 dark:text-red-500"></i>
							{% elseif pubShow.pop == lastPopularity %}
								<i class="fa-duotone fa-equals text-lg"></i>
							{% else %}
								<i class="fa-duotone fa-circle-arrow-up   text-lg text-green-700 dark:text-emerald-500"></i>
							{% endif %}
						</span>
					</li>
				</ul>
				{% if pubShow.publicationKeywords|length > 0 %}
					<ul class="flex flex-wrap justify-between p-2 text-sm border-t-[1px] gap-x-5 gap-y-5 grid-cols-4 border-t-slate-200 dark:border-t-slate-900 pt-5 mt-5">
						{% for item in pubShow.publicationKeywords %}
							<li class="font-medium dark:text-white">
								<a href="{{path("app_publication_show_all_category", {keystring:item.keyword|lower, order:'desc', sortby:'published', page:1, slug:"all"})}}" class="hover:underline text-slate-800 dark:text-white">#{{ item.keyword }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				<ul class=" flex flex-col gap-y-5 opacity-80 dark:opacity-100 text-sm border-t-[1px] border-t-slate-200 dark:border-t-slate-900 pt-5 mt-5">
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-cloud-arrow-up"></i>
							Publié depuis
						</span>
						<span>{{ pubShow.publishedDate ? pubShow.publishedDate|since : "Jamais publié" }}</span>
					</li>
					<li class="show-one-details">
						<span>
							<i class="fa-regular fa-square-pen"></i>
							Modifié il y a
						</span>
						<span>{{ pubShow.updated|since }}</span>
					</li>
				</ul>
			</div>
		{% endif %}
	</section>
{% endblock %}
