{% extends 'base.html.twig' %}

{% set slugCat = category.slug|default('all') %}
{% set slugCatName = category.name|default('Tous les récits') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set querySlug = route_params.slug|default('all') %}
{% set queryPage = route_params.page|default(1) %}
{% set queryOrder = route_params.order|default('desc') %}
{% set queryKeystring = route_params.keystring %}
{% set querySortby = route_params.sortby|default('pop') %}
{% block title %}Récits |
	{{ slugCatName }}
	—
	{{ parent() }}
{% endblock %}
{% block metatags %}
	<link rel="canonical" href="https://www.scrilab.com/recits">
	<meta name="description" content="Publiez et lisez des romans, des nouvelles, de la poésie et plus encore sur notre plateforme littéraire en ligne. Rejoignez une communauté passionnée de littérature et découvrez de nouveaux talents dès aujourd'hui.">
{% endblock %}
{% block body %}
	<section class="col-span-12 md:mt-1 -mt-8 flex gap-x-2 justify-center">
		{% if slugCat != "all" %}
			<span class="relative flex h-3 w-3">
				<span class="animate-ping absolute inline-flex h-full w-full rounded-full catColorDot-{{category.color}} opacity-75"></span>
				<span class="relative inline-flex rounded-full h-3 w-3 catColorDot-{{category.color}}"></span>
			</span>
		{% endif %}
		<h1 class="text-center font-serif">
			{{ slugCatName }}
		</h1>
	</section>
	{# ! Séparateur de mots clés dans l'URL & page #}
	{% set separator = "—" %}
	{% set separator_d = "——" %}
	{% set pageAct = app.request.get('_route_params')['page'] is defined ? app.request.get('_route_params')['page'] : null %}
	{% set random = random(0,999) %}
	<turbo-frame id="pagination-{{random}}" class="grid {% if pubShowKw %}grid-cols-2 {% else %}grid-cols-1{% endif %}  grid-rows-auto gap-4 col-span-full xl:gap-x-10 container -mt-12 xl:-mt-12 ">
		{% if pubShowKw %}
			<aside class="{{kwString ? " md:bg-inherit dark:bg-slate-900 md:dark:bg-inherit" }} row-span-12 -mt-5 rounded-lg dark:p-1 col-span-12 xl:col-span-5 xl:row-span-5 mb-10 xl:mb-0 {{kwString ? " order-1 md:border-b-0 border-b-4 border-slate-400 dark:border-slate-800 " : " order-2" }} xl:order-1 snap-y ">
				<hr class="xl:hidden mb-5 h-[0.3rem] bg-slate-400 dark:bg-slate-800 dark:border-none hidden"/>
				<h2 class="{{kwString ? "hidden " }} my-5 xl:hidden text-center font-bold dark:text-slate-100">Mots-clés</h2>
				{% if kwString %}
					<p class="text-center text-md md:mt-0">
						<a href="{{ path("app_publication_show_all_category", {slug:slugCat, page:1, order:orderSort, sortby:querySortby}) }}" class="text-slate-600 dark:text-slate-100 text-sm font-medium">
							<span class="material-symbols-outlined">
								backspace
							</span>
							<span class="hover:underline">Réinitialiser</span>
						</a>
					</p>
					<hr class="my-2 dark:bg-slate-900 dark:border-slate-900">
				{% endif %}
				<div class="flex flex-wrap  justify-evenly flex-row">
					{% include "publication/_partials/_show_all_keywords.html.twig"  %}
				</div>
			</aside>
		{% endif %}
		{# ! Affichage des récits #}
		<section class="{% if not pubShowKw %}col-start-0 xl:col-start-1 col-span-12 {% else %}row-span-12 col-span-12 xl:col-span-7 xl:row-span-7{% endif %} order-1 xl:order-2 justify-around -mt-5 grayscale-[2px]" style="--animate-duration: 1s;">
			<div class="flex mb-10 justify-between">
				<h4 class="w-3/6 mb-5 ml-2  font-light text-lg text-slate-500 dark:text-slate-300">
					{% set recount = count == 1 ? "1 récit" : count == 0 ? "Aucun récit" : count ~ " récits" %}
					{{ recount | default('Aucun récit.') }}
					{% if count == 0 and app.user %}
						<span class="hidden lg:inline">|</span>
						<span class="block md:hidden"></span>
						<a href="{{ path("app_publication_add") }}" class="text-sky-800 dark:text-sky-400 font-medium hover:underline">N'hésitez pas à publier le vôtre !</a>
					{% elseif count == 0 and not app.user %}
						<span class="hidden lg:inline">|</span>
						<span class="block md:hidden"></span>
						<button data-micromodal-trigger="popup-register" class="text-blue-800 dark:text-sky-400 hover:underline text-left">N'hésitez pas à publier le vôtre !</button>
					{% endif %}
				</h4>
				<div class="-mt-3 w-auto  xl:w-auto">
					<button id="sortButton" data-dropdown-toggle="sortHover" class="flex items-center ring-1 bg-none  focus:ring-4 focus:outline-none font-medium rounded-lg text-xs lg:text-sm lg:mt-0 mt-2 px-4 py-2.5 text-center {{ querySortby == 'pop' ? 'ring-sky-600 hover:bg-sky-50  text-sky-800 focus:ring-sky-300 dark:text-sky-500 dark:hover:text-sky-400 dark:ring-sky-400 dark:hover:bg-sky-900 dark:hover:ring-sky-500' : 'ring-yellow-600 hover:bg-yellow-50  text-yellow-800 focus:ring-amber-300 dark:text-yellow-400 dark:ring-yellow-400 dark:hover:bg-yellow-900 dark:hover:text-yellow-400 dark:hover:ring-yellow-500'}}    " type="button">
						{% set popIcon = '<span class="material-symbols-outlined text-sky-800 dark:text-sky-100">thumb_up</span> ' %}
						{% set newIcon = '<span class="material-symbols-outlined text-yellow-800 dark:text-yellow-100">tips_and_updates</span> ' %}
						{% set sortText = 
						querySortby == 'pop' ? popIcon|raw ~ " &nbsp;&nbsp;Les plus populaires d'abord" :
						querySortby == 'published'  ? newIcon|raw ~ " &nbsp;&nbsp;Les nouveautés d'abord" %}
						{{ sortText|raw }}
						<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
						</svg>
					</button>
					<!-- Dropdown menu -->
					<div id="sortHover" class="z-10 hidden bg-white divide-y divide-slate-100 rounded-lg shadow w-auto dark:bg-slate-700  ">
						{% set options = [
							{
								'text': 'Les plus populaires d\'abord',
								'order': 'desc',
								'sortby': 'pop',
								'class': 'rounded-t-lg',
								'icon': popIcon
							},
							
							{
								'text': 'Les nouveautés d\'abord',
								'order': 'desc',
								'sortby': 'published',
								'class': '',
								'icon': newIcon
							},
							
						] %}
						<ul class="text-sm  text-slate-700 shadow-2xl rounded-lg" aria-labelledby="sortButton">
							{% for option in options %}
								{% if option.order == orderSort and option.sortby == querySortby %}
									{% if querySortby == "pop" %}
										{% set activeClass = "bg-sky-100 hover:bg-sky-100 dark:bg-sky-900 dark:hover:bg-sky-900 dark:text-sky-300" %}
									{% elseif querySortby == "published" %}
										{% set activeClass = "bg-yellow-100 hover:bg-yellow-100 dark:bg-yellow-800 dark:hover:bg-yellow-800 rounded-b-lg dark:text-yellow-400" %}
									{% endif %}
								{% else %}
									{% set activeClass = "hover:bg-slate-200 dark:bg-slate-500 dark:hover:bg-slate-700 dark:text-slate-300 grayscale" %}
								{% endif %}
								<li class="py-2 {{ option.class }} {{ activeClass }} ">
									<a href="{{ path("app_publication_show_all_category", {slug: slugCat, keystring: queryKeystring, page: page, order: option.order, sortby: option.sortby}) }}" target="_self" class="block px-4 py-2 ">
										{{ option.icon|raw }}
										&nbsp;{{ option.text }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% if countPage > 1 %}
					<div class="-mt-3 -mr-5">
						{% include "publication/_partials/_show_all_pagination.html.twig" with {'type': "top"}  %}
					</div>
				{% endif %}
			</div>
			<div class="animate__animated animate__fadeIn grid grid-cols-1 grid-rows-1  gap-10 xl:grid-cols-2 " id="PublicationShowContent">
				{% for item in pubShow %}
					{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item} %}
				{% endfor %}
				{# {% include "publication/_partials/_show_all-fake-publication.html.twig" %} #}
				{% if kwString is null and page == 1 and count < limit %}
					{% for i in count..limit - 1 %}
						<div class="flex ">
							{% if not app.user %}
								<div data-micromodal-trigger="popup-register" class="item-fake">
									<span class="write-and-publish w-2/6"></span>
									<span class=" w-4/6 items-center flex flex-col justify-center text-slate-800 dark:text-slate-400">
										<span class="text-4xl">
											<span class="material-symbols-outlined">
												history_edu
											</span>
										</span>
										<span>Écrire et publier mon récit</span>
									</span>
								</div>
							{% else %}
								<a href="{{path("app_publication_add")}}" class="item-fake">
									<span class="write-and-publish w-2/6"></span>
									<span class=" w-4/6 items-center flex flex-col justify-center text-slate-800 dark:text-slate-400">
										<span class="text-4xl">
											<span class="material-symbols-outlined">
												history_edu
											</span>
										</span>
										<span>Écrire et publier mon récit</span>
									</span>
								</a>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</section>
		<div class="col-span-12  pt-20 flex justify-center">
			{% if countPage > 1 %}
				{% include "publication/_partials/_show_all_pagination.html.twig" with {'type': "bottom"}  %}
			{% endif %}
		</div>
	</turbo-frame>
{% endblock %}
