<style>
	html,
	body
	{
		overflow-x: hidden;
		overflow-y: hidden;
	}
</style>

<div class="md:w-3/12 w-full flex flex-col gap-y-1 pt-5 border-r-4 border-r-slate-200 dark:border-r-slate-700" id="inbox">
	<div class="p-5 items-center gap-x-2 flex justify-center border-b-2 mb-5 border-slate-300 dark:border-slate-700 dark:text-slate-300">
		<i class="fa-duotone fa-message-plus "></i>
		<a href="{{path("app_inbox_create")}}" class="font-semibold hover:underline" data-turbo-frame="_top">
			Créer une conversation
		</a>
	</div>
	{% for item in conversations|sort((a, b) => b.createdAt <=> a.createdAt) %}
		{% if item.userTo.id != app.user.id %}
			<a href="{{path("app_inbox_message", {userTo:item.userTo.id})}}" class="one-conversation" data-turbo-frame="_top" data-id="{{item.userTo.id}}">
				<div class="relative flex flex-row cursor-pointer items-center gap-x-1 rounded-l   p-2 py-1 rounded dark:text-slate-300 text-slate-800 {{userTo is defined ? userTo.id == item.userTo.id ? " bg-slate-200 dark:bg-slate-700 " : " bg-slate-50 hover:bg-slate-200 dark:bg-slate-900 dark:hover:bg-slate-700" : " bg-slate-50 hover:bg-slate-200 dark:bg-slate-900 dark:hover:bg-slate-700"}}">
					{% if item.userTo.profilPicture %}
						<img src="{{item.userTo.profilPicture}}" class="rounded w-12 h-12"/>
					{% endif %}
					<div class="p-5 cursor-pointer {{userTo is defined ? userTo.id == item.userTo.id ? " font-semibold"}}">{{item.userTo.nickname}}</div>
					{% set var = 0 %}
					{% for ur in nbUnreadMessages %}
						{% if ur.readAt == null and ur.user.id == item.userTo.id %}
							{% set var = var + 1 %}
						{% endif %}
					{% endfor %}
					<div class="absolute bg-red-500 rounded-bl p-1 top-0 right-0 text-red-50 text-xs {{var == 0 ? " hidden" }} font-semibold" id="nbrMessage-{{item.userTo.id}}">{{var}}</div>
				</div>
			</a>
		{% else %}
			<a href="{{path("app_inbox_message", {userTo:item.user.id})}}" class="one-conversation" data-turbo-frame="_top" data-id="{{item.user.id}}">
				<div class="relative flex flex-row cursor-pointer items-center gap-x-1 rounded-l   p-2 py-1 rounded dark:text-slate-300 text-slate-800 {{userTo is defined ? userTo.id == item.userTo.id ? " bg-slate-200 dark:bg-slate-700 " : " bg-slate-50 hover:bg-slate-200 dark:bg-slate-900 dark:hover:bg-slate-700" : " bg-slate-50 hover:bg-slate-200 dark:bg-slate-900 dark:hover:bg-slate-700"}}">
					{% if item.user.profilPicture %}
						<img src="{{item.userTo.profilPicture}}" class="rounded w-12 h-12"/>
					{% endif %}
					<div class="p-5 cursor-pointer {{userTo is defined ? userTo.id == item.user.id ? " font-semibold"}}">{{item.user.nickname}}</div>
					{% set var = 0 %}
					{% for ur in nbUnreadMessages %}
						{% if ur.readAt == null and ur.user.id == item.user.id %}
							{% set var = var + 1 %}
						{% endif %}
					{% endfor %}
					<div class="absolute bg-red-500 rounded-bl p-1 top-0 right-0 text-red-50 text-xs {{var == 0 ? " hidden" }} font-semibold" id="nbrMessage-{{item.userTo.id}}">{{var}}</div>
				</div>
			</a>
		{% endif %}
	{% endfor %}
</div>
