<div class="card dark:saturate-50 opacity-80 dark:bg-none dark:text-slate-400">
	<div class="header">
		<h4 class="feed-title {{titleColor is defined ? titleColor }}">
			<i class="fa-regular dark:brightness-100 fa-{{icon}}  "></i>
			<span class=" brightness-50 dark:brightness-[1]  {{titleColor is defined ? titleColor }}">{{title}}</span>
		</h4>
		<hr class="{{borderHr is defined ? borderHr }}">
	</div>
	<div class="body">
		<ul>
