{# ! END init #}
{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}
	{# ! GÉNÉRAL #}
	{% set submitted = app.request.query.all|length > 0 %}
	{% set pubOrAuthor = app.request.query.get('pubOrAuthor')|default("publication") %}
	{% set searchText = app.request.query.get('searchText') %}
	{% set orderBy = app.request.query.get('orderBy')|default("DESC") %}
	{# ! USER #}
	{% set orderByUser = app.request.query.get('orderByUser')|default("DESC") %}
	{% set sortByUser = app.request.query.get('sortByUser')|default("alpha") %}
	{% set alreadyPublished = submitted ? (app.request.query.get('alreadyPublished') == 'on' ? 'checked' : '') : 'checked' %}
	{# ! PUBLICATION #}
	{% set sortBy = app.request.query.get('sortBy')|default("published") %}
	{% set notNullChecked = submitted ? (app.request.query.get('notNull') == 'on' ? 'checked' : '') : 'checked' %}
	{% set timeShortChecked = submitted ? (app.request.query.get('timeShort') == 'on' ? 'checked' : '') : 'checked' %}
	{% set timeMediumChecked = submitted ? (app.request.query.get('timeMedium') == 'on' ? 'checked' : '') : 'checked' %}
	{% set timeLongChecked = submitted ? (app.request.query.get('timeLong') == 'on' ? 'checked' : '') : 'checked' %}

	{# * GRID #}
	{% if app.user %}
		{% if app.user.userParameters is defined and app.user.userParameters.gridShow == true %}
			{% set grid_status = "big" %}
			{% set grid_button_left = null %}
			{% set grid_button_right = "active" %}
		{% else %}
			{% set grid_status = null %}
			{% set grid_button_left = "active" %}
			{% set grid_button_right = null %}
		{% endif %}
	{% else %}
		{% if app.session.get('grid') and not app.user and app.session.get('grid') == true %}
			{% set grid_status = "big" %}
			{% set grid_button_left = null %}
			{% set grid_button_right = "active" %}
		{% else %}
			{% set grid_status = null %}
			{% set grid_button_left = "active" %}
			{% set grid_button_right = null %}
		{% endif %}
	{% endif %}
	<h1 class="text-center font-serif  md:mt-0">Rechercher</h1>
	<div class="flex flex-col lg:flex-row items-start gap-x-10 pt-5">
		<aside class="lg:w-3/12 lg:p-5 py-3 w-auto mx-auto  border-r-none lg:border-r-4 border-slate-200 dark:border-slate-700">
			<form class="gap-y-2 flex flex-col justify-center w-full gap-x-3 items-baseline  lg:ml-0 lg:items-start justify-items-center" action="" id="search-form" method="get">
				<div class="flex flex-row items-center gap-x-2">
					{% include "./partials/_form-row.html.twig" with {
						model:"input",
						type:"text",
						icon:"fa-radar",
						label:"Rechercher...",
						name:"searchText",
						class:"w-full font-semibold",
						classField:"w-full  placeholder:text-xs",
						placeholder:pubOrAuthor == "publication" ? "Titre, résumé, auteur" : "Nom d'auteur, d'utilisateur",
						checked:"",
						error:"",
						help:"",
						value: searchText
					} %}

				</div>

				<div>
					<h2 class="font-semibold mb-2 -mt-10 dark:text-slate-300">Afficher :</h2>
					<div class="flex flex-row items-center gap-x-2 mb-2">
						<input type="radio" name="pubOrAuthor" value="publication" id="publications" {{ pubOrAuthor == "publication" ? "checked" }}>
						<label for="publications" class="-mt-2 font-normal">Les récits</label>
					</div>
					<div class="flex flex-row items-center gap-x-2 mb-2">
						<input type="radio" name="pubOrAuthor" value="user" id="authors" {{pubOrAuthor == "user" ? "checked" }}>
						<label for="authors" class="-mt-2 font-normal">Les scrilabeurs</label>
					</div>
				</div>


				<div class="{{pubOrAuthor != "publication" ? "hidden"}}">
					<div class="-mt-5">
						<h2 class="font-semibold mb-2 mt-2 dark:text-slate-300">Temps de lecture :</h2>
						<div class="flex flex-row items-center gap-x-2 mb-2">
							<input type="checkbox" name="timeShort" id="timeShort" {{timeShortChecked}}>
							<label for="timeShort" class="-mt-2 font-normal">Court (0 - 20mn)</label>
						</div>
						<div class="flex flex-row items-center gap-x-2 mb-2">
							<input type="checkbox" name="timeMedium" id="timeMedium" {{timeMediumChecked}}>
							<label for="timeMedium" class="-mt-2 font-normal">Moyen (20 - 80mn)</label>
						</div>
						<div class="flex flex-row items-center gap-x-2 mb-4">
							<input type="checkbox" name="timeLong" id="timeLong" {{timeLongChecked}}>
							<label for="timeLong" class="-mt-2 font-normal">Long (min. 80mn)</label>
						</div>
					</div>

					<div>
						{% include "./partials/_form-row.html.twig" with {
						model:"select",
						type:"select",
						label:"Trier par :",
						name:"sortBy",
						icon:"fa-shapes",
						class:"w-full",
						classField:"w-full",
						checked:"",
						error:"",
						help:"",
						options: [
						{"value": "published", "label": "Date de publication", "selected": sortBy == 'published' ? 'selected'},
						{"value": "title", "label": "Titre", "selected": sortBy == 'title' ? 'selected'},
						{"value": "user", "label": "Auteur", "selected": sortBy == 'user' ? 'selected'},
						{"value": "sheet", "label": "Dernière feuille publiée", "selected": sortBy == 'sheet' ? 'selected'},
						{"value": "pop", "label": "Popularité", "selected": sortBy == 'pop' ? 'selected'},
						{"value": "time", "label": "Temps de lecture", "selected": sortBy == 'time' ? 'selected'},
						{"value": "comment", "label": "Nombre de commentaires", "selected": sortBy == 'comment' ? 'selected'},
						{"value": "nbrSheet", "label": "Nombre de feuilles", "selected": sortBy == 'nbrSheet' ? 'selected'},
						{"value": "like", "label": "Nombre de « j'aime »", "selected": sortBy == 'like' ? 'selected'},
						{"value": "view", "label": "Nombre de lectures", "selected": sortBy == 'view' ? 'selected'},
						]
						} %}
						{% include "./partials/_form-row.html.twig" with {
						model:"select",
						type:"select",
						name:"orderBy",
						icon:"fa-sort",
						class:"w-full",
						classField:"w-full",
						checked:"",
						error:"",
						help:"",
						options: [
						{"value": "ASC", "label": "Croissant", "selected": orderBy == 'ASC' ? 'selected'},
						{"value": "DESC", "label": "Décroissant", "selected": orderBy == 'DESC' ? 'selected'},
						]
						} %}

					</div>
				</div>

				<div class="{{pubOrAuthor != "user" ? "hidden"}}">
					<div class="-mt-5">
						<h2 class="font-semibold mb-2 mt-2 dark:text-slate-300">Qui ont :</h2>
						<div class="flex flex-row items-center gap-x-2 mb-2">
							<input type="checkbox" name="alreadyPublished" id="alreadyPublished" {{alreadyPublished}}>
							<label for="alreadyPublished" class="-mt-2 font-normal">Déjà publié sur Scrilab</label>
						</div>
					</div>
					<div>
						{% include "./partials/_form-row.html.twig" with {
						model:"select",
						type:"select",
						label:"Trier par :",
						name:"sortByUser",
						icon:"fa-shapes",
						class:"w-full",
						classField:"w-full",
						checked:"",
						error:"",
						help:"",
						options: [
						{"value": "alpha", "label": "Ordre alphabétique", "selected": sortByUser == 'alpha' ? 'selected'},
						{"value": "nbPub", "label": "Nombre de récits publiés", "selected": sortByUser == 'nbPub' ? 'selected'},
						{"value": "joinDate", "label": "Date d'inscription", "selected": sortByUser == 'joinDate' ? 'selected'},
						]
						} %}
						{% include "./partials/_form-row.html.twig" with {
						model:"select",
						type:"select",
						name:"orderByUser",
						icon:"fa-sort",
						class:"w-full",
						classField:"w-full",
						checked:"",
						error:"",
						help:"",
						options: [
						{"value": "ASC", "label": "Croissant", "selected": orderByUser == 'ASC' ? 'selected'},
						{"value": "DESC", "label": "Décroissant", "selected": orderByUser == 'DESC' ? 'selected'},
						]
						} %}
					</div>
				</div>
				<hr class="-mt-14">
				<div class="flex flex-row items-baseline gap-x-2 mb-2 -mt-0">
					<input type="checkbox" name="notNull" id="notNull" {{ notNullChecked }}>
					<label for="notNull" class="-mt-2 pt-0 font-normal dark:text-slate-400">Ne pas afficher les résultats nuls</label>
				</div>
				<button class="btn hidden btn-primary" id="submit-form" type="submit">Ok</button>
			</form>
		</aside>
		<section class="w-full">
			<div
				class="flex flex-col xl:flex-row mb-10 mt-5 justify-between items-baseline px-2 pr-5 md:border-none  md:-mt-1 dark:border-slate-700 pt-4 md:pt-0 border-t-4">
				{# ! COUNT PUBLICATIONS #}
				{% if pubOrAuthor == "publication" %}
					<h4 class="items-baseline  flex flex-col md:flex-row  gap-x-2 text-center md:text-left mb-5 ml-2  font-light text-lg text-slate-500 dark:text-slate-300">
						{% set count = results|length %}
						{% set recount = count == 1 ? "1 récit" : count == 0 ? "Aucun récit" : count ~ " récits" %}
						<div>
							{{ recount | default('Aucun récit') }}
						</div>
						<div class="flex flex-row md:gap-x-2 gap-x-0 items-baseline">
							{% if count == 0 and app.user %}
								<span class="hidden lg:inline">|</span>
								<span class="inline md:hidden"></span>
								<a href="{{ path("app_publication_add") }}" class="text-sky-800 dark:text-sky-400 font-medium hover:underline">N'hésitez pas à publier le vôtre !</a>
							{% elseif count == 0 and not app.user %}
								<span class="hidden lg:inline">|</span>
								<span class="inline md:hidden"></span>
								<button data-micromodal-trigger="popup-register" class="text-blue-800 dark:text-sky-400 hover:underline text-left">N'hésitez pas à publier le vôtre !</button>
							{% endif %}
						</div>
					</h4>
					<div class="-mt-3  flex flex-col md:flex-row md:mb-0 mb-10 gap-y-8 items-baseline gap-x-2">
						<div class="flex flex-row items-center w-full justify-between md:justify-center gap-x-2">
							<div class="flex flex-row rounded-md mt-2 md:mt-0">
								{% if app.user %}
									<button aria-label="Affichage ressérré" data-tippy-content="Affichage ressérré" id="grid" type="button" class="button-grid-show-all left {{grid_button_left}} ">
										<i class="fa-regular fa-table-cells"></i>
									</button>
									<button aria-label="Affichage détaillé" data-tippy-content="Affichage large et détaillé" id="gridSmall" type="button" class="button-grid-show-all right  {{grid_button_right}}">
										<i class="fa-regular fa-table-cells-large"></i>
									</button>
								{% else %}
									<button aria-label="Affichage ressérré" data-tippy-content="Affichage ressérré" id="grid" type="button" class="button-grid-show-all left  {{grid_button_left}}">
										<i class="fa-regular fa-table-cells"></i>
									</button>
									<button aria-label="Affichage détaillé" data-tippy-content="Affichage large et détaillé" id="gridSmallSession" type="button" class="button-grid-show-all right  {{grid_button_right}}">
										<i class="fa-regular fa-table-cells-large"></i>
									</button>
								{% endif %}
							</div>
							{# {% if countPage > 1 %} #}
						{# <div class="flex flex-col self-start -mt-[1.25rem] xl:-mt-[1.35rem]"> #}
							{# {% include "publication/_partials/_show_all_pagination.html.twig" with {'type': "top"}  %} #}
							{# </div> #}
							{# {% endif %} #}
						</div>
					</div>
				{% elseif  pubOrAuthor == "user"  %}
					<h4 class="items-baseline  flex flex-col md:flex-row  gap-x-2 text-center md:text-left mb-5 ml-2  font-light text-lg text-slate-500 dark:text-slate-300">
						{% set count = results|length %}
						{% set recount = count == 1 ? "1 utilisateur" : count == 0 ? "Aucun utilisateur" : count ~ " utilisateurs" %}
						<div>
							{{ recount | default('Aucun utilisateur') }}
						</div>

					</h4>
				{% endif %}
			</div>
			{% if pubOrAuthor == "publication" %}
				<div class="display_publications twoMax {{grid_status}} showAll" id="PublicationShowContent">
					{% for item in results %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'', 'queryPage':1, 'sortBy':sortBy, 'querySortby':sortBy, 'queryOrder':'DESC','queryKeystring':'', 'querySlug':item.slug, "search":true} %}
					{% endfor %}
				</div>
			{% elseif pubOrAuthor == "user" %}
				<div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-baseline">
					{% for item in results %}
						<div class="w-full p-5 bg-slate-50 dark:bg-slate-900 rounded flex flex-col gap-y-2">
							<div class="flex flex-row items-center justify-between">
								<div class="flex flex-row items-center gap-x-2">
									{% if item.profilPicture %}
										<img src="{{item.profilPicture}}" class="w-5 h-5 rounded-full" alt="Photo de profil de {{item.nickname}}"/>
									{% endif %}
									<a href="{{path("app_user", {username:item.username})}}" class="hover:underline font-semibold dark:text-slate-300" target="_blank">{{item.nickname}}</a>
								</div>
								<span class="opacity-50 text-xs dark:text-slate-300">@{{item.username}}</span>
							</div>
							<hr class="mt-2 mb-0">
							<div class="flex flex-col gap-y-2">
								{% set nbrPublication = item|nbrPublication|length %}
								<span class=" flex flex-row items-center gap-x-2 text-sm {{nbrPublication == 0 ? " text-slate-400 dark:text-slate-600" : " text-slate-600 dark:text-slate-400" }}">
									<i class="fa-regular {{nbrPublication == 0 ? " hidden" }} {{nbrPublication == 1 ? " fa-book" : " fa-book-copy" }}"></i>
									<a href="{{path("app_search", {sortBy:"published",orderBy:"DESC",searchText:item.username,pubOrAuthor:"publication"})}}" class="hover:underline">
										{{nbrPublication > 0 ? nbrPublication : "Aucun récit publié" }}
										{{nbrPublication < 2 and nbrPublication > 0 ? "récit publié" : nbrPublication > 1 ? "récit publiés"}}
									</a>
								</span>
							</div>
							{% if nbrPublication > 0 %}
								<div class="flex flex-col gap-y-2">
									<span class=" flex flex-row items-center gap-x-2 text-sm  text-slate-600 dark:text-slate-400">
										<i class="fa-regular fa-fire"></i>
										{% set mostPopular = item|mostPopularPublication %}
										<span class="flex flex-row gap-x-2">
											<span class=" font-semibold">Populaire :</span>
											<a href="{{ path("app_publication_show_one", {id:mostPopular.id, slug:mostPopular.slug}) }}" class="text-slate-800 hover:underline dark:text-slate-400" target="_blank">{{mostPopular.title}}</a>
										</span>
									</span>
								</div>
							{% endif %}
							<div class="flex flex-col gap-y-2">
								<span class=" flex flex-row justify-end items-baseline justify-items-end gap-x-2 text-xs mt-2  text-slate-400 dark:text-slate-400">
									<i class="fa-regular fa-fire"></i>
									<span class="flex flex-row gap-x-2">
										Membre depuis
										{{item.joinDate|since}}
									</span>
								</span>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</section>
	</div>
{% endblock %}
