<div class="flex md:flex-row items-baseline flex-col gap-x-5 ">
	<div class="  rounded-lg " id="profile" role="tabpanel" aria-labelledby="profile-tab">
		<div id="chrono-content" class="md:h-[400vh] md:overflow-y-auto h-auto overflow-auto  md:mb-0 mb-20  ">
			<div class="card chrono " style="shadow:none">
				<div class="body dark:text-slate-300">
					<ul class="  mt-10">
						{% for item in this.allEntities %}
							{% set type = get_entity_type(item) %}
							{% if type == 'Challenge' %}
								{# ! Message du forum #}
								<li class="f12 bg-fuchsia-50 border-fuchsia-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {type:"chrono",user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-fuchsia-500 dark:text-fuchsia-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de créer un exercice
											<a href="{{path("app_challenge_read", {slug:item.getSlug(),id:item.getId()})}}" class="font-semibold">
												{{item.getTitle()|length > 30 ? item.getTitle()|slice(0, 30) ~ "..." : item.getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-fuchsia-800 dark:text-fuchsia-200">
										<span>
											<i class="fa-duotone fa-hand-holding-seedling"></i>
											<span>Nouvel exercice</span>
										</span>
										Il y a
										{{item.getCreatedAt()|since}}
									</div>
								</li>
							{% elseif type == 'ForumMessage' %}
								{# ! Message du forum #}
								<li class="f2 bg-sky-50 border-sky-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {type:"chrono",user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-sky-500 dark:text-sky-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de répondre au sujet
											<a href="{{path("app_forum_topic_read", {slug:item.getTopic().getCategory().getSlug(),slugTopic:item.getTopic().getSlug(),id:item.getTopic().getId()})}}" class="font-semibold">
												{{item.getTopic().getTitle()|length > 30 ? item.getTopic().getTitle()|slice(0, 30) ~ "..." : item.getTopic().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-sky-800 dark:text-sky-200">
										<span>
											<i class="fa-duotone fa-comments-alt"></i>
											<span>Réponse à un sujet du forum</span>
										</span>
										Il y a
										{{item.getPublishedAt()|since}}
									</div>
								</li>
							{% elseif type == 'ChallengeMessage' %}
								{# ! Message du forum #}
								<li class="f13 bg-sky-50 border-sky-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {type:"chrono",user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-sky-500 dark:text-sky-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de commenter l'exercice
											<a href="{{path("app_challenge_read", {slug:item.getChallenge().getSlug(),id:item.getChallenge().getId(), idCom:item.getId()})}}" class="font-semibold">
												{{item.getChallenge().getTitle()|length > 30 ? item.getChallenge().getTitle()|slice(0, 30) ~ "..." : item.getChallenge().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-sky-800 dark:text-sky-200">
										<span>
											<i class="fa-duotone fa-comments-alt"></i>
											<span>Commentaire sur un exercice</span>
										</span>
										Il y a
										{{item.getPublishedAt()|since}}
									</div>
								</li>
							{% elseif type == 'PublicationComment' %}
								{# ! Commentaire de publication #}
								<li class="f1 bg-yellow-50 border-yellow-300 dark:bg-slate-700">
									<div>
										{% if item.chapter %}
											{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
											<div>
												<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-yellow-500 dark:text-yellow-200">
													{{item.getUser().getNickname()}}
												</a>
												a commenté la feuille
												<a href="{{path("app_chapter_show", {slugPub:item.getPublication().getSlug(),user:item.getUser().getUsername(),idChap:item.getChapter().getId(),slug:item.getChapter().getSlug(),idCom:item.getId})}}" class="font-semibold">
													{{item.getChapter().getTitle()|length > 30 ? item.getChapter().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getTitle()}}
												</a>
												du récit
												<a href="{{path("app_publication_show_one", {id:item.getPublication().getId(), slug:item.getPublication().getSlug()})}}" class="italic">
													{{item.getPublication().getTitle()|length > 30 ? item.getPublication().getTitle()|slice(0, 30) ~ "..." : item.getPublication().getTitle()}}
												</a>
											</div>
										{% else %}
											{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture()} %}
											<div>
												<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-yellow-500 dark:text-yellow-200">
													{{item.getUser().getNickname()}}
												</a>
												a commenté le récit
												<a href="{{path("app_publication_show_one", {id:item.getPublication().getId(), slug:item.getPublication().getSlug(),idCom:item.getId()})}}" class="italic">
													{{item.getPublication().getTitle()|length > 30 ? item.getPublication().getTitle()|slice(0, 30) ~ "..." : item.getPublication().getTitle()}}
												</a>
											</div>
										{% endif %}
									</div>
									<div class="info-text text-yellow-800 dark:text-yellow-200">
										<span>
											<i class="fa-duotone fa-comment"></i>
											<span>Commentaire sur un récit</span>
										</span>
										Il y a
										{{item.getPublishedAt()|since}}
									</div>
								</li>
							{% elseif type == 'User' %}
								{# ! Utilisateur #}
								<li class="f14 bg-orange-50 border-orange-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getNickname(),pic:item.getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUsername()})}}" class="self-baseline text-orange-500 dark:text-orange-200">
												{{item.getNickname()}}
											</a>
											vient de nous rejoindre.
										</div>
									</div>
									<div class="info-text text-orange-800 dark:text-orange-200">
										<span>
											<i class="fa-duotone fa-hand-wave"></i>
											<span>Bienvenu !</span>
										</span>
										Il y a
										{{item.getJoinDate()|since}}
									</div>
								</li>
							{% elseif type == 'ForumTopic' %}
								{# ! Sujet du forum #}
								<li class="f3 bg-emerald-50 border-emerald-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-emerald-500 dark:text-emerald-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de créer le sujet
											<a href="{{path("app_forum_topic_read", {slug:item.getCategory().getSlug(),slugTopic:item.getSlug(),id:item.getId()})}}" class="font-semibold">
												{{item.getTitle()|length > 30 ? item.getTitle()|slice(0, 30) ~ "..." : item.getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-emerald-800 dark:text-emerald-200">
										<span>
											<i class="fa-duotone fa-comment-alt"></i>
											<span>Nouveau sujet de forum</span>
										</span>
										Il y a
										{{item.getCreatedAt()|since}}
									</div>
								</li>
							{% elseif type == 'Publication' %}
								{# ! Publication #}
								<li class="f4 bg-teal-50 border-teal-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-teal-500 dark:text-teal-200">
												{{item.getUser().getNickname()}}
											</a>
											{% if item.getChallenge() %}
												vient de répondre à l'exercice
												<a href="{{path("app_challenge_read", {slug:item.getChallenge().getSlug(),id:item.getChallenge().getId()})}}" class="font-semibold">
													{{item.getChallenge().getTitle()|length > 30 ? item.getChallenge().getTitle()|slice(0, 30) ~ "..." : item.getChallenge().getTitle()}}
												</a>
											{% else %}
												vient de publier le récit
											{% endif %}
											avec le récit
											<a href="{{path("app_publication_show_one", {slug:item.getSlug(),id:item.getId()})}}" class="font-semibold">
												{{item.getTitle()|length > 30 ? item.getTitle()|slice(0, 30) ~ "..." : item.getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-teal-800 dark:text-teal-200">
										<span>
											{% if item.getChallenge() %}
												<i class="fa-duotone fa-reply-all"></i>
												<span>Réponse à un exercice</span>
											{% else %}
												<i class="fa-duotone fa-book"></i>
												<span>Nouveau récit</span>
											</div>
										{% endif %}
									</span>
									Il y a
									{{item.getCreated()|since}}
								</li>
							{% elseif type == 'PublicationChapter' %}
								{# ! Dernières feuilles #}
								<li class="f6 bg-indigo-50 border-indigo-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getPublication().getUser().getNickname(),pic:item.getPublication().getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getPublication().getUser().getUsername()})}}" class="self-baseline text-indigo-500 dark:text-indigo-200">
												{{item.getPublication().getUser().getNickname()}}
											</a>
											vient de publier la feuille

											<a href="{{ path("app_chapter_show", {idChap:item.getId(), user:item.getPublication().getUser().getUsername(), slugPub:item.getPublication().getSlug(), slug:item.getSlug()}) }}" class="hover:underline font-semibold">{{item.getTitle()|length > 30 ? item.getTitle()|slice(0, 30) ~ "..." : item.getTitle() }}</a>

											pour son récit
											<a href="{{path("app_publication_show_one", {id:item.getPublication().getId(), slug:item.getPublication().getSlug()})}}" class="italic">
												{{item.getPublication().getTitle()|length > 30 ? item.getPublication().getTitle()|slice(0, 30) ~ "..." : item.getPublication().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-indigo-800 dark:text-indigo-200">
										<span>
											<i class="fa-duotone fa-file"></i>
											<span>Nouvelle feuille</span>
										</span>
										Il y a
										{{item.getCreated()|since}}
									</div>
								</li>

							{% elseif type == 'PublicationBookmark' %}
								{# ! Marque-page de publication #}
								<li class="f7 bg-lime-50 border-lime-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-lime-500 dark:text-lime-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de collectionner
											{% if item.getChapter() %}
												la feuille
												<a href="{{path("app_chapter_show", {slugPub:item.getChapter().getPublication().getSlug(),user:item.getUser().getUsername(),idChap:item.getChapter().getId(),slug:item.getChapter().getSlug()})}}" class="font-semibold">
													{{item.getChapter().getTitle()|length > 30 ? item.getChapter().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getTitle()}}
												</a>
												du récit
												<a href="{{path("app_publication_show_one", {id:item.getChapter().getPublication().getId(), slug:item.getChapter().getPublication().getSlug()})}}" class="italic">
													{{item.getChapter().getPublication().getTitle()|length > 30 ? item.getChapter().getPublication().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getPublication().getTitle()}}
												</a>
											{% else %}
												le récit
												<a href="{{path("app_publication_show_one", {id:item.getPublication().getId(), slug:item.getPublication().getSlug()})}}" class="font-semibold">
													{{item.getPublication().getTitle()|length > 30 ? item.getPublication().getTitle()|slice(0, 30) ~ "..." : item.getPublication().getTitle()}}
												</a>
											{% endif %}
										</div>
									</div>
									<div class="info-text text-lime-800 dark:text-lime-200">
										<span>
											<i class="fa-duotone fa-bookmark"></i>
											<span>Collection</span>
										</span>
										Il y a
										{{item.getCreatedAt()|since}}
									</div>
								</li>
							{% elseif type == 'PublicationAnnotation' %}
								{# ! Annotation de publication #}
								<li class="f8 bg-amber-50 border-amber-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-amber-500 dark:text-amber-200">
												{{item.getUser().getNickname()}}
											</a>
											vient d'annoter la feuille

											<a href="{{ path("app_chapter_revision", {idChap:item.getChapter().getId(), user:item.getUser().getUsername(), slugPub:item.getChapter().getPublication().getSlug(), slug:item.getChapter().getSlug(), version:item.getVersion().getId()}) }}" class="hover:underline font-semibold">
												{{item.getChapter().getTitle()|length > 30 ? item.getChapter().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getTitle() }}
											</a>
											du récit
											<a href="{{path("app_publication_show_one", {id:item.getChapter().getPublication().getId(), slug:item.getChapter().getPublication().getSlug()})}}" class="italic">
												{{item.getChapter().getPublication().getTitle()|length > 30 ? item.getChapter().getPublication().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getPublication().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-amber-800 dark:text-amber-200">
										<span>
											<i class="fa-duotone fa-highlighter-line"></i>
											<span>Annotation de révision</span>
										</span>
										Il y a
										{{item.getCreatedAt()|since}}
									</div>
								</li>
							{% elseif type == 'PublicationFollow' %}
								{# ! Abonnement de publication #}
								<li class=" f9 bg-green-50 border-green-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-green-500 dark:text-green-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de s'abonner au récit
											<a href="{{path("app_publication_show_one", {id:item.getPublication().getId(), slug:item.getPublication().getSlug()})}}" class="italic">
												{{item.getPublication().getTitle()|length > 30 ? item.getPublication().getTitle()|slice(0, 30) ~ "..." : item.getPublication().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-green-800 dark:text-green-200">
										<span>
											<i class="fa-duotone fa-feed"></i>
											<span>Abonnement</span>
										</span>
										Il y a
										{{item.getCreatedAt()|since}}
									</div>
								</li>
							{% elseif type == 'PublicationDownload' %}
								{# ! Téléchargement de publication #}
								<li class="f10 bg-slate-50 border-slate-300 dark:bg-slate-700">
									<div>
										{% if item.getUser() %}
											{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										{% else %}
											{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:"Anonyme",pic:null } %}
										{% endif %}
										<div>
											{% if item.getUser() %}
												<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-slate-500 dark:text-slate-200">
													{{item.getUser().getNickname()}}
												</a>
											{% else %}
												<span class="text-slate-500 dark:text-slate-200">
													<em>Utilisateur anonyme</em>
												</span>
											{% endif %}
											vient de télécharger le récit
											<a href="{{path("app_publication_show_one", {id:item.getPublication().getId(), slug:item.getPublication().getSlug()})}}" class="italic">
												{{item.getPublication().getTitle()|length > 30 ? item.getPublication().getTitle()|slice(0, 30) ~ "..." : item.getPublication().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-slate-800 dark:text-slate-200">
										<span>
											<i class="fa-duotone fa-download"></i>
											<span>Téléchargement</span>
										</span>
										Il y a
										{{item.getDlAt()|since}}
									</div>
								</li>
							{% elseif type == 'PublicationChapterView' %}
								{# ! Lecture de publication #}
								<li class="f11 bg-indigo-50 border-indigo-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-indigo-500 dark:text-indigo-200">
												{{item.getUser().getNickname()}}
											</a>
											vient de lire la feuille

											<a href="{{ path("app_chapter_show", {idChap:item.getChapter().getId(), user:item.getChapter().getPublication().getUser().getUsername(), slugPub:item.getChapter().getPublication().getSlug(), slug:item.getChapter().getSlug()}) }}" class="hover:underline font-semibold">
												{{item.getChapter().getTitle()|length > 30 ? item.getChapter().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getTitle() }}
											</a>
											du récit
											<a href="{{path("app_publication_show_one", {id:item.getChapter().getPublication().getId(), slug:item.getChapter().getPublication().getSlug()})}}" class="italic">
												{{item.getChapter().getPublication().getTitle()|length > 30 ? item.getChapter().getPublication().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getPublication().getTitle()}}
											</a>
										</div>
									</div>
									<div class="info-text text-indigo-800 dark:text-indigo-200">
										<span>
											<i class="fa-duotone fa-glasses"></i>
											<span>Lecture</span>
										</span>
										Il y a
										{{item.getViewDate()|since}}
									</div>
								</li>
							{% elseif type == 'PublicationChapterLike' %}
								{# ! Aime le chapitre de publication #}
								<li class="f5 bg-rose-50 border-rose-300 dark:bg-slate-700">
									<div>
										{% include "/partials/little/_feedCard-avatar.html.twig" with  {user:item.getUser().getNickname(),pic:item.getUser().getProfilPicture() } %}
										<div>
											<a href="{{path("app_user", {username:item.getUser().getUsername()})}}" class="text-rose-500 dark:text-rose-200">
												{{item.getUser().getNickname()}}
											</a>
											vient d'aimer la feuille
											<a href="{{path("app_chapter_show", {slugPub:item.getChapter().getPublication().getSlug(),user:item.getUser().getUsername(),idChap:item.getChapter().getId(),slug:item.getChapter().getSlug()})}}" class="font-semibold">
												{{item.getChapter().getTitle()|length > 30 ? item.getChapter().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getTitle()}}
											</a>
											du récit
											<a href="{{path("app_publication_show_one", {id:item.getChapter().getPublication().getId(), slug:item.getChapter().getPublication().getSlug(), idCom:item.getId()})}}" class="italic">
												{{item.getChapter().getPublication().getTitle()|length > 30 ? item.getChapter().getPublication().getTitle()|slice(0, 30) ~ "..." : item.getChapter().getPublication().getTitle()}}</a>
										</div>
									</div>
									<div class="info-text text-rose-800 dark:text-rose-200">
										<span>
											<i class="fa-duotone fa-thumbs-up"></i>
											<span>Nouveau « j'aime »</span>
										</span>
										Il y a
										{{item.getCreatedAt()|since}}
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

</div></div>{% include "/partials/little/_feedCard-bottom.html.twig" %}</div>{# ! #}</div>
