<style>
	#section_profil
	{
		position: inherit;
		z-index: 1;
	}
	#section_profil::before
	{
		content: "";
		position: absolute;
		display: inline;
		top: 0;
		left: 0;
		right: 0;
		min-height: 50vh;

		z-index: -99999999999;
		background-position: center;
		background-size: cover;
		background-image: url('{{userInfo.profilBackground}}');

	}
</style>
<!-- TODO: créer un extends de User dans Edit (au cas ou on voudrait arriver directement sur la page de modification) -->
<section class="before:bg-cover  before:opacity-80 before:blur-xl h-40 col-span-12 col-start-0 lg:col-span-10 lg:col-start-2 items-starts flex justify-center before:-z-[9999] {{ userInfo.profilBackground ? " " }} before:border-b-black" id="section_profil"></section>
<turbo-frame id="frame-user" class="col-span-12 lg:col-span-10 lg:col-start-2  mt-14 justify-evenly min-h-[50vh] z-50 ">
	<div class="absolute bg-white dark:bg-slate-800 w-full min-h-[100%] left-0 right-0 -z-10  ">&nbsp;</div>
	<div class="w-full bg-transparent">
		{% if app.user and app.user.id == userInfo.id %}
			<ul class="flex-row absolute justify-center items-center left-0 flex w-full ">
				<li class="li-user-menu">
					<a href="{{ path("app_user", { username : app.user.username}) }}" data-turbo-frame="_self" class="item-user-menu {{ app.request.attributes.get('_route') == 'app_user' or app.request.attributes.get('_route') == 'app_user_edit' ? " item-user-menu-selected"}}">
						<span class="material-icons-outlined">
							face
						</span>
						<span class="hidden   md:inline">Profil public</span>
					</a>
				</li>
				<li class="li-user-menu">
					<a href="{{ path("app_user_show_publications") }}" data-turbo-frame="_self" class="item-user-menu {{ app.request.attributes.get('_route') == 'app_user_show_publications' ? " item-user-menu-selected"}}">
						<span class="material-icons-outlined">
							auto_stories
						</span>
						<span class="hidden   md:inline">Mes récits</span>
					</a>
				</li>
				<li class="li-user-menu">
					<a href="{{ path("app_user_collection")}}" data-turbo-frame="_self" class="item-user-menu {{ app.request.attributes.get('_route') == 'app_user_collection' ? " item-user-menu-selected"}}">
						<span class="material-icons-outlined">
							collections_bookmark
						</span>
						<span class="hidden    md:inline">Ma collection</span>
					</a>
				</li>
				<li class="li-user-menu">
					<a href="{{ path("app_user_account") }}" data-turbo-frame="_self" class="item-user-menu {{ app.request.attributes.get('_route') == 'app_user_account' ? " item-user-menu-selected"}}">
						<span class="material-icons-outlined">
							manage_accounts
						</span>
						<span class="hidden    md:inline">Mon compte</span>
					</a>
				</li>
				{# <li class="li-user-menu">
																																																																																																																																																																																																																																																																												<a href="#" class="item-user-menu">
																																																																																																																																																																																																																																																																													<span class="material-icons-outlined">
																																																																																																																																																																																																																																																																														archive
																																																																																																																																																																																																																																																																													</span>
																																																																																																																																																																																																																																																																													<span class="hidden    md:inline">Messagerie</span>
																																																																																																																																																																																																																																																																												</a>
																																																																																																																																																																																																																																																																											</li> #}
			</ul>
		</div>
		<div class="mt-20">
	{% else %}
		</div>
		<div class="mt-5">
		{% endif %}
