{% if item.replyTo is null %}
	{% set userLogId = app.user.id is defined ? app.user.id : null %}
	{% set class = "fa-regular fa-heart" %}
	{% if userLogId is not null %}
		{% if item.user.id == userLogId %}
			{% set class = "fa-regular fa-heart  cursor-not-allowed text-slate-300 " %}
		{% else %}
			{% for itemLike in item.publicationCommentLikes %}
				{% if itemLike.user.id == app.user.id %}
					{% set class = "fa-solid fa-heart text-red-400 cursor-pointer likeButton  dark:text-red-400" %}
					{% set liked = false %}
					{% set break = "" %}
				{% else %}
					{% set liked = true %}
					{% set class = "fa-regular fa-heart  cursor-pointer likeButton  dark:text-red-400" %}
				{% endif %}
			{% endfor %}
			{% if class == "fa-regular fa-heart" %}
				{% set class = "fa-regular fa-heart likeButton cursor-pointer  dark:text-red-400 " %}
			{% endif %}
		{% endif %}
	{% else %}
		{% set class = "fa-regular fa-heart cursor-default text-slate-400  dark:text-red-400" %}
	{% endif %}
	{% set lastComment = n == 0 and userLogId == item.user.id and item.publishedAt > "now"|date_modify("-2 seconds") %}
	{% if n == 0 %}
		<p class="dark:text-white">
			<i class="fa-duotone fa-comments"></i>
			&nbsp;
			{% set nbComment = pcom %}
			{% if nbComment == 0 %}
				Aucun commentaire
				<span class="nbr-com" class="hidden">{{ nbComment }}</span>
			{% else %}
				<span class="nbr-com" id="nbr-com">{{ nbComment }}</span>
				{% if nbComment > 1 %}
					commentaires
				{% else %}
					commentaire
				{% endif %}
			{% endif %}
			<br/><br/>
		</p>
	{% endif %}
	<div id="comment-{{item.id}}">
		<div class="one-comment" {% if lastComment %} id="lastComment" {% endif %}>
			<div class="flex items-start">
				{% set profilPic = item.user.profilPicture ? item.user.profilPicture : 'https://picsum.photos/200/300' %}
				{% if item.user.profilPicture %}
					<img class="w-12 h-12 rounded-full mr-4" src="{{ profilPic }}" alt="avatar">
				{% else %}
					<div class="w-12 h-12 rounded-full mr-4 bg-gray-200">
						<div class="w-full h-full flex items-center justify-center text-2xl text-gray-400">
							{{ item.user.nickname|slice(0,1)|upper }}
						</div>
					</div>
				{% endif %}
				<div class="flex-1">
					<h4 class="font-medium text-sm dark:text-white">
						<a href="{{ path("app_user", {username:item.user.username}) }}" target="_top" class="hover:underline">{{ item.user.nickname }}</a>
					</h4>
					<p class="text-slate-600 text-xs dark:text-white">
						{{ item.publishedAt|since }}
						<span class="text-gray-400 text-[0.70rem]">{{item.updatedAt ? "| modifié il y a " ~ item.updatedAt|since}}</span>
					</p>
				</div>

				{% if userLogId is not null %}
					<div class="dropdown">
						<button aria-label="Afficher les options du commentaire de {{item.user.nickname}} — numéro {{item.id}}" class="text-gray-600 hover:text-gray-900  dark:hover:text-gray-300 focus:outline-none focus:text-gray-900">
							<i class="fa-solid fa-angle-down dropdown-button" id="ddb-{{ item.id }}"></i>
						</button>
						<div id="ddm-{{ item.id }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dropdown-content">
							<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
								{% if item.user.id == userLogId %}
									<li>
										<button type="button" data-update-path="{{path("app_comment_update")}}" id="updateButton-{{ item.id }}" class="updateButton w-full text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
											<i class="fa-solid fa-pen-to-square"></i>
											&nbsp;Modifier
										</button>
									</li>
									<li>
										<button data-delete-path="{{path("app_comment_delete")}}" data-comment-id="{{item.id}}" class="updateButton w-full text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white deleteCommentButton">
											<i class="fa-regular fa-trash-can"></i>
											&nbsp;Supprimer
										</button>
									</li>
								{% else %}
									<li>
										<a data-turbo-frame="_self" href="{{path("app_comment_delete")}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
											<i class="fa-regular fa-regular fa-flag"></i>
											&nbsp;Signaler
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				{% endif %}
			</div>
			{% if item.quote %}
				<blockquote class="mt-6 border-l-4  border-blue-200 pl-4 italic text-slate-500">
					<p class="font-serif quoteComment cursor-alias text-[0.85rem]">{{ item.quote }}</p>
				</blockquote>
			{% endif %}
			<div id="updateCom-{{ item.id }}" class="text-base  dark:text-slate-300 -mt-6 one-comment-content">
				<p class="chapterComment">
					{{item.content ? item.content|assign|smiley_to_emoji|markdown|raw}}
				</p>
			</div>
			<p id="comShow-{{ item.id }}" class="hidden chapterComment">
				{{item.content ? item.content|smiley_to_emoji}}
				{# ajouter filtre twig ici #}
			</p>
			<p id="comShow2-{{ item.id }}" class="hidden chapterComment">
				{{item.content ? item.content|assign|smiley_to_emoji|raw}}
				{# ajouter filtre twig ici #}
			</p>


			<div class="mt-5 flex items-center justify-between text-md dark:border-t-slate-700">
				<div class="w-5/6">
					<span class="w-4/6 flex-row flex items-center gap-x-2 text-sm">
						<i id="reply-button-icon-{{item.id}}" class="fa-regular fa-comments fa-flip-horizontal text-slate-400 text-sm"></i>
						{% if app.user %}
							<button class="replyButton text-slate-400 hover:underline" data-comment-id="{{item.id}}">Répondre</button>
						{% else %}
							<button class="replyButton text-slate-400 hover:underline" data-micromodal-trigger="popup-login">Répondre</button>
						{% endif %}
					</span>
				</div>
				<span class="w-1/6 text-right">
					<i class="{{ class }} animate__animated" id="likeButton-{{ item.id }}" aria-label="Aimer ce commentaire" data-like-path="{{path("app_comment_like")}}"></i>
					<span class="ml-1 font-medium text-slate-600 dark:text-slate-500">
						<span id="nbLikes-{{ item.id }}">{{ item.publicationCommentLikes|length }}</span>
					</span>
				</span>
			</div>
			<div class="flex items-center w-full rounded-lg mt-6 hidden" id="display-reply-to-{{item.id}}">
				<textarea rows="1" placeholder="Votre réponse..." id="reply-to-{{item.id}}" class="assign-user  block -mt-5 p-2.5 w-full text-sm text-gray-900 resize-none bg-white pr-12 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
				<div class="assign-user-dropdown" style="display: none;margin-top:-1.5rem "></div>
				<button data-reply-path="{{path("app_comment_reply")}}" onclick="setTimeout(function() { document.getElementById('click-reply-{{item.id}}').click() },100)" id="send-reply-to-{{item.id}}" type="button" class="inline-flex justify-center p-2  dark:hover:text-gray-300 text-slate-600 rounded-full cursor-pointer  hover:text-blue-500 dark:text-sky-500   -ml-10 mt-4">
					<svg aria-hidden="true" class="w-6 h-6 -mt-10 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
					</svg>
					<span class="sr-only">Envoyer</span>
				</button>
				{% set currentRoute = app.request.attributes.get('_route') %}
				{% set currentRouteParams = app.request.attributes.get('_route_params') %}
				{% set currentPath = path(currentRoute, currentRouteParams) %}
				<a href="{{currentPath}}" id="click-reply-{{item.id}}" data-turbo-frame="_self" class="hidden"></a>
			</div>
			<turbo-frame id="comment-section-{{item.id}}" class="opacity-80">
				{% set n = 0 %}
				{% for reply in pCom|sort((a, b) => a.id <=> b.id) %}
					{# likes #}
					{% set userLogId = app.user.id is defined ? app.user.id : null %}
					{% set class = "fa-regular fa-heart" %}
					{% if userLogId is not null %}
						{% if reply.user.id == userLogId %}
							{% set class = "fa-regular fa-heart  cursor-not-allowed text-slate-300 " %}
						{% else %}
							{% for itemLike in reply.publicationCommentLikes %}
								{% if itemLike.user.id == app.user.id %}
									{% set class = "fa-solid fa-heart text-red-400 cursor-pointer likeButton  dark:text-red-400" %}
									{% set liked = false %}
									{% set break = "" %}
								{% else %}
									{% set liked = true %}
									{% set class = "fa-regular fa-heart  cursor-pointer likeButton  dark:text-red-400" %}
								{% endif %}
							{% endfor %}
							{% if class == "fa-regular fa-heart" %}
								{% set class = "fa-regular fa-heart likeButton cursor-pointer  dark:text-red-400 " %}
							{% endif %}
						{% endif %}
					{% else %}
						{% set class = "fa-regular fa-heart cursor-default text-slate-400  dark:text-red-400" %}
					{% endif %}
					{# endlikes #}
					{% if reply.replyTo == item %}
						{% set profilPic = reply.user.profilPicture ? reply.user.profilPicture %}
						{% if n == 0 %}
							<hr class="mb-0 border-[1px] border-dashed border-slate-500 dark:border-slate-700 opacity-50" id="hr-comment-{{reply.id}}">
						{% else %}
							<hr class="mb-0" id="hr-comment-{{reply.id}}">
						{% endif %}
						<div class="flex-col " id="comment-{{reply.id}}">
							<div class="flex relative flex-row w-full justify-between items-baseline " id="comment-{{reply.id}}">
								<div class="w-[20%] flex flex-col items-baseline justify-center  border-r-2 dark:border-r-slate-700 pl-3 pr-2">
									{% if reply.user.profilPicture %}
										<img class="w-6 h-6  rounded-full mx-auto " src="{{ profilPic }}" alt="avatar">
									{% else %}
										<div class="w-6 h-6  rounded-full  mx-auto   bg-gray-200">
											<div class="w-full h-full flex items-center justify-center text-sm text-gray-400">
												{{ item.user.nickname|slice(0,1)|upper }}
											</div>
										</div>
									{% endif %}
									<div class="text-sm mx-auto text-slate-600 text-center dark:text-slate-400">
										<a href="{{ path('app_user', {'username': reply.user.username}) }}" target="_top" class="hover:underline">{{ reply.user.nickname }}</a>
									</div>
									<div class="text-[0.70rem] mx-auto text-slate-600 text-center dark:text-slate-400 flex flex-col">
										{{ reply.publishedAt|since }}
										<span class="text-gray-400 text-[0.70rem]">{{reply.updatedAt ? "modifié"}}</span>
									</div>
								</div>
								<div id="updateCom-{{ reply.id }}" class=" w-9/12 h-full dark:text-slate-300 rounded one-comment-content">
									<p class="chapterComment reply ">
										{{reply.content ? reply.content|assign|smiley_to_emoji|markdown|raw}}
									</p>
								</div>
								<p id="comShow-{{ reply.id }}" class="hidden reply chapterComment">
									{{reply.content ? reply.content|smiley_to_emoji}}
									{# ajouter filtre twig ici #}
								</p>
								<div id="comShow2-{{ reply.id }}" class="hidden chapterComment">
									{{reply.content ? reply.content|assign|smiley_to_emoji|raw}}
									{# ajouter filtre twig ici #}
								</div>
								{% if userLogId is not null %}
									<div class="dropdown float-right">
										<button aria-label="Afficher les options du commentaire de {{reply.user.nickname}} — numéro {{reply.id}}" class="text-gray-600  dark:hover:text-gray-300 hover:text-gray-900   focus:outline-none focus:text-gray-900">
											<i class="fa-solid fa-angle-down dropdown-button" id="ddb-{{ reply.id }}"></i>
										</button>
										<div id="ddm-{{ reply.id }}" class=" hidden z-50 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dropdown-content">
											<ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
												{% if reply.user.id == userLogId %}
													<li>
														<button type="button" data-update-path="{{path("app_comment_update")}}" id="updateButton-{{ reply.id }}" class="updateButton w-full text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
															<i class="fa-solid fa-pen-to-square"></i>
															&nbsp;Modifier
														</button>
													</li>
													<li>
														<button data-delete-path="{{path("app_comment_delete")}}" data-comment-id="{{reply.id}}" class=" w-full text-left block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white deleteCommentButton deleteCommentButtonReply">
															<i class="fa-regular fa-trash-can"></i>
															&nbsp;Supprimer
														</button>
													</li>
												{% else %}
													<li>
														<a data-turbo-frame="_self" href="{{path("app_comment_delete")}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
															<i class="fa-regular fa-regular fa-flag"></i>
															&nbsp;Signaler
														</a>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="flex flex-row items-end self-end gap-x-2 justify-end">
								<div class="justify-end text-xs">
									<span class="w-4/6 flex-row flex items-center gap-x-2 text-sm">
										<i id="reply-to-button-icon-{{reply.id}}" class="fa-regular fa-comments fa-flip-horizontal text-slate-400 text-sm"></i>
										{% if app.user %}
											<button class="replyToButton text-slate-400 hover:underline text-xs" data-comment-id="{{item.id}}" data-ref-id="{{reply.id}}">Répondre</button>
										{% else %}
											<button class="replyToButton text-slate-400 hover:underline text-xs" data-micromodal-trigger="popup-login">Répondre</button>
										{% endif %}
									</span>
								</div>
								<span class="text-xs text-slate-400 dark:text-slate-700">|</span>
								<span class=" bottom-[-1rem] text-xs flex flex-row items-center">
									<i class="{{ class }} animate__animated" id="likeButton-{{ reply.id }}" aria-label="Aimer ce commentaire" data-like-path="{{path("app_comment_like")}}"></i>
									<span class="ml-1 font-medium text-slate-600 dark:text-slate-500">
										<span id="nbLikes-{{ reply.id }}">{{ reply.publicationCommentLikes|length }}</span>
									</span>
								</span>
							</div>
							<div class="flex items-center w-full rounded-lg mt-6 hidden" id="display-reply-to-reply-{{reply.id}}">
								<textarea rows="1" placeholder="Votre réponse..." id="reply-to-reply-{{reply.id}}" class="assign-user  block -mt-5 p-2.5 w-full text-sm text-gray-900 resize-none bg-white pr-12 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">@{{reply.user.username}}&nbsp;</textarea>
								<div class="assign-user-dropdown" style="display: none;margin-top:-1.5rem "></div>
								<button data-reply-path="{{path("app_comment_reply")}}" onclick="setTimeout(function() { document.getElementById('click-reply-reply-{{reply.id}}').click() },200);" id="send-reply-to-reply-{{reply.id}}" type="button" class="inline-flex justify-center p-2  dark:hover:text-gray-300 text-slate-600 rounded-full cursor-pointer  hover:text-blue-500 dark:text-sky-500   -ml-10 mt-4">
									<svg aria-hidden="true" class="w-6 h-6 -mt-10 rotate-45" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
									</svg>
									<span class="sr-only">Envoyer</span>
								</button>
								{% set currentRoute = app.request.attributes.get('_route') %}
								{% set currentRouteParams = app.request.attributes.get('_route_params') %}
								{% set currentPath = path(currentRoute, currentRouteParams) %}
								<a href="{{currentPath}}" id="click-reply-reply-{{reply.id}}" data-turbo-frame="_self" class="hidden"></a>
							</div>
						</div>
						{% set n = n + 1 %}
					{% endif %}
				{% endfor %}
			</turbo-frame>
		</div>
	</div>
	{# dd #}
{% endif %}
