{% set pic_bg = item.cover|replace({'/upload/': '/upload/o_vectorize:colors:3,o_10,'}) %}
{% set pic = item.cover %}
{% set chap_content = "Aucun contenu" %}
{% if item.summary %}
	{% set chap_content = item.summary %}
{% else %}
	{% set nbr = 0 %}
	{% for chap in item.publicationChapters|sort((a, b) => a.orderDisplay <=> b.orderDisplay) %}
		{% if nbr == 0 and chap.status == 2 %}
			{% set chap_content = chap.content|regex_replace('/<p.*?>/i', ' ') %}
			{% if chap_content|length < 10 %}
				{% set chap_content = "<span class='italic'>Aucun contenu</span>" %}
			{% else %}
				{% set chap_content = chap_content|striptags|slice(0,300) ~ "..." %}
			{% endif %}
			{% set nbr = nbr + 1 %}
		{% endif %}
	{% endfor %}
{% endif %}
<div class="publication-card " id="publication-{{item.id}}">
	<div class="publication-header bg-cover bg-center bg-none">
		<div class="left flex flex-row">
			<div class="left-1">
				<img alt="Photo de couverture de {{item.title}}" class="grayscale-[50%] rounded   object-cover lazy animate-pulse animate__animated bg-slate-300  {% if not pic %}  dark:blur-none dark:bg-slate-300 {% endif %}" width="529" height="793" loading="lazy" src="" data-src="{% if pic %}{{pic}}{% else %}{{ "/images/no-cover.png" }} {% endif %}" alt=""/>
			</div>
			<div class="left-2">
				<h5 class="title">
					<a href="{{ path("app_publication_show_one", {id:item.id, slug:item.slug}) }}" target="_top" class=" text-slate-800  dark:text-slate-300 leading-5 font-medium hover:underline">{{ item.title }}</a>
				</h5>
				<small class="author">
					<i class="fa-duotone fa-feather-pointed opacity-50 author-icon"></i>
					<a href="{{ path("app_user", {username:item.user.username}) }}" class="hover:underline" target="_top">{{ item.user.nickname }}</a>
				</small>
			</div>
		</div>
		<div class="right">
			{% set chapterWithOrderDisplayZero = null %}
			{% for chapter in item.publicationChapters|slice(0, (chapterWithOrderDisplayZero ? 0 : item.publicationChapters|length)) %}
				{% if chapter.orderDisplay == 0 %}
					{% set chapterWithOrderDisplayZero = chapter %}
				{% endif %}
			{% endfor %}
			{% if chapterWithOrderDisplayZero %}
				{% set firstChapId = chapterWithOrderDisplayZero.id %}
				{% set firstChapSlug = chapterWithOrderDisplayZero.slug %}
			{% else %}
				{% set firstChapId = item.publicationChapters|first.id %}
				{% set firstChapSlug = item.publicationChapters|first.slug %}
			{% endif %}
			<a href="{{ path("app_chapter_show", {idChap:firstChapId, user:item.user.username, slugPub:item.slug, slug:firstChapSlug}) }}" target="_top" class="button-classic button-slate">
				<span class="text-xs md:text-sm flex flex-row items-center gap-x-3">
					<i class="fa-duotone fa-book-open-reader"></i>
					Lire
				</span>
			</a>
		</div>
	</div>
	<div class="publication-stats">
		{% if slugCat == "all" %}
			<a class=" z-50 " href="{{ path("app_publication_show_all_category", {slug:item.category.slug, page:queryPage,sortby:querySortby, order:queryOrder, keystring:queryKeystring}) }}" target="_self">
				<span class="catColor-{{item.category.color}} kwTag">{{ item.category.name|lower }}</span>
			</a>
		{% endif %}
		<span class="summary card-stat font-medium cursor-help" data-tippy-content="{{chap_content|raw}}">
			<i class="fa-light fa-circle-info"></i>
			<span class="hidden md:inline">&nbsp;résumé</span>
		</span>
		{% set filteredChapters = item.publicationChapters|filter(chapter => chapter.status == 2) %}
		<span class="card-stat chapters" data-tippy-content="Nombre de feuilles">
			<i class="fa-light fa-file"></i>
			{{filteredChapters|length}}
		</span>
		{% set totalViews = item.publicationChapters|reduce((accumulator, chapter) => accumulator + chapter.publicationChapterViews|length, 0) %}
		<span class="views card-stat" data-tippy-content="Nombre de lecteurs">
			<i class="fa-light fa-eye"></i>
			{{totalViews}}
		</span>
		{% set totalLikes = item.publicationChapters|reduce((accumulator, chapter) => accumulator + chapter.publicationChapterLikes|length, 0) %}
		<span class="likes card-stat" data-tippy-content="Nombre de j'aime">
			<i class="fa-light fa-thumbs-up"></i>
			{{totalLikes}}
		</span>
		<span class="comments card-stat" data-tippy-content="Nombre de commentaires">
			<i class="fa-light fa-comments"></i>
			{{item.publicationComments|length}}
		</span>
		<span class="bookmarks card-stat" data-tippy-content="Ajouts à une collection">
			<i class="fa-folder-bookmark fa-light"></i>
			{% set pubBM = item.publicationBookmarks|length %}
			{% set totalBookmarks = 0 %}
			{% for items in item.publicationChapters %}
				{# On compte le nombre de bookmarks par chapitres #}
				{% set totalBookmarks = totalBookmarks + items.publicationBookmarks|length %}
			{% endfor %}
			{{pubBM + totalBookmarks}}
		</span>
		{% set lastPopularity = 0 %}
		{% if item.PublicationPopularities|length > 1 %}
			{% set nbr = item.PublicationPopularities|length %}
			{% set nbr = nbr - 1 %}
			{% set lastPopularity = item.PublicationPopularities[nbr].popularity %}
		{% endif %}
		{% if item.pop < lastPopularity %}
			{% set pop_text = "Popularité en baisse" %}
		{% elseif item.pop == lastPopularity %}
			{% set pop_text = "Popularité stagnante" %}
		{% else %}
			{% set pop_text = "Popularité en hausse" %}
		{% endif %}
		<span class="pop card-stat" data-tippy-content="{{pop_text}}">
			{% if item.pop < lastPopularity %}
				<i class="fa-regular fa-circle-arrow-down  text-lg text-red-700 dark:text-red-500"></i>
			{% elseif item.pop == lastPopularity %}
				<i class="fa-regular fa-equals text-lg"></i>
			{% else %}
				<i class="fa-regular fa-circle-arrow-up   text-lg text-green-700 dark:text-emerald-500"></i>
			{% endif %}
		</span>
	</div>
	<div class="publication-content">
		<div class="flex flex-row gap-x-2">
			<div class="h-auto w-2/6 relative border-slate-700 dark:border-slate-900">
				<a href="{{ path("app_publication_show_one", {id:item.id, slug:item.slug}) }}" aria-label="Accéder au récit « {{item.title}} »" target="_top">
					<img alt="Photo de couverture de {{item.title}}" class="grayscale-[50%] rounded  w-full h-full object-cover lazy animate-pulse animate__animated bg-white  {% if not pic %}  dark:bg-transparent  {% endif %}" width="529" height="793" loading="lazy" src="" data-src="{% if pic %}{{pic}}{% else %}{{ "/images/no-cover.png" }} {% endif %}" alt=""/>
				</a>
			</div>
			<div class="px-2 w-4/6  font-normal text-slate-600 font-sans text-sm leading-[1.5rem] dark:text-slate-400 line-clamp-[6] md:line-clamp-[11] lg:line-clamp-[7]">
				<p>{{chap_content|raw}}</p>
			</div>
		</div>
	</div>
	<div class="publication-bottom {% if item.publicationKeywords|length == 0 %}hidden{% endif %}">
		<ul class="text-cyan-600 flex flex-wrap px-3 mt-1 ">
			{% for pubKeyw in item.publicationKeywords %}
				<li>
					<a href="{{ path("app_publication_show_all_category", {slug:querySlug, page:queryPage,sortby:querySortby, order:queryOrder, keystring:pubKeyw.keyword|lower}) }}" target="_self">
						<span class="kwTag">{{ pubKeyw.keyword|lower }}</span>
					</a>
				</li>
			{% endfor %}

		</ul>
	</div>
</div>
