{% extends 'base.html.twig' %}

{% block title %}
	Mon compte —
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "user/_partials/_top.html.twig" %}
	<div class="w-full xl:w-8/12 flex flex-col justify-center mx-auto  -mt-7">
		<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
			<ul class="flex flex-wrap justify-center -mb-px text-md font-semibold text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
				<li class="mr-2" role="presentation">
					<button class="p-4 border-b-4 flex-row-custom-gapx-3  dark:bg-slate-800  text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
						<i class="fa-regular fa-circle-user"></i>
						<span>Compte</span>
					</button>
				</li>
				<li class="mr-2" role="presentation">
					<button class="p-4 border-b-4 flex-row-custom-gapx-3  dark:bg-slate-800  text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
						<i class="fa-regular fa-lock-keyhole"></i>
						<span>Mot de passe</span>
					</button>
				</li>
				<li role="notif-account">
					<button class="p-4 border-b-4 flex-row-custom-gapx-3  dark:bg-slate-800  text-slate-500 hover:text-slate-900 focus:text-slate-900  rounded-t-lg" id="contacts-tab" data-tabs-target="#notif-account" type="button" role="tab" aria-controls="notif-account" aria-selected="false">
						<i class="fa-regular fa-bell-exclamation"></i>
						<span>Notifications</span>
					</button>
				</li>
			</ul>
		</div>
		<div id="myTabContent">
			<div class="hidden p-4 rounded-lg  dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
				{{ form_start(form, {attr:{"data-turbo-frame":"_top"}}) }}
				{% include "./partials/_form-row.html.twig" with {'form': form.email, 'icon':"fa-envelope"} %}
				{% include "./partials/_form-row.html.twig" with {'form': form.username, 'icon':"fa-user-vneck"} %}
				<hr>
				{% include "./partials/_form-row.html.twig" with {'form': form.country, 'icon':"fa-earth-europe"} %}
				{% include "./partials/_form-row.html.twig" with {'form': form.city, 'icon':"fa-city"} %}
				{% include "./partials/_form-row.html.twig" with {'form': form.birth, 'icon':"fa-cake-candles"} %}
				<div class="flex justify-center">
					<button type="submit" class="button-classic button-slate w-full">
						<i class="fa-regular fa-circle-check"></i>
						Enregistrer les informations
					</button>
				</div>
				{{ form_end(form) }}
				<hr class="mb-5">
				<button data-micromodal-trigger="popup-confirm-delete-account" class="button-classic button-red w-full">
					<i class="fa-duotone fa-user-slash"></i>
					Supprimer mon compte
				</button>
			</div>
		</div>
		<div class="hidden p-4 rounded-lg dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
			<turbo-frame id="passChange">
				{{ form_start(passwordForm) }}
				{% if app.user.googleId is not null and app.user.password == "" %}
					<div class="bg-yellow-50 rounded-lg p-5 text-center text-yellow-700 flex flex-col gap-y-3">
						<i class="fa-regular fa-circle-info"></i>
						<span>
							Vous êtes actuellement connecté avec un compte Google, ce qui signifie que vous n'avez pas encore défini de mot de passe pour ce compte. Vous pouvez le faire ici en remplissant le formulaire ci-dessous.
						</span>
					</div>

				{% else %}
					{% include "./partials/_form-row.html.twig" with {'form': passwordForm.oldPassword, 'icon':"fa-key"} %}
				{% endif %}
				{% include "./partials/_form-row.html.twig" with {'form': passwordForm.plainPassword.first, 'icon':"fa-lock-keyhole"} %}
				{% include "./partials/_form-row.html.twig" with {'form': passwordForm.plainPassword.second, 'icon':"fa-lock-keyhole"} %}
				<div class="flex justify-center">
					<button type="submit" class="button-classic button-slate w-full">
						<i class="fa-regular fa-circle-check"></i>
						Modifier mon mot de passe
					</button>
					<div>
						{{ form_end(passwordForm) }}
					</div>
				</div>
			</turbo-frame>
		</div>
		<div class="hidden p-4 rounded-lg dark:bg-gray-800" id="notif-account" role="tabpanel" aria-labelledby="contacts-tab">
			<div class="flex flex-col gap-y-4 text-xs lg:text-sm">
				<div class="flex flex-row text-base pb-5">
					<div class="w-10/12 font-semibold dark:text-slate-100">Type de notification</div>
					<div class="w-1/12">
						<i data-tippy-content="Notifications par email" class="fa-duotone fa-envelope dark:text-slate-100"></i>
					</div>
					<div class="w-1/12">
						<i data-tippy-content="Notificatios web" class="fa-duotone fa-bell dark:text-slate-100"></i>
					</div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-comment-quote"></i>
						<span>Nouveau commentaire sur l'un de vos récits</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="1" type="checkbox" {{app.user.userParameters.notif1Mail is null or app.user.userParameters.notif1Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="1" type="checkbox" {{app.user.userParameters.notif1Web is null or app.user.userParameters.notif1Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-message-quote"></i>
						<span>Nouveau commentaire sur l'une de vos feuilles</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="2" type="checkbox" {{app.user.userParameters.notif2Mail is null or app.user.userParameters.notif2Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="2" type="checkbox" {{app.user.userParameters.notif2Web is null or app.user.userParameters.notif2Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-comment-heart"></i>
						<span>Nouveau like sur l'un de vos commentaires</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="3" type="checkbox" {{app.user.userParameters.notif3Mail is null or app.user.userParameters.notif3Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="3" type="checkbox" {{app.user.userParameters.notif3Web is null or app.user.userParameters.notif3Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-folder-bookmark"></i>
						<span>Nouvel ajout à une collection de l'un de vos chapitre</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="4" type="checkbox" {{app.user.userParameters.notif4Mail is null or app.user.userParameters.notif4Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="4" type="checkbox" {{app.user.userParameters.notif4Web is null or app.user.userParameters.notif4Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-download"></i>
						<span>Nouveau téléchargement d'une publication</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="5" type="checkbox" {{app.user.userParameters.notif5Mail is null or app.user.userParameters.notif5Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="5" type="checkbox" {{app.user.userParameters.notif5Web is null or app.user.userParameters.notif5Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-thumbs-up"></i>
						<span>Nouveau « j'aime » sur un chapitre</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="6" type="checkbox" {{app.user.userParameters.notif6Mail is null or app.user.userParameters.notif6Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="6" type="checkbox" {{app.user.userParameters.notif6Web is null or app.user.userParameters.notif6Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-file"></i>
						<span>Nouvelle feuille sur une publication que vous suivez</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="7" type="checkbox" {{app.user.userParameters.notif7Mail is null or app.user.userParameters.notif7Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="7" type="checkbox" {{app.user.userParameters.notif7Web is null or app.user.userParameters.notif7Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-square-rss"></i>
						<span>Nouvel abonnement à votre publication</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="8" type="checkbox" {{app.user.userParameters.notif8Mail is null or app.user.userParameters.notif8Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="8" type="checkbox" {{app.user.userParameters.notif8Web is null or app.user.userParameters.notif8Web == 1 ? "checked"}}></div>
				</div>
				<div class="flex flex-row notif-row">
					<div>
						<i class="fa-regular fa-comments"></i>
						<span>Nouvelle réponse à un commentaire</span>
					</div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="mail" data-notif-nb="9" type="checkbox" {{app.user.userParameters.notif9Mail is null or app.user.userParameters.notif9Mail == 1 ? "checked"}}></div>
					<div class="w-1/12"><input class="notif-checkbox" data-notif-type="web" data-notif-nb="9" type="checkbox" {{app.user.userParameters.notif9Web is null or app.user.userParameters.notif9Web == 1 ? "checked"}}></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal micromodal-slide z-50" id="popup-confirm-delete-account" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="popup-confirm-delete-account-title">
			<div class="py-3 text-center w-42  rounded-2xl">
				<div class="text-4xl mb-5 text-red-600 dark:text-red-400">
					<i class="fa-duotone fa-user-slash"></i>
				</div>
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-slate-300">Êtes-vous certain(e) de vouloir supprimer<br/>
					votre compte ?</h3>
				<p class="text-center text-red-500 font-normal">
					Cette action est irréversible.<br>Vous perdrez l'intégralité de vos données.</p>
				<div class="mt-10 flex justify-center gap-x-3">
					<button id="confirm-delete-account-button" data-micromodal-close type="button" data-url-delete="{{path("app_user_delete_account")}}" class="button-classic button-red">
						Oui, je suis certain(e)
					</button>
					<button type="button" data-micromodal-close class="button-classic button-slate">Non, j'annule</button>
				</div>
			</div>

		</div>
	</div>
</div>
{% include "user/_partials/_bottom.html.twig" %}{% endblock %}
