{% extends 'base.html.twig' %}

{% block title %}
	Mes récits
																																						—
	{{ parent() }}

{% endblock %}
{% block body %}
	{% include "user/_partials/_top.html.twig" %}
	<div class="block md:flex">
		<div class="w-full md:w-3/6   rounded">
			<div class="w-full  p-5 rounded-t border-b-[1px]  border-b-[#dee4e1] dark:border-b-slate-900 ">
				<h2 class="text-xl text-center mt-2 font-medium text-[#00473e] dark:text-slate-100">
					<span class="material-symbols-outlined">
						frame_person
					</span>
					<br>Informations générales
				</h2>
			</div>
			<div class="w-full rounded-b p-5 pb-2">
				{{ form_start(form, {attr:{"data-turbo-frame":"_top"}}) }}
				{% include "./partials/_form-row.html.twig" with {'form': form.email, 'icon':"mail"} %}
				{% include "./partials/_form-row.html.twig" with {'form': form.username, 'icon':"alternate_email"} %}
				<hr>
				{% include "./partials/_form-row.html.twig" with {'form': form.country, 'icon':"public"} %}
				{% include "./partials/_form-row.html.twig" with {'form': form.city, 'icon':"location_city"} %}
				{% include "./partials/_form-row.html.twig" with {'form': form.birth, 'icon':"cake"} %}
				<div class="flex justify-center">
					<button type="submit" class="button-classic button-slate">
						<span class="material-symbols-outlined">
							check_circle
						</span>
						Enregistrer les informations
					</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
		<div class="w-full md:w-3/6 rounded h-auto ">
			<div class="w-full p-5 rounded-t border-b-[1px] border-b-[#dee4e1] dark:border-b-slate-900 ">
				<h2 class="text-xl text-center mt-2 font-medium text-slate-700 dark:text-slate-100">
					<span class="material-symbols-outlined">
						lock_reset
					</span>
					<br>Modification de votre mot de passe</h2>
			</div>
			<div class="w-full  rounded-b p-5 pb-2">
				{{ form_start(passwordForm, {attr:{"data-turbo-frame":"_top"}}) }}
				{% include "./partials/_form-row.html.twig" with {'form': passwordForm.oldPassword, 'icon':"password"} %}
				{% include "./partials/_form-row.html.twig" with {'form': passwordForm.plainPassword.first, 'icon':"enhanced_encryption"} %}
				{% include "./partials/_form-row.html.twig" with {'form': passwordForm.plainPassword.second, 'icon':"enhanced_encryption"} %}
				<div class="flex justify-center">
					<button type="submit" class="button-classic button-slate">
						<span class="material-symbols-outlined">
							check_circle
						</span>
						Modifier mon mot de passe
					</button>
					<div>
						{{ form_end(passwordForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "user/_partials/_bottom.html.twig" %}

{% endblock %}
