{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{ userInfo.nickname }}
	—
	{{ parent() }}

{% endblock %}
{% block body %}
	{% include "user/_partials/_top.html.twig" %}
	<section class="col-span-12 md:col-span-10 md:col-start-2">
		<turbo-frame id="up_profil" class="w-full md:flex pt-10 gap-x-5">
			<div class="w-full md:w-3/12 py-10 pt-0 px-5 text-center dark:shadow-2xl mb-10 rounded-lg">
				<h1 class="text-3xl md:text-2xl -mt-14 font-semibold text-center mb-0 py-2 px-2 rounded text-slate-700 font-sans">{{ userInfo.nickname }}</h1>
				{% if userInfo.profilPicture %}
					<img class="w-40 h-40 mx-auto rounded-lg shadow-lg object-fill dark:ring-gray-500" src="{{userInfo.profilPicture}}">
				{% else %}
					<div class="w-40 h-40 text-9xl no-avatar">{{userInfo.username|slice(0,1)}}</div>
				{% endif %}
				<p class="text-slate-700 mb-5 mt-10 text-center {{ not userInfo.about ? " hidden"}}  dark:text-slate-200 ">{{ userInfo.about|nl2br }}</p>
				{% if userInfo.website or userInfo.twitter or userInfo.instagram or userInfo.facebook %}
					<div class="flex justify-center order-first md:order-first text-2xl mt-10 mb-2 -ml-2 gap-x-5">&nbsp;
						{% if userInfo.website %}
							<a href="{{userInfo.website}}" target="_blank">
								<i data-tippy-content="Visiter le site web de {{userInfo.nickname}}" class="fa-regular fill-slate-800 fa-earth-europe "></i>
							</a>
						{% endif %}
						{% if userInfo.twitter %}
							<a href="{{userInfo.twitter}}" target="_blank">

								<i class="fa-brands fa-twitter " style="color:#1da1f2" data-tippy-content="Voir le profil Twitter de {{userInfo.nickname}}"></i>
							</a>
						{% endif %}
						{% if userInfo.instagram %}
							<a href="{{userInfo.instagram}}" target="_blank">

								<i class="fa-brands fa-instagram " style="color:#e1306c" data-tippy-content="Voir le profil Instagram de {{userInfo.nickname}}"></i>
							</a>
						{% endif %}
						{% if userInfo.facebook %}
							<a href="{{userInfo.facebook}}" target="_blank">

								<i class="fa-brands fa-facebook" style="color:#1877f2" data-tippy-content="Voir le profil Facebook de {{userInfo.nickname}}"></i>
							</a>
						{% endif %}
					</div>
					{% if app.user and app.user.id == userInfo.id %}
						<hr class="mb-10 mt-10">
					{% endif %}
				{% endif %}
				{% if app.user and app.user.id == userInfo.id %}
					<a href="{{ path('app_user_edit', {'username': app.user.username}) }}" data-turbo-frame="up_profil" class="button-classic order-start md:order-start button-slate mx-auto w-full">
						<span class="material-icons-outlined">
							contact_emergency
						</span>
						Modifier mon profil
					</a>
					<hr class="block mt-10 md:hidden">
				{% endif %}
			</div>
			<div class="w-full md:w-9/12 parent border-l-0  pl-0 md:pl-10 dark:border-slate-700">
				<h2 class="{{pubInfo|length > 1 ? "text-left" : "text-center"}} text-left text-4xl text-slate-800 dark:text-slate-300 child flex items-center gap-x-5">
					<i class="fa-duotone fa-book-open-cover"></i>
					{{pubInfo|length > 1 ? pubInfo|length ~ " récits publiés" : pubInfo|length == 0 ? "Aucun récit publié" : pubInfo|length ~ " récit publié"}}
				</h2>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-7 gap-x-10 mb-24 mt-20">
					{% for pub in pubInfo %}
						<div class="flex flex-col justify-between h-full">
							<h1 class="text-xl  text-slate-800 dark:text-slate-200 mb-4">
								<a href="{{ path("app_publication_show_one", {id:pub.id, slug:pub.slug}) }}" target="_top" class="hover:underline font-medium font-sans">{{ pub.title }}</a>
							</h1>
							<div class="flex flex-row gap-x-5 text-slate-600 dark:text-slate-400">

								<div class="rounded w-2/6">
									<img src="{{pub.cover ? pub.cover : "/images/no-cover.png"}}" class="w-full h-full bg-white shadow rounded  object-cover">
								</div>

								{% if pub.summary %}
									<p class=" text-justify line-clamp-[8] md:line-clamp-[8] flex-grow font-sans text-xs  w-4/6">
										{{ pub.summary }}
									</p>
								{% else %}
									{% set nbr = 0 %}
									{% for chap in pub.publicationChapters %}
										{% if nbr == 0 %}
											<p class=" text-justify line-clamp-[8] md:line-clamp-[8] flex-grow font-sans text-xs   w-4/6">
												{{ chap.content|regex_replace('/<p.*?>/i', ' ')|striptags }}
											</p>
											{% set nbr = nbr + 1 %}
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</turbo-frame>
	</section>
	{% include "user/_partials/_bottom.html.twig" %}
{% endblock %}
