{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{ userInfo.nickname is defined ? userInfo.nickname : userInfo.username }}
	—
	{{ parent() }}

{% endblock %}
{% block body %}
	{% include "user/_partials/_top.html.twig" %}
	<turbo-frame id="up_profil" class="w-full md:flex pt-10">
		<div class="w-12/12 md:w-4/12 py-10 pt-0 px-5 relative {% if app.user and app.user.id == userInfo.id or is_granted('ROLE_ADMIN') %}-mt-5{% else %}-mt-14{% endif %} md:-mt-10 text-center dark:shadow-2xl mb-10 flex flex-col  rounded-lg">
			{% if userInfo.profilPicture %}
				<div class="relative w-40 h-40 mx-auto">
					<img class="w-40 h-40 mx-auto rounded-lg   shadow-lg object-fill order-1  dark:ring-gray-500" src="{{userInfo.profilPicture}}">
					{% if app.user and app.user.id != userInfo.id %}
						<button type="button" class="button-classic {{follow ? " button-emerald" : " button-sky" }} follow-user" id="follow-user" data-user-id="{{userInfo.id}}">
							{% if follow %}
								<i class="fa-regular fa-user-group"></i>
								Suivi(e) !
							{% else %}
								<i class="fa-regular fa-user-plus"></i>
								Suivre
							{% endif %}
						</button>
					{% endif %}
				</div>
			{% else %}
				<div class="w-40 h-40 text-9xl no-avatar relative catColor-{{random(0,19)}} order-1">
					{{userInfo.nickname|slice(0,1)}}
					{% if app.user and app.user.id != userInfo.id %}
						<button type="button" class="button-classic {{follow ? " button-emerald" : " button-sky" }} follow-user-no-avatar" id="follow-user" data-user-id="{{userInfo.id}}">
							{% if follow %}
								<i class="fa-regular fa-user-group"></i>
								Suivi(e) !
							{% else %}
								<i class="fa-regular fa-user-plus"></i>
								Suivre
							{% endif %}
						</button>
					{% endif %}
				</div>
			{% endif %}

			<h1 class="text-3xl md:text-2xl mb-5 mt-5 flex flex-col gap-y-1  order-2 md:order-1  font-semibold text-center py-2 px-2 rounded text-slate-700 font-sans">
				{{ userInfo.nickname }}
				<small class="font-normal text-xs -mt-2.5">@{{userInfo.username}}</small>
				{% if app.user and userInfo.isFollowing(app.user) %}
					<span class=" w-40 order-4  mt-2 bg-green-100 text-green-800 text-xs font-semibold mx-auto px-1.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Vous suit</span>
				{% endif %}
			</h1>
			<p class="text-slate-700 mb-5  text-center order-3 {{ not userInfo.about ? " hidden"}}  dark:text-slate-200 ">{{ userInfo.about|nl2br }}</p>
			{% if userInfo.website or userInfo.twitter or userInfo.instagram or userInfo.facebook %}
				<div class="flex justify-center order-4 text-2xl mt-5 mb-2 -ml-2 gap-x-5">&nbsp;
					{% if userInfo.website %}
						<a href="{{userInfo.website}}" target="_blank">
							<i data-tippy-content="Visiter le site web de {{userInfo.nickname}}" class="fa-duotone  text-slate-800 dark:text-slate-300 fa-earth-europe transition transform hover:rotate-360"></i>
						</a>
					{% endif %}
					{% if userInfo.twitter %}
						<a href="{{userInfo.twitter}}" target="_blank">
							<i class="fa-brands fa-twitter " style="color:#1da1f2" data-tippy-content="Voir le profil Twitter de {{userInfo.nickname}}"></i>
						</a>
					{% endif %}
					{% if userInfo.instagram %}
						<a href="{{userInfo.instagram}}" target="_blank">
							<i class="fa-brands fa-instagram " style="color:#e1306c" data-tippy-content="Voir le profil Instagram de {{userInfo.nickname}}"></i>
						</a>
					{% endif %}
					{% if userInfo.facebook %}
						<a href="{{userInfo.facebook}}" target="_blank">

							<i class="fa-brands fa-facebook" style="color:#1877f2" data-tippy-content="Voir le profil Facebook de {{userInfo.nickname}}"></i>
						</a>
					{% endif %}
				</div>
				{% if app.user and app.user.id == userInfo.id or is_granted('ROLE_ADMIN') %}
					<hr class="mb-10 mt-5 order-5">
				{% endif %}
			{% endif %}
			{% if app.user and app.user.id == userInfo.id %}
				<a href="{{ path('app_user_edit', {'username': userInfo.username}) }}" data-turbo-frame="up_profil" class="button-classic order-last md:order-start mt-0 button-slate mx-auto w-full">
					<i class="fa-duotone fa-user-pen"></i>
					Modifier mon profil
				</a>
			{% endif %}
		</div>
		<div class="w-full parent border-l-0 md:ml-10 ml-0 mt-10 md:-mt-20 dark:border-slate-700 p-0  {% if app.user and app.user.id == userInfo.id  or is_granted('ROLE_ADMIN') %}-mt-10{% endif %}">
			<turbo-frame id="user-nav">
				{% include "/user/_partials/_user-nav.html.twig" with {username:userInfo.username} %}
				<div class="my-special-hr ">
					<hr>
					<span>{{pubInfo|length > 1 ? pubInfo|length ~ " récits" : pubInfo|length == 0 ? "Aucun récit" : pubInfo|length ~ " récit"}}</span>
					<hr class="mb-5">
				</div>
				<div class="display_publications twoMax  profil">
					{% for item in pubInfo %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'all', 'queryPage':1, 'sortBy':'pop', 'querySortby':'pop', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
					{% endfor %}
				</div>
				<div class="my-special-hr ">
					<hr>
					<span>{{challengeInfo|length > 1 ? challengeInfo|length ~ " réponses d'exercice" : challengeInfo|length == 0 ? "Aucune réponse d'exercice" : challengeInfo|length ~ " réponse d'exercice"}}</span>
					<hr class="mb-5">
				</div>
				<div class="display_publications twoMax  profil">
					{% for item in challengeInfo %}
						{% include "publication/_partials/_show_all-publication.html.twig" with {'item': item, 'slugCat':'all', 'queryPage':1, 'sortBy':'pop', 'querySortby':'pop', 'queryOrder':'desc','queryKeystring':null, 'querySlug':item.slug} %}
					{% endfor %}
				</div>
			</turbo-frame>
		</div>
	</turbo-frame>
	<input type="file" class="hidden" id="pp" name="pp">
	<input type="file" class="hidden" id="pbg" name="pbg">

	{% include "user/_partials/_bottom.html.twig" %}
{% endblock %}
