{% set current_url = app.request.uri %}
{% extends 'base.html.twig' %}

{% block title %}Création d'un sujet |
	{{category.name}}
	| Forum — Scrilab
{% endblock %}

{% block body %}
	<div class="lg:w-9/12 mx-auto">

		<nav class="breadcrumb" aria-label="Breadcrumb">
			<ol>

				<li>
					<i class="fa-regular fa-comments"></i>
					<a href="{{path("app_forum")}}">
						Forums
					</a>
				</li>
				<li>
					<i class="fa-duotone fa-angle-right"></i>
					<div class="flex flex-row gap-x-0 items-center">
						<i class="fa-regular {{category.icon}}"></i>
						<a href="{{path("app_forum_topic", {slug:category.slug})}}">
							{{category.name}}
						</a>
					</div>
				</li>
				<li aria-current="page">
					<div>
						<i class="fa-duotone fa-angle-right"></i>
						{% if 'update' in current_url %}
							<span>Modification :
								<a href="{{path("app_forum_topic_read", {slug:category.slug, slugTopic:topic.slug, id:topic.id})}}" class="font-semibold hover:underline">
									{{topic.title|length < 16 ? topic.title : topic.title|slice(0,15) ~ "..." }}
								</a>
							</span>
						{% else %}
							<span>Création d'un sujet</span>
						{% endif %}
					</div>
				</li>
			</ol>
		</nav>
		<div>
			{% if 'update' in current_url %}
				<div class="flex flex-row gap-x-2 items-center w-full justify-end font-semibold dark:text-slate-400">
					<i class="fa-duotone fa-times"></i>
					<a href="{{path("app_forum_topic_read", {slug:category.slug, slugTopic:topic.slug, id:topic.id})}}" class="hover:underline">Annuler</a>
				</div>
			{% endif %}
			{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
			{% include "./partials/_form-row.html.twig" with {'form': form.title, 'icon':"fa-heading"} %}
			{% include "./partials/_form-row.html.twig" with {'form': form.content, 'icon':null, classWidget:"h-96"} %}
			<button type="submit" class="button-classic button-blue w-full">
				{% if 'update' in current_url %}
					Modifier le sujet
				{% else %}
					Créer le sujet
				{% endif %}
			</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
