{% extends 'base.html.twig' %}

{% block title %}Discuter — Scrilab
{% endblock %}

{% block body %}

	<div class="lg:w-9/12 mx-auto">

		<h1 class="text-center font-serif  md:mt-0">Discuter</h1>
		<div class="flex flex-col items-start gap-x-10 pt-5 gap-y-5">
			{% for item in category|sort((b, a) => b.orderDisplay <=> a.orderDisplay) %}
				<div class="p-10 py-7 bg-slate-50 dark:bg-slate-900 rounded-lg flex flex-col w-full">
					<div class="flex flex-row gap-x-10 items-center">
						<div class="min-w-[3rem] md:min-w-[4.8rem]  dark:grayscale-[40%] ">
							<a href="{{path("app_forum_topic", {slug:item.slug})}}" arial-label="Icone de la catégorie {{item.name}}" class="text-lg md:text-xl font-semibold ">
								<div class="rounded-full p-2 md:p-5 catColor-{{item.color ? item.color}}  w-full flex justify-center">
									<i class="fa-duotone {{item.icon}} text-2xl md:text-4xl catColorText-{{item.color ? item.color}} dark:text-slate-300"></i>
								</div>
							</a>
						</div>
						<div class="flex flex-col w-full  gap-y-2 dark:text-slate-300">
							<h2 class="text-base flex  flex-col justify-between gap-x-2 items-start md:leading-normal leading-tight gap-y-2 md:items-baseline relative">
								<span>
									<a href="{{path("app_forum_topic", {slug:item.slug})}}" class=" hover:underline text-lg md:text-xl font-semibold ">{{item.name}}</a>
									<p class="dark:text-slate-400 text-slate-500 md:text-base text-sm">{{item.description|striptags}}</p>
								</span>
								<div class="text-xs w-full opacity-60 flex flex-col gap-y-2 md:justify-end justify-start">
									<div>
										<i class="fa-regular fa-layer-group {{item.forumTopics|length == 0 ? " hidden" }}"></i>
										{{item.forumTopics|length == 0 ? "<i class='fa-kit fa-regular-layer-group-slash'></i>&nbsp;&nbsp;Aucun sujet" : item.forumTopics|length == 1 ? "1 sujet" : item.forumTopics|length ~ " sujets"}}
									</div>
									{% if item.forumTopics|length > 0 %}
										<div>
											<i class="fa-regular fa-newspaper"></i>
											Dernier sujet —
											<a href="{{path("app_forum_topic_read", {slugTopic:item.forumTopics|last.slug, slug:item.slug, id:item.forumTopics|last.id})}}" class="font-semibold hover:underline">{{item.forumTopics|last.title}}</a>
										</div>
									{% endif %}
								</div>
							</h2>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
